<div *ngIf="loading"
     style="position:absolute;top:30%;left: 0px;right: 0px;text-align: center;">
  loading...
</div>
<div *ngIf="!loading"
     style="padding: 16px;max-width: 480px;">
  <div>班級：{{behavior.ClassName}}</div>
  <div>座號：{{behavior.SeatNo}}</div>
  <div>學號：{{behavior.StudentNumber}}</div>
  <div>學生姓名：{{behavior.StudentName}}</div>
  <div>英文姓名：{{behavior.StudentEnglishName}}</div>
  <div>課程名稱：{{behavior.CourseName}}</div>
  <div>教師名稱：{{behavior.TeacherWhoWrite}}</div>
  <div>輸入日期：{{behavior.CreateDate}}</div>
  <div>內容：</div>
  <div style="text-indent: 25px;word-break: break-word;padding-left: 25px;">{{behavior.Comment}}</div>

  <div>
    <label style="display: inline-block;">
      <input type="checkbox"
             [disabled]="behavior.MailSendParent"
             [checked]="behavior.NotifyParent"
             (change)="behavior.NotifyParent = !behavior.NotifyParent">
      <span>通知家長</span>
      <span *ngIf="behavior.MailSendParent">(已通知)</span>
    </label>

    <!-- <label style="display: inline-block;">
    <input type="checkbox"
           [disabled]="behavior.MailSendStudent"
           [checked]="behavior.NotifyStudent"
           (change)="behavior.NotifyStudent = !behavior.NotifyStudent">
      <span>通知學生</span>
      <span *ngIf="behavior.MailSendStudent">(已通知)</span>
    </label> -->
    <button type="button"
            (click)="save()">儲存</button>
  </div>
</div>