
<!-- 學生個人 - 缺曠獎懲 -->
<div class="tab-pane fade-in"
      id="listThree">
    <div class="d-md-flex align-items-center sub-title mb-3">
        <h4 class="mb-0 mr-auto">缺曠獎懲</h4>
    </div>

    <div class="dropdown mb-3">
        <button class="btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">107學年度 第1學期</button>
        <div class="dropdown-menu">
            <a class="dropdown-item"
                href="#">107學年度 第1學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第2學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第1學期</a>
        </div>
    </div>
    <h5 class="mb-2">德行與日常生活表現</h5>
    <div class="list-group"
          id="accordionOne">
        <div class="expansion-panel list-group-item">
            <a aria-controls="collapseOne"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#collapseOne"
                id="headingOne">
                德行
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingOne"
                  class="collapse"
                  data-parent="#accordionOne"
                  id="collapseOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label>日常生活表現及校內外特殊表現</label>
                        你的個性溫和有禮，常面帶笑容，人緣不錯。如果做事能細心些，將會更完美。
                    </li>
                    <li class="list-group-item">
                        <label>具體建議</label>
                        蘭心慧質，嫻雅溫柔，頗有大家閨秀的風範，功課表現亦佳，可謂品學兼優。
                    </li>
                    <li class="list-group-item">
                        <label>導師評語</label>
                        無
                    </li>
                </ul>
            </div>
        </div>
        <div class="expansion-panel list-group-item">
            <a aria-controls="collapseTwo"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#collapseTwo"
                id="headingTwo">
                日常生活表現
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingTwo"
                  class="collapse"
                  data-parent="#accordionOne"
                  id="collapseTwo">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label>愛整潔：能保持衣著儀容整潔；能保持座位及抽屜的整潔</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>有禮貌：言談舉止端榜不踰矩;對師長態度謙恭有禮;看到師長、同學或來賓會問好</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>守秩序：上課能按時進教室;能覆行班規或生活公約;能依規定攜帶學用品;能遵守教師課堂規範之行為;能遵守考試規則</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>責任心：擔任班級工作能克盡職責;上課能專心聽講;能按時繳交作業</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>公德心：能節約用水用電，做好資源回收;能愛惜及善用公物</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>友愛關懷：能友愛同學;熱心參與公共服務</label>
                        完全符合
                    </li>
                    <li class="list-group-item">
                        <label>團隊合作：能與同學互助合作;積極參與團體活動</label>
                        完全符合
                    </li>
                </ul>
            </div>
        </div>
        <div class="expansion-panel list-group-item">
            <a aria-controls="collapseThree"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#collapseThree"
                id="headingThree">
                日常生活表現具體建議
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingThree"
                  class="collapse"
                  data-parent="#accordionOne"
                  id="collapseThree">
                <div class="expansion-panel-body">
                    盼多關心身體健康，並主動參與學習。
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-3 mb-2">缺曠紀錄</h5>
    <div class="list-group"
          id="absence">
        <div class="expansion-panel list-group-item">
            <a aria-controls="absenceOne"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#absenceOne"
                id="headingOne">
                <div>
                    <span class="badge badge-info mr-2">35</span>
                    全部
                    <span class="badge badge-light ml-2">非明細一般：25</span>
                    <span class="badge badge-light ml-2">一般：8</span>
                    <span class="badge badge-light ml-2">集會：2</span>
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingOne"
                  class="collapse"
                  data-parent="#absence"
                  id="absenceOne">
                <div class="table-responsive table-hover table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">日期</th>
                                <th scope="col">升旗</th>
                                <th scope="col">一</th>
                                <th scope="col">二</th>
                                <th scope="col">三</th>
                                <th scope="col">四</th>
                                <th scope="col">午休</th>
                                <th scope="col">五</th>
                                <th scope="col">六</th>
                                <th scope="col">七</th>
                                <th scope="col">八</th>
                                <th scope="col">九</th>
                                <th scope="col">十</th>
                                <th scope="col">十一</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"
                                    class="text-nowrap">2018-06-28</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td scope="row"
                                    class="text-nowrap">2018-05-17</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>病</td>
                                <td>病</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="expansion-panel list-group-item">
            <a aria-controls="absenceFour"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#absenceFour"
                id="headingFour">
                <div>
                    <span class="badge badge-warning mr-2">25</span>
                    非明細一般
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingFour"
                  class="collapse"
                  data-parent="#absence"
                  id="absenceFour">
                <div class="expansion-panel-body">
                    僅轉入生與特殊狀況會以非明細記錄
                </div>
            </div>
        </div>
        <div class="expansion-panel list-group-item">
            <a aria-controls="absenceTwo"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#absenceTwo"
                id="headingTwo">
                <div>
                    <span class="badge badge-info mr-2">8</span>
                    公假
                    <span class="badge badge-light ml-2">一般：6</span>
                    <span class="badge badge-light ml-2">集會：2</span>
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingTwo"
                  class="collapse"
                  data-parent="#absence"
                  id="absenceTwo">
                <div class="table-responsive table-hover table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">日期</th>
                                <th scope="col">升旗</th>
                                <th scope="col">一</th>
                                <th scope="col">二</th>
                                <th scope="col">三</th>
                                <th scope="col">四</th>
                                <th scope="col">午休</th>
                                <th scope="col">五</th>
                                <th scope="col">六</th>
                                <th scope="col">七</th>
                                <th scope="col">八</th>
                                <th scope="col">九</th>
                                <th scope="col">十</th>
                                <th scope="col">十一</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"
                                    class="text-nowrap">2018-06-28</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td>公</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="expansion-panel list-group-item">
            <a aria-controls="absenceThree"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#absenceThree"
                id="headingThree">
                <div>
                    <span class="badge badge-info mr-2">2</span>
                    病假
                    <span class="badge badge-light ml-2">一般：2</span>
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingThree"
                  class="collapse"
                  data-parent="#absence"
                  id="absenceThree">
                <div class="table-responsive table-hover table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">日期</th>
                                <th scope="col">升旗</th>
                                <th scope="col">一</th>
                                <th scope="col">二</th>
                                <th scope="col">三</th>
                                <th scope="col">四</th>
                                <th scope="col">午休</th>
                                <th scope="col">五</th>
                                <th scope="col">六</th>
                                <th scope="col">七</th>
                                <th scope="col">八</th>
                                <th scope="col">九</th>
                                <th scope="col">十</th>
                                <th scope="col">十一</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"
                                    class="text-nowrap">2018-05-17</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>病</td>
                                <td>病</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-3 mb-2">獎懲紀錄</h5>
    <ul class="nav nav-pills mb-2 reward"
        id="pills-tab"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
                id="pills-all-tab"
                data-toggle="pill"
                href="#pills-all"
                role="tab"
                aria-controls="pills-all"
                aria-selected="true">綜合<span class="badge badge-light mt-1">5</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-goodB-tab"
                data-toggle="pill"
                href="#pills-goodB"
                role="tab"
                aria-controls="pills-goodB"
                aria-selected="true">大功<span class="badge badge-success mt-1">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-goodS-tab"
                data-toggle="pill"
                href="#pills-goodS"
                role="tab"
                aria-controls="pills-goodS"
                aria-selected="false">小功<span class="badge badge-success mt-1">1</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-good-tab"
                data-toggle="pill"
                href="#pills-good"
                role="tab"
                aria-controls="pills-good"
                aria-selected="false">嘉獎<span class="badge badge-success mt-1">4</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-badB-tab"
                data-toggle="pill"
                href="#pills-badB"
                role="tab"
                aria-controls="pills-badB"
                aria-selected="true">大過<span class="badge badge-danger mt-1">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-badS-tab"
                data-toggle="pill"
                href="#pills-badS"
                role="tab"
                aria-controls="pills-badS"
                aria-selected="false">小過<span class="badge badge-danger mt-1">0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-bad-tab"
                data-toggle="pill"
                href="#pills-bad"
                role="tab"
                aria-controls="pills-bad"
                aria-selected="false">警告<span class="badge badge-danger mt-1">0</span></a>
        </li>
    </ul>
    <div class="tab-content"
          id="pills-tabContent">
        <div class="tab-pane fade show active"
              id="pills-all"
              role="tabpanel"
              aria-labelledby="pills-all-tab">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2018-01-30</label>
                    <span class="media-body">擔任糾察隊，表現優異</span>
                    <span class="text-nowrap ml-auto">嘉獎：2</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-12-31</label>
                    <span class="media-body">12月份整潔治序比賽第1名</span>
                    <span class="text-nowrap ml-auto">小功：1 嘉獎：1</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-11-28</label>
                    <span class="media-body">
                        毆打同學
                        <p class="text-warning font-weight-bold mb-0">2018-12-09 已銷過：與同學和解，並勞動服務期滿</p>
                    </span>
                    <span class="text-danger text-nowrap ml-auto">小過：1 小過：1</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-09-30</label>
                    <span class="media-body">9月份整潔治序比賽第1名</span>
                    <span class="text-nowrap ml-auto">嘉獎：1</span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade"
              id="pills-goodB"
              role="tabpanel"
              aria-labelledby="pills-goodB-tab">

        </div>
        <div class="tab-pane fade"
              id="pills-goodS"
              role="tabpanel"
              aria-labelledby="pills-goodS-tab">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-12-31</label>
                    <span class="media-body">12月份整潔治序比賽第1名</span>
                    <span class="text-nowrap ml-auto">小功：1 嘉獎：1</span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade"
              id="pills-good"
              role="tabpanel"
              aria-labelledby="pills-good-tab">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2018-01-30</label>
                    <span class="media-body">擔任糾察隊，表現優異</span>
                    <span class="text-nowrap ml-auto">嘉獎：2</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-12-31</label>
                    <span class="media-body">12月份整潔治序比賽第1名</span>
                    <span class="text-nowrap ml-auto">小功：1 嘉獎：1</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-09-30</label>
                    <span class="media-body">9月份整潔治序比賽第1名</span>
                    <span class="text-nowrap ml-auto">嘉獎：1</span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade"
              id="pills-badB"
              role="tabpanel"
              aria-labelledby="pills-badB-tab">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-11-28</label>
                    <span class="media-body">
                        毆打同學
                        <p class="text-warning font-weight-bold mb-0">2018-12-09 已銷過：與同學和解，並勞動服務期滿</p>
                    </span>
                    <span class="text-danger text-nowrap ml-auto">小過：1 小過：1</span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade"
              id="pills-badS"
              role="tabpanel"
              aria-labelledby="pills-badS-tab">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex align-items-baseline">
                    <label class="d-inline text-nowrap mb-0 mr-2">2017-11-28</label>
                    <span class="media-body">
                        毆打同學
                        <p class="text-warning font-weight-bold mb-0">2018-12-09 已銷過：與同學和解，並勞動服務期滿</p>
                    </span>
                    <span class="text-danger text-nowrap ml-auto">小過：1 小過：1</span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade"
              id="pills-bad"
              role="tabpanel"
              aria-labelledby="pills-bad-tab">

        </div>
    </div>
</div>