<div class="mb-3" mat-dialog-title>
  <div class="my-toggle-btn">
    <mat-button-toggle-group *ngIf="target === 'TEACHER'" (change)="toggleBtn($event)">
      <mat-button-toggle value="AllTeacher" aria-label="全校教師">全校教師</mat-button-toggle>
      <mat-button-toggle value="Class" aria-label="班導師">班導師</mat-button-toggle>
      <mat-button-toggle value="Tag" aria-label="類別教師">類別教師</mat-button-toggle>
      <mat-button-toggle value="ByKeyword" aria-label="依關鍵字搜尋">依關鍵字搜尋</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group *ngIf="target === 'STUDENT'" (change)="toggleBtn($event)">
      <!-- <mat-button-toggle value="AllStudent" aria-label="全校學生">全校學生</mat-button-toggle>
      <mat-button-toggle value="Class" aria-label="班級學生">班級學生</mat-button-toggle>
      <mat-button-toggle value="Tag" aria-label="類別學生">類別學生</mat-button-toggle> -->
      <mat-button-toggle value="ByKeyword" aria-label="依關鍵字搜尋">依關鍵字搜尋</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <h5><ng-container [ngTemplateOutlet]="selectedDialogTitle"></ng-container></h5>
</div>

<mat-dialog-content>
  <ng-template #tplChooser [cdkPortalOutlet]="selectedPortal"></ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <ng-container [ngTemplateOutlet]="selectedDialogAction"></ng-container>
  <button class="ml-1" mat-button mat-dialog-close cdkFocusInitial>關閉</button>
</mat-dialog-actions>

<ng-template #tplMain>
  <p>{{ message }}</p>
</ng-template>
