<!-- 轉入申請 Modal -->
<div class="modal fade" id="regTransStudentModal" tabindex="-1" role="dialog" aria-labelledby="regTransStudent" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 100% !important;">
      <div class="modal-header modal-header" style="background-color: aquamarine;">
        <h5 class="modal-title" id="newCaseLabel">
          <b>申請移轉_選擇校務系統學生資料</b>
        </h5>
        <button type="button" class="close brad-5" style="border-radius: 5px !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row mx-0 mt-3">
            <div class="dropdown mr-2 mb-3">
              本校 - 年級 <button class="btn btn-light dropdown-toggle brad-5" style="border-radius: 5px"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{selectedGradeYear || '請選擇年級'}}
              </button>
              <div class="dropdown-menu scrollable-menu">
                <a class="dropdown-item" *ngFor="let gradeYear of gradeYears" (click)="selectGrade(gradeYear)">
                  {{gradeYear}}
                </a>
              </div>
            </div>

            <div class="dropdown mr-2 mb-3">
              班級 <button class="btn btn-light dropdown-toggle brad-5" style="border-radius: 5px!important;"
                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedClass.ClassName || '請選擇班級'}}
              </button>
              <div class="dropdown-menu scrollable-menu">
                <a class="dropdown-item" *ngFor="let item of curClassList" (click)="selectClass(item)">
                  {{item.ClassName}}</a>
              </div>
            </div>
            <div class="dropdown">
              學生 <button class="btn btn-light dropdown-toggle brad-5" style="border-radius: 5px!important;"
                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ selectedStudent.StudentId ? (selectedStudent.SeatNo + ' ' + selectedStudent.Name) : '請選擇學生' }}
              </button>
              <div class="dropdown-menu scrollable-menu">
                <a class="dropdown-item" *ngFor="let stu of curStudentList" (click)="selectStudent(stu)" >
                  {{stu.SeatNo}} {{stu.Name}}
                </a>
              </div>
            </div>
        </div>
        <div class="form-row mx-0 mt-3">
          <div class="dropdown mr-2 mb-3">
            轉出校名稱 <button class="btn btn-light dropdown-toggle brad-5" style="border-radius: 5px"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{selectedSchool.Title || '請選擇轉出校'}}
            </button>
            <div class="dropdown-menu scrollable-menu">
              <a class="dropdown-item" *ngFor="let school of schoolList" (click)="selectSchool(school)">
                {{school.Title}}
              </a>
            </div>
          </div>
        </div>
        <div>
          <p class="text-center mt-3" *ngIf="isReging">處理中，請稍候</p>
          <p class="text-center mt-3 text-success" *ngIf="regResp.info === 'success'">申請成功！</p>
          <p class="text-center mt-3 text-danger" *ngIf="regResp.info === 'failed'">申請失敗！{{regResp.msg}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-info" (click)="beginReg()">
          申請移轉
        </button>
      </div>
    </div>
  </div>
</div>
