<div class="text-gray-text1 mx-4 w-160">
  <span class="cursor-pointer" (click)="dialogRef.close()">
    <span class="iconify close-window" data-icon="eva:close-fill" data-inline="false"></span>
  </span>
  <div>
    <p class="gadget_bigtitle">匯入修課學生</p>
    <p class="discription mt-4">學年度：<span class="text-primary mr-2">{{curSchoolYear}}</span>學期：<span class="text-primary">{{curSemester}}</span></p>
    <p class="discription ">匯入格式限定 .xls, .xlsx 檔案，內容輸入請參考範例下載連結</p>
  </div>
  <p class="text-right">
    <a class="discription text-sm text-secondary text-rightunderline underline" download href="assets/doc/import_course_student_sample.xlsx">下載匯入修課學生範本檔</a>
  </p>
  <div class="dialog-content mt-2 h-104">
    <div class="overflow-scroll">
      <form [formGroup]="myForm">
        <div>
          <p class="text-warning" *ngIf="!loadSuccess">檔案讀取失敗！</p>
          <p class="text-warning" *ngIf="exceedLimit">單次限{{limitRec}}筆，請分批匯入！</p>
          <div class="flex justify-center border border-gray border-dashed bg-gray-lightest rounded-lg h-32">
            <button (click)="fileInput.click()"
              class="flex flex-row items-center focus:ring-offset-transparent focus:ring-transparent focus:outline-none">
              <span class="iconify text-secondary text-3xl mr-2" data-icon="akar-icons:cloud-upload"
                data-inline="false"></span>
              <p class="discription text-secondary text-right underline">{{fileName || '請選擇要匯入的檔案'}}</p>
              <input type="file" #fileInput (click)="inputClick($event)" (change)="onFileChange($event)" style="display:none;"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </button>
          </div>
          <fieldset class="mt-6 border border-gray rounded-lg p-4">
            <legend class="font-medium mx-4 px-2">課程識別欄位</legend>
            <div class="px-2 py-2" appRadioGroup [formControl]="getFormCtrl('cidt')" (change)="changeMode()">
              <app-radio-button class="mr-4" name="idtCtrl" value="CourseId">課程系統編號</app-radio-button>
              <app-radio-button class="mr-4" name="idtCtrl" value="CourseName^SchoolYear^Semester">課程名稱+學年度+學期</app-radio-button>
            </div>
          </fieldset>
          <fieldset class="my-6 border border-gray rounded-lg p-4">
            <legend class="font-medium mx-4 px-2">學生識別欄位</legend>
            <div class="px-2 py-2" appRadioGroup [formControl]="getFormCtrl('sidt')" (change)="changeMode()">
              <app-radio-button class="mr-4" name="idtCtrl" value="StudentId">學生系統編號</app-radio-button>
              <app-radio-button class="mr-4" name="idtCtrl" value="StudentNumber^StudentStatus">學號</app-radio-button>
              <app-radio-button class="mr-4" name="idtCtrl" value="LinkAccount">登入帳號</app-radio-button>
            </div>
          </fieldset>
        </div>
      </form>
      <div class="flex flex-col items-stretch md:flex-row md:items-center md:justify-start mb-10">
        <button class="btn btn-blue mr-4" (click)="onValidate()">開始驗證</button>
        <button class="btn rounded"
          [ngClass]="{
            'btn-blue': !(currentState !== 'validationFinish' || !!!errorResult.size)
            , 'btn-disable': currentState !== 'validationFinish' || !!!errorResult.size
          }"
          [disabled]="currentState !== 'validationFinish' || !!!errorResult.size"
          (click)="previewErrorResult()">檢視結果</button>
        <p *ngIf="currentState === 'validating' || currentState === 'importing'">處理中...</p>
        <p *ngIf="currentState === 'validationFinish'" class="mt-2 text-sm text-center md:mt-0 md:text-left"
          [ngClass]="{'text-warning': validationMsg || errorResult.size }">
          {{ validationMsg ? validationMsg : '錯誤數量： ' + errorResult.size + ' 筆'}}</p>
        <p *ngIf="currentState === 'importFinish'" class="mt-2 text-sm text-center md:mt-0 md:text-left"
          [ngClass]="{ 'text-warning': !importSuccess }">
          {{ importSuccess ? '匯入成功！' : '匯入失敗！' + importMsg }}
        </p>
      </div>
      <div class="flex flex-row items-end justify-end mt-6 mb-8">
        <button class="btn btn-second" (click)="closeDialog()">關閉</button>
        <button class="btn btn-primary mr-0"
          [ngClass]="{'disabled': errorResult.size > 0}"
          [disabled]="!validSuccess || source.length === 0"
          (click)="importData()">匯入</button>
      </div>
    </div>
  </div>

</div>
