<div *ngIf="loadState !== 'finish'">
  {{['正備取名單載入中...', '正備取名單載入失敗！'][['loading', 'error'].indexOf(loadState)]}}
</div>
<div *ngIf="loadState === 'finish'" style="display: flex;">
  <div style="padding: 5px; width: 50%;">
    <div style="color: blue;">正取名單：</div>
    <div *ngIf="admittedList.length">
      <div *ngFor="let item of admittedList">
        <span [ngClass]="{'my-highlight': item.Myself === 't'}">
          <span>{{item.SerialNumber}}. </span>
          <span *ngIf="item.AutoManualEliminate === 't'">{{item.StudentName}} (放棄)</span>
          <ng-container *ngIf="item.AutoManualEliminate !== 't'">
            <a *ngIf="item.Myself === 't'" href="javascript:;" (click)="clickMyName()">{{item.StudentName}}</a>
            <span *ngIf="item.Myself !== 't'">{{item.StudentName}}</span>
          </ng-container>
        </span>
      </div>
    </div>
    <div *ngIf="!admittedList.length">無資料</div>
  </div>
  <div style="padding: 5px; width: 50%;">
    <div style="color: red;">備取名單：</div>
    <div *ngIf="waitingList.length">
      <div *ngFor="let item of waitingList">
        <span [ngClass]="{'my-highlight': item.Myself === 't'}">
          <span>{{item.SerialNumber}}. </span>
          <span *ngIf="item.AutoManualEliminate === 't'">{{item.StudentName}} (放棄)</span>
          <span *ngIf="item.AutoManualEliminate !== 't'">{{item.StudentName}}</span>
        </span>
        <span [ngClass]="{'my-highlight': item.Myself === 't'}">
          {{item.AutoManualEliminate !== 't' && item.AutoManually === 't' ? ' (遞補)' : ''}}
        </span>
      </div>
    </div>
    <div *ngIf="!waitingList.length">無資料</div>
  </div>
</div>