/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: 'Open Sans', sans-serif;
}

#header {
  background: #ffffff !important;
  font-weight: 900 !important;
  font-size: 22px !important;
  color: #8a8a8a !important;
}

/* .rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  width: 1200px;
  border-collapse: collapse;
} */


.rwd-table tr:first-child {
  border-top: none;
  background: #a0cecb !important;
  color: #2e3f57;
}

.rwd-table tr {
  /* border-top: 1px solid #ddd; */
  /* border-bottom: 1px solid #ddd; */
  /* background-color: #f5f9fc; */
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  /* #ebf3f9; */
  background-color: #f8f9fa;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  font-weight: 600;
  color: rgb(80, 80, 80);
  display: block;
  /* width: 60px; */
}

.rwd-table td:first-child {
  /* margin-top: .5em; */
}

.rwd-table td:last-child {
  /* margin-bottom: .5em; */
}

.rwd-table2 td:before {
  content: attr(data-th);
  font-weight: bold;
  width: 42px;
  display: inline-block;
  color: #000;
}

.accordion {
  display: block;
}

.rwd-table {
  display: none;
  width: 95%;
  /* color: #333; */
  border-radius: .4em;
  /* overflow: hidden; */
}

.rwd-table tr {
  border-color: #bfbfbf;
}

/* .rwd-table th,
.rwd-table td {
  text-align: left;
  padding: .5em 0.5em;
} */

.border-b {
  border-bottom: 1px solid #dee2e6;
}

@media screen and (min-width: 765px) {
  #header {
    font-size: 24px !important;
  }

  .rwd-table {
    display: block;
  }

  .accordion {
    display: none;
  }


  .rwd-table tr:nth-child(2) {
    border-top: none;
  }

  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }

  .rwd-table td:before {
    display: none;
  }

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 1em !important;
    text-align: center;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .border-b {
    border-bottom: 0px;
  }


}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
  /* background: #4B79A1; */
  /* background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); */
  /* background: linear-gradient(to left, #4B79A1 , #283E51); */
}

/* h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
} */
.container {
  /* display: block;
  max-width: 90% !important;
  min-width: 90% !important; */
  /* text-align: center; */
  max-width: 1340px;
}

/* h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
} */
/* h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
} */
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0)
  }

  25% {
    -webkit-transform: translateX(-10px)
  }

  75% {
    -webkit-transform: translateX(10px)
  }

  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(-10px)
  }

  75% {
    transform: translateX(10px)
  }

  100% {
    transform: translateX(0)
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


#header-fixed {
  position: fixed;
  top: 0px;
  display: none;
  background-color: white;
}


/* 顯示 打勾*/
.check_icon {
  font-size: 15px;
  color: rgb(145, 145, 145)
}

.main_color {
  color: #2f7560;
  font-weight: 600;


}


/* 藍色的字 */
.blue-font {
  color: rgb(156, 71, 71);
}
