<div *ngIf="!isLoading; else tmpLoading">
  <div class="tab-content">
    <app-permission-denied *ngIf="!roleService.isLoading && !roleService.enablePsychologicalTest">
    </app-permission-denied>
    <!-- TAB 4 個案資料 -->
    <div *ngIf="!roleService.isLoading && roleService.enablePsychologicalTest"
         class="tab-pane fade show active">

      <div class="d-flex">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            {{ selectQuizName }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               *ngFor="let item of QuizList"
               [ngClass]="{ active: selectQuizName === item.QuizName }"
               (click)="SetSelectQuiz(item)">{{ item.QuizName }}</a>
          </div>
        </div>
        <div class="dropdown"
             style="margin-left: 20px">
          <button class="btn btn-light dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            {{ selectClassName }}
          </button>
          <div class="dropdown-menu scrollable-menu">
            <a class="dropdown-item"
               *ngFor="let item of classList"
               [ngClass]="{ active: selectClassName === item.ClassName }"
               (click)="SetSelectClass(item)">{{ item.ClassName }}</a>
          </div>
        </div>

      </div>

      <ul class="rwd-table">
        <li class="thead">
          <ol class="tr">
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">班級</li>
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">座號</li>
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">姓名</li>
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">學號</li>
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">實施日期</li>
            <li class="sticky-top"
                style="white-space: pre-wrap;word-break: break-all;">解析日期</li>
            <ng-container *ngFor="let itemName of QuizItemNameList">
              <li class="sticky-top"
                  style="white-space: pre-wrap;word-break: break-all;">{{itemName}}</li>
            </ng-container>
          </ol>
        </li>
        <li class="tbody">
          <ng-container *ngFor="let studItem of StudentQuizDataListNew">
            <ol class="tr">
              <li data-title="班級">{{studItem.ClassName}}</li>
              <li data-title="座號">{{studItem.SeatNo}}</li>
              <li data-title="姓名">{{studItem.StudentName}}</li>
              <li data-title="學號">{{studItem.StudentNumber}}</li>
              <li data-title="實施日期">{{studItem.ImplementationDateStr}}</li>
              <li data-title="解析日期">{{studItem.AnalysisDateStr}}</li>
              <ng-container *ngFor="let itemName of QuizItemNameList">
                <li data-title="">{{studItem.getQuizItemValue(QuizID,itemName)}}</li>
              </ng-container>

            </ol>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>