<div class="my-page">
  <h1>點數歷程</h1>

  <div class="">
    <div style="margin-top: 20px;">
      <div class="my-card alert alert-success">
        <div class="my-card-point">{{currPoint.Total || '計算中'}}</div>
        <div class="my-card-text">可用點數</div>
      </div>
    </div>
    <div class="flex flex-wrap flex-col sm:flex-row items-center justify-start sm:justify-center gap-4 mt-8">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{targetRange}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let range of rangeList" [ngClass]="{'active': range == targetRange}" class="dropdown-item" href="#"
            (click)="selectRange(range)">{{range}}</a>
        </div>
      </div>
      <!--開始日期-->
      <div class="flex items-center">
        <div class="mr-2">開始</div>
        <input [(ngModel)]="startDate" type="text" placeholder="年 / 月 / 日" class="mb-0" bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" />
      </div>
      <div class="flex items-center">
        <div class="mr-2">結束</div>
        <!--結束日期-->
        <input [(ngModel)]="endDate" type="text" placeholder="年 / 月 / 日" class="mb-0" bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" />
      </div>
      <!--下拉按鈕-->
      <button type="button" class="btn btn-primary px-5 ml-3" (click)="searchPointsLog()">
        <i class="fas fa-search"></i>
        查詢
      </button>
    </div>
    <div class="mt-8">
      <ng-container *ngIf="isLoading">載入中...</ng-container>
      <ng-container *ngIf="!isLoading">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>時間</th>
              <th>狀態</th>
              <th>來源</th>
              <th>點數</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of pointHistories" [ngClass]="{'text-danger': data.Point < 0}">
              <td>{{data.OccurDate | date: 'yyyy/MM/dd'}}</td>
              <td>{{data.Type}}</td>
              <td>{{data.Source}}</td>
              <td class="text-nowrap text-end">{{data.Point}} 點</td>
            </tr>
            <tr *ngIf="!pointHistories.length">
              <td colspan="4">無資料</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>