<div *ngIf="!isLoading; else tplLoading">
  <div style="height: 50px;">
    <button class="btn btn-info btn_bul_rad float-right" style="margin:5px;"
      (click)="openReg()">
      <b><i class="material-icons">add</i> 轉入申請</b></button>
  </div>

  <div class="tab-content p-0">
    <ul class="rwd-table m-0">
      <li class="thead">
        <ol class="tr">
          <li class="sticky-top">班級</li>
          <li class="sticky-top">座號</li>
          <li class="sticky-top">姓名</li>
          <li class="sticky-top">轉出校</li>
          <li class="sticky-top">申請/取消 日期</li>
          <li class="sticky-top">申請者</li>
          <li class="sticky-top">移轉狀態</li>
          <li class="sticky-top">回覆日期</li>
          <li class="sticky-top">功能</li>
        </ol>
      </li>
      <li class="tbody">
        <ol class="tr" *ngFor="let item of transList">
          <li data-title="班級" (click)="devSetApproved(item)">{{item.ClassName}}</li>
          <li data-title="座號">{{item.SeatNo}}</li>
          <li data-title="姓名">{{item.StudentName}}</li>
          <li data-title="轉出校">{{item.SchoolTitle}}</li>
          <li data-title="申請/取消 日期">{{((item.CancelTime || item.CreateTime) | date:'yyyy-MM-dd HH:mm') || '無'}}</li>
          <li data-title="申請者">{{item.TeacherName}} {{item.Nickname ? '(' + item.Nickname + ')' : ''}}</li>
          <li data-title="移轉狀態">{{formatStatus(item.Status)}}</li>
          <li data-title="回覆日期">{{(item.ApprovedTime | date:'yyyy-MM-dd HH:mm') || '無'}}</li>
          <li data-title="功能">
            <a class="text-info" *ngIf="item.Status === '1'" (click)="confirmCancelReg(item)">取消</a>
            <a class="text-info" *ngIf="item.Status === '2'" (click)="confrimTransIn(item)">轉入</a>
          </li>
        </ol>
      </li>
    </ul>
    <div *ngIf="transList.length === 0" class="text-center mt-3">無資料</div>
  </div>
</div>

<ng-template #tplLoading>
  <div class="row justify-content-center" style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>

<div class="modal fade" id="confirmCancelModal" tabindex="-1" role="dialog" aria-labelledby="confirmCancelModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          確定取消 {{targetStudent.StudentName}} 的轉入嗎？
        </h5>
      </div>
      <div class="modal-body">
        <p class="text-center mt-3" *ngIf="isSaving">處理中，請稍候</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-danger" (click)="beginCancelReg()">
          確定
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmTransModal" tabindex="-1" role="dialog" aria-labelledby="confirmTransModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          確定轉入 {{targetStudent.StudentName}} 的資料嗎？
        </h5>
      </div>
      <div class="modal-body">
        <p class="text-center mt-3" *ngIf="isSaving">處理中，請稍候</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-danger" (click)="beginTransIn()">
          開始轉入
        </button>
      </div>
    </div>
  </div>
</div>

<app-reg-transfer-in-modal #regTransInModal></app-reg-transfer-in-modal>
