<div class="modal fade"
     id="delCaseInterview"
     tabindex="-1"
     role="dialog"
     aria-labelledby="delCaseInterviewLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"
            id="delCaseInterviewLabel">
         <b>刪除</b> 
        </h3>
      </div>
      <div class="modal-body">
        <h4 class="mt-2" *ngIf="caseInterview.ServiceUID">服務項目將會一併刪除。 </h4>
        <h4 class="mt-2"> 確定刪除? </h4>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-dark"
                  data-dismiss="modal"
                  (click)="cancel()">
            取消
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="del()">
            刪除
          </button>
        </div>
      </div>
    </div>
  </div>
</div>