<div style="height: 900px;overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="full-width">
        <ng-container matColumnDef="Domain">
            <th mat-header-cell *matHeaderCellDef> 領域 </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!element.edit;else tplDomain">
                    {{element.Domain}} 
                </ng-container>
                <ng-template #tplDomain>
                    <mat-form-field class="middle-col">
                        <!-- [value]="element.Domain" -->
                        <input matInput type="text" [(ngModel)]="element.Domain">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="Entry">
            <th mat-header-cell *matHeaderCellDef> 分項類別 </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!element.edit;else tplEntry">
                    {{element.Entry}}
                </ng-container>
                <ng-template #tplEntry>
                    <mat-form-field class="middle-col">
                        <input matInput [value]="element.Entry">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="SubjectName">
            <th mat-header-cell *matHeaderCellDef> 科目名稱 </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!element.edit;else tplSubjectName">
                    {{element.SubjectName}}
                </ng-container>
                <ng-template #tplSubjectName>
                    <mat-form-field class="large-col">
                        <input matInput [value]="element.SubjectName">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="RequiredBy">
            <th mat-header-cell *matHeaderCellDef> 校／部訂 </th>
            <td mat-cell *matCellDef="let element"> 
                <ng-container *ngIf="!element.edit;else tplRequireBy">
                    {{element.RequiredBy}}
                </ng-container>
                <ng-template #tplRequireBy>
                    <mat-form-field class="middle-col">
                        <select matNativeControl required [(ngModel)]="element.RequiredBy">
                          <option value="校訂">校訂</option>
                          <option value="部訂">部訂</option>
                        </select>
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="Required">
            <th mat-header-cell *matHeaderCellDef> 必／選修 </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!element.edit;else tplRequired">
                    {{element.Required}}
                </ng-container>
                <ng-template #tplRequired>
                    <mat-form-field class="middle-col">
                        <select matNativeControl required [(ngModel)]="element.Required">
                          <option value="必修">必修</option>
                          <option value="選修">選修</option>
                        </select>
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="StartLevel">
            <th mat-header-cell *matHeaderCellDef> 開始級別 </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!element.edit;else tplStartLevel">
                    {{element.StartLevel}}
                </ng-container>
                <ng-template #tplStartLevel>
                    <mat-form-field class="middle-col">
                        <input matInput [value]="element.StartLevel">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="LastSemester1">
            <th mat-header-cell *matHeaderCellDef class="center"> 1上 </th>
            <td mat-cell *matCellDef="let element" class="left-border right-border">
                <ng-container *ngIf="!element.edit;else tplLS1">
                    {{element.LastSemester1}}
                </ng-container>
                <ng-template #tplLS1>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.LastSemester1 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="NextSemester1">
            <th mat-header-cell *matHeaderCellDef class="center"> 1下 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplNS1">
                    {{element.NextSemester1}}
                </ng-container>
                <ng-template #tplNS1>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.NextSemester1 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="LastSemester2">
            <th mat-header-cell *matHeaderCellDef class="center"> 2上 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplLS2">
                    {{element.LastSemester2}}
                </ng-container>
                <ng-template #tplLS2>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.LastSemester2 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="NextSemester2">
            <th mat-header-cell *matHeaderCellDef class="center"> 2下 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplNS2">
                    {{element.NextSemester2}}
                </ng-container>
                <ng-template #tplNS2>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.NextSemester2 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="LastSemester3">
            <th mat-header-cell *matHeaderCellDef class="center"> 3上 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplLS3">
                    {{element.LastSemester3}}
                </ng-container>
                <ng-template #tplLS3>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.LastSemester3 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="NextSemester3">
            <th mat-header-cell *matHeaderCellDef class="center"> 3下 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplNS3">
                    {{element.NextSemester3}}
                </ng-container>
                <ng-template #tplNS3>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.NextSemester3 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="LastSemester4">
            <th mat-header-cell *matHeaderCellDef class="center"> 4上 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplLS4">
                    {{element.LastSemester4}}
                </ng-container>
                <ng-template #tplLS4>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.LastSemester4 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="NextSemester4" class="center">
            <th mat-header-cell *matHeaderCellDef> 4下 </th>
            <td mat-cell *matCellDef="let element" class="right-border">
                <ng-container *ngIf="!element.edit;else tplNS4">
                    {{element.NextSemester4}}
                </ng-container>
                <ng-template #tplNS4>
                    <mat-form-field class="small-col">
                        <input matInput [value]="element.NextSemester4 || ''">
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="SubjectCode">
            <th mat-header-cell *matHeaderCellDef> 科目代碼 </th>
            <td mat-cell *matCellDef="let element">
                {{element.SubjectCode}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 60px"> 編輯 </th>
            <td mat-cell *matCellDef="let element">
                <!-- (click)="openEditor()" -->
                <button *ngIf="!element.edit" mat-icon-button color="primary" (click)="element.edit=true">
                    <mat-icon>edit</mat-icon>
                </button>
                <ng-container *ngIf="element.edit">
                    <button mat-icon-button color="primary" (click)="save(element)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="remove(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>
