<table mat-table [dataSource]="dataSource" class="full-width">
    <ng-container matColumnDef="Domain">
        <th mat-header-cell *matHeaderCellDef> 領域 </th>
        <td mat-cell *matCellDef="let element"> {{element.Domain}} </td>
    </ng-container>
    <ng-container matColumnDef="Entry">
        <th mat-header-cell *matHeaderCellDef> 分項類別 </th>
        <td mat-cell *matCellDef="let element"> {{element.Entry}} </td>
    </ng-container>
    <ng-container matColumnDef="SubjectName">
        <th mat-header-cell *matHeaderCellDef> 科目名稱 </th>
        <td mat-cell *matCellDef="let element"> {{element.SubjectName}} </td>
    </ng-container>

    <ng-container matColumnDef="RequiredBy">
        <th mat-header-cell *matHeaderCellDef> 校／部訂 </th>
        <td mat-cell *matCellDef="let element"> {{element.RequiredBy}} </td>
    </ng-container>
    <ng-container matColumnDef="Required">
        <th mat-header-cell *matHeaderCellDef> 必／選修 </th>
        <td mat-cell *matCellDef="let element"> {{element.Required}} </td>
    </ng-container>
    <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef> 開始級別 </th>
        <td mat-cell *matCellDef="let element">  </td>
    </ng-container>
    <ng-container matColumnDef="SubjectCode">
        <th mat-header-cell *matHeaderCellDef> 科目代碼 </th>
        <td mat-cell *matCellDef="let element"> {{element.SubjectCode}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 60px"> 編輯 </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openEditor()">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>