<div class="container-fluid cbs d-flex justify-content-between flex-column">
    <nav>
        <div class="nav nav-tabs mb-3" role="tablist">
            <a class="nav-item nav-link active" id="score_sheet_tab" data-toggle="tab" href="#score_sheet" role="tab" aria-controls="score_sheet" aria-selected="true">日評分</a>
            <a class="nav-item nav-link" id="weekly_rank_tab" data-toggle="tab" href="#weekly_rank" role="tab" aria-controls="weekly_rank" aria-selected="false">週排名</a>
        </div>
    </nav>

    <div class="tab-content">
        <!-- 班級日評分 -->
        <div class="tab-pane fade show active" id="score_sheet" aria-labelledby="score_sheet_tab">
            <app-score-sheet></app-score-sheet>
        </div>

        <!-- 班級週排名 -->
        <div class="tab-pane fade" id="weekly_rank" aria-labelledby="weekly_rank_tab">
            <app-weekly-rank></app-weekly-rank>
        </div>
    </div>

    <footer class="text-center p-2 mt-auto">
        Powered By ischool
    </footer>
</div>