<!-- 學生個人 - 綜合紀錄表 -->
<div *ngIf="!isLoading; else tmpLoading">
  <ng-container *ngFor="let subject of fillInData">
    <div class="card mb-2">
      <h4 class="m-2">{{subject.Subject}}</h4>
      <table class="table table-sm table-bordered">
        <ng-container *ngFor="let group of subject.QuestionGroup">
          <tr>
            <th colspan="2"
                class=" text-left">{{group.Group}}</th>
          </tr>
          <ng-container *ngFor="let query of group.QuestionQuery">
            <tr>
              <td class="text-left pl-4"
                  style="width: 150px"
                  scope="col">
                {{query.Query}}
              </td>
              <td class="text-left"
                  scope="col">
                <ng-container *ngFor="let questionText of query.QuestionText;let questionTextIndex = index">
                  <span *ngIf="questionTextIndex > 0"
                        class="ml-2 mr-3">;</span>
                  <span *ngIf="questionText.Text">
                    <span>{{questionText.Text}}</span>
                    <span class="ml-1 mr-2">:</span>
                  </span>
                  <span *ngIf="!questionText.HasValue"
                        class="text-muted">未填寫</span>
                  <ng-container *ngFor="let option of questionText.Option;let optionIndex = index">
                    <span *ngIf="optionIndex > 0">、</span>
                    <span style="word-break: break-all;white-space: pre-wrap;">{{option.AnswerValue}}</span>
                  </ng-container>
                  <!-- <pre>{{questionText | json}}</pre> -->
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <!-- <div class="card-body">
        <h4 class="">{{subject.Subject}}</h4>
        <ng-container *ngFor="let group of subject.QuestionGroup">
          <div class="ml-3">
            <div class="mb-2">{{group.Group}}</div>
            <ng-container *ngFor="let query of group.QuestionQuery">
              <div class="ml-3 mb-2">
                <small>
                  <span>{{query.Query}}</span>

                  <ng-container *ngFor="let questionText of query.QuestionText;let questionTextIndex = index">
                    <span *ngIf="questionTextIndex > 0">&nbsp;;&nbsp;</span>
                    <span *ngIf="questionText.Text">{{questionText.Text}}&nbsp;:&nbsp;</span>
                    <span *ngIf="!questionText.HasValue"
                          class="text-muted">未填寫</span>
                    <ng-container *ngFor="let option of questionText.Option">
                      <span *ngIf="option.AnswerChecked">{{option.AnswerValue}}</span>
                    </ng-container>
                  </ng-container>
                </small>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div> -->
    </div>

    <!-- 
    <div *ngFor="let group of subject.QuestionGroup"
         class="form-group ml-3">
      <h5>{{subject.Subject}} / {{group.Group}}</h5>
      <ng-container *ngFor="let query of group.QuestionQuery">
        <div class="row ml-3">
          <div>
            <span>{{query.Query}}</span>
            <ng-container *ngFor="let questionText of query.QuestionText;let questionTextIndex = index">
              <span *ngIf="questionTextIndex>0"
                    class="mr-2">;</span>
              <span>{{questionText.Text}}：</span>
              <ng-container *ngFor="let option of questionText.Option">
                <span *ngIf="option.AnswerChecked">{{option.AnswerValue}}</span>
              </ng-container>
            </ng-container>
            <pre>{{query | json}}</pre>
          </div>
        </div>
      </ng-container>
    </div> -->
  </ng-container>
</div>

<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>