<div class="container w-full xs:mx-auto">
  <div class="gadget_bigtitle mb-6 mx-4 xs:mx-0">我的課程</div>

  <div class="flex flex-row items-baseline mb-2 flex-wrap">
    <!-- 學期下拉 -->
    <div class="relative text-left inline-block mb-3 ml-4 xs:ml-0">
      <app-select #semester
        [rowSource]="semesterRowSource"
        [displayWith]="displaySemester"
        (change)="semesterChange($event)"
      ></app-select>
    </div>

    <!-- 時段下拉 -->
    <div class="relative text-left inline-block mb-3 ml-4 xs:hidden">
      <app-select #weekdayTab
        [selected]="curTab"
        [rowSource]="tabs"
        [displayWith]="displayWeekdayTab"
        (change)="weekdayTabChange($event)"
      ></app-select>
    </div>
  </div>

  <hr class="mx-4 mb-4 xs:hidden">

  <div *ngIf="loading" class="my-loading">
    載入中...
  </div>

  <div *ngIf="!loading">
    <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>
    <div *ngIf="!errorMsg" class="flex flex-col mt-6">
      <div *ngIf="!this.adminConnectedGoogle.success" class="text-danger">系統管理者尚未啟用 Google Classroom 雲端服務</div>
      <!-- 星期tab -->
      <div class="panel-group">
        <input *ngFor="let tab of tabs"
          class="panel-control" type="radio" name="week-day"
          [id]="tab.tabId"
          [value]="tab"
          [(ngModel)]="curTab"
          (change)="toggleTab()"
        >

        <div class="tab-group mx-3 xs:ml-0">
          <label *ngFor="let tab of tabs" [for]="tab.tabId">
            {{tab.tabTitle}}</label>
        </div>

        <div class="content-group">
          <div class="content">
            <!-- 所有時段表格 -->
            <!-- web -->
            <ng-container *ngIf="curCourseList.length;else tplNoClass">
              <div class="hidden xs:flex flex-col mt-4 w-full">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 align-middle inline-block w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-light sm:rounded-lg">
                      <table class="w-full">
                        <thead class="bg-primary">
                          <tr>
                            <th scope="col" class="tb-title">課程名稱</th>
                            <th scope="col" class="tb-title">{{curTab.value === 0 ? '時段/節次' : '節次'}}</th>
                            <th scope="col" class="tb-title">雲端服務</th>
                            <th scope="col" class="tb-title" *ngIf="role==='teacher'">雲端服務管理</th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                          <tr *ngFor="let course of curCourseList">
                            <td class="px-6 py-4 text-center whitespace-pre-wrap xl:min-w-64">
                              <div class="has-tooltip relative">
                                <span class="tooltip left-6">{{course.CourseName}}</span>
                                <div class="font-semibold text-gray-text1 line-clamp-2">
                                  {{course.CourseName}}
                                </div>
                              </div>
                            </td>
                            <td class="px-6 py-4 text-center whitespace-nowrap border-l border-dashed border-gray-light">
                              <div class="flex flex-row flex-wrap items-center justify-center">
                                <!-- 時段tag -->
                                <ng-container *ngFor="let item of course.Timetable | mapsToArray">
                                  <app-badge-period
                                    *ngIf="curTab.value === 0 || item.Weekday === curTab.value"
                                    [data]="item"
                                    [showWeekday]="curTab.value === 0"
                                  ></app-badge-period>
                                </ng-container>

                                <!-- 時段管理btn -->
                                <div class="has-tooltip" *ngIf="role==='teacher'">
                                  <span class="tooltip -ml-8">管理時段</span>
                                  <button (click)="manageTimeTable(course)"
                                    class="px-3 py-1 mb-2 flex flex-row flex-wrap items-center text-secondary border-dashed border border-secondary-lighter rounded-full hover:bg-secondary-lighter focus:bg-secondary-lighter focus:outline-none">
                                    <span class="iconify text-xl mr-1" data-icon="healthicons:i-schedule-school-date-time"
                                      data-inline="false"></span>
                                    <p class="text-sm">管理</p>
                                  </button>
                                </div>
                              </div>
                            </td>
                            <td class="px-6 py-4 flex flex-row flex-wrap items-center justify-center border-l border-dashed border-gray-light">
                              <ng-container *ngFor="let item of course.ServiceConfig">
                                <app-launcher-oha
                                  *ngIf="item.service_id === '1campus_oha' && item.enabled"
                                  [dsns]="dsns"
                                  [roleName]="curSelectedContext.role"
                                  [course]="course">
                                </app-launcher-oha>

                                <app-launcher-google-classroom
                                  *ngIf="item.service_id === 'google_classroom' && item.enabled"
                                  [course]="course">
                                </app-launcher-google-classroom>

                                <!-- <div class="has-tooltip lg:mr-4">
                                  <span class="tooltip -ml-2">1Know</span>
                                  <img class="h-10 w-10 mb-2 mx-1 cursor-pointer" src="assets/img/1know_logo.svg"
                                    alt="1know">
                                </div> -->

                                <app-launcher-customize
                                  *ngIf="item.service_id === 'customize' && item.enabled"
                                  [course]="course"
                                ></app-launcher-customize>
                              </ng-container>
                            </td>
                            <td *ngIf="role==='teacher'"
                              class="py-4 whitespace-nowrap text-center text-sm border-l border-dashed border-gray-light">
                              <button class="text-secondary hover:text-secondary-light focus:outline-none"
                                (click)="manageService(course, tplManageService)">
                                <span class="iconify text-2xl" data-icon="ant-design:setting-filled"
                                  data-inline="false"></span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- App -->
              <div *ngFor="let course of curCourseList" class="xs:hidden flex flex-col rounded-lg border border-gray-light mx-5 mt-6 mb-4">
                <p class=" px-4 py-2 text-white text-lg font-semibold overflow-auto line-clamp-2 rounded-t-lg bg-primary">
                  {{course.CourseName}}</p>
                <div class="px-4 py-3 flex flex-row itmes-center">
                  <p class="w-16 text-gray-text2 font-medium" *ngIf="curTab.value === 0">時段<br>節次</p>
                  <p class="w-16 text-gray-text2 font-medium" *ngIf="curTab.value !== 0">節次</p>
                  <div class="flex flex-row flex-wrap itmes-center">
                    <ng-container *ngFor="let item of course.Timetable | mapsToArray">
                      <app-badge-period
                        *ngIf="curTab.value === 0 || item.Weekday === curTab.value"
                        [data]="item"
                        [showWeekday]="curTab.value === 0"
                      ></app-badge-period>
                    </ng-container>
                  </div>
                </div>
                <div class="px-4 py-3 flex flex-row itmes-center border-t border-gray-light border-dashed">
                  <p class="w-16 text-gray-text2 font-medium">雲端<br>服務</p>
                  <div class="flex flex-row flex-grow items-center justify-between">
                    <app-launcher-oha
                      [dsns]="dsns"
                      [roleName]="curSelectedContext.role"
                      [course]="course">
                    </app-launcher-oha>

                    <app-launcher-google-classroom
                      [course]="course">
                    </app-launcher-google-classroom>

                    <!-- <div class="has-tooltip lg:mr-4">
                      <span class="tooltip -ml-2">1Know</span>
                      <img class="h-10 w-10 my-1 mx-1 cursor-pointer" src="assets/img/1know_logo.svg" alt="1know">
                    </div> -->

                    <app-launcher-customize></app-launcher-customize>

                    <div>
                      <button class="text-secondary hover:text-secondary-light focus:outline-none"
                        (click)="manageService(course, tplManageService)">
                        <span class="iconify text-2xl" data-icon="ant-design:setting-filled" data-inline="false"></span>
                        <p class="text-xs text-center">管理</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tplManageService let-data>
  <div class="w-104 rounded-2xl">
    <div class="text-right">
      <button mat-dialog-close><span class="iconify text-2xl text-gray-text1" data-icon="eva:close-fill" data-inline="false"></span></button>
    </div>
    <!-- 管理雲端服務主畫面 -->
    <div class="mx-2" *ngIf="manageProcessState === 301">
      <p class="text-2xl font-semibold text-gray-text1 mt-4">管理雲端服務</p>
      <p class="text-base font-semibold text-gray-text1 px-2 mt-4 border-l-2 border-primary">已開啟的雲端服務</p>
      <p class="text-base text-gray-text3 px-3 mt-2">若開啟服務，學生將可以看到該服務；反之，若關閉後，學生將無法看見此服務。</p>
      <div class="gird grid-rows-5 px-2 mt-3">
        <div class="flex flex-row items-center mb-2">
          <div class="flex-grow"></div>
          <div class="text-gray-text3 text-sm">關/開</div>
          <div class="text-gray-text3 text-sm ml-4">設定</div>
        </div>

        <ng-container *ngFor="let item of data.target.ServiceConfig">

          <div *ngIf="item.service_id === '1campus_oha'"
            class="flex flex-row items-center mb-6">
            <div class="flex-grow w-full">
              <span class="text-gray-text1 text-base flex flex-row items-center"><img class="pr-2 w-12 h-12"
                src="assets/img/oha.svg" alt="OHA雲端教室">OHA雲端教室</span>
            </div>
            <div>
              <mat-slide-toggle
                color="primary"
                [checked]="item.enabled"
                [disabled]="saving"
                (change)="toggleEnabledService($event, data.target, item)"
              ></mat-slide-toggle>
            </div>
            <div class="ml-4">
              <span class="iconify text-2xl text-gray-text3" style="opacity: 0.3;" data-icon="uil:setting" data-inline="false"></span>
            </div>
          </div>

          <div *ngIf="item.service_id === 'google_classroom'"
            class="flex flex-row items-center mb-6">
            <div class="flex-grow flex flex-row items-center w-full">
              <span class="text-gray-text1 text-base flex flex-row items-center"><img class="pr-2 w-12 h-12"
                src="assets/img/google_classroom_logo.svg" alt="Google Classroom">Google Classroom</span>
              <span *ngIf="data.target.GoogleExt?.id">
                (<a href="javascript:;" (click)="manageProcessState = 304"
                  class="text-secondary hover:text-secondary-light focus:outline-none">同步</a>)
              </span>
            </div>
            <div>
              <mat-slide-toggle
                color="primary"
                [checked]="item.enabled"
                [disabled]="saving"
                (change)="toggleEnabledService($event, data.target, item)"
              ></mat-slide-toggle>
            </div>
            <a href="javascript:;" class="ml-4" (click)="manageProcessState = (data.target.GoogleExt?.id ? 303 : 302)">
              <span class="iconify text-2xl text-gray-text3 hover:text-primary" data-icon="uil:setting"
                data-inline="false"></span>
            </a>
          </div>

          <div *ngIf="item.service_id === 'customize'"
            class="flex flex-row items-center mb-6">
            <div class="flex-grow w-full">
              <span class="text-gray-text1 text-base flex flex-row items-center"><img class="pr-2 w-12 h-12"
                  src="assets/img/link.svg" alt="links">外部連結</span>
            </div>
            <div>
              <mat-slide-toggle
                color="primary"
                [checked]="item.enabled"
                [disabled]="saving"
                (change)="toggleEnabledService($event, data.target, item)"
              ></mat-slide-toggle>
            </div>
            <a href="javascript:;" class="ml-4" (click)="manageProcessState = 305">
              <span class="iconify text-2xl text-gray-text3 hover:text-primary" data-icon="uil:setting"
                data-inline="false"></span>
            </a>
          </div>

        </ng-container>
      </div>
    </div>
    <div *ngIf="manageProcessState !== 301" (click)="manageProcessState = 301"
      class="text-primary mt-2 mb-8 cursor-pointer">
      <span class="iconify text-2xl inline-block pb-0.5" data-icon="eva:arrow-ios-back-fill"
        data-inline="false"></span>
      <p class="text-base inline-block">返回</p>
    </div>
    <!-- 新增Google Classroom教室 -->
    <ng-container *ngIf="manageProcessState === 302">
      <app-add-google-classroom
        [dsns]="dsns"
        [adminIsConnectedGoogle]="adminConnectedGoogle.success"
        [account]="myInfo?.account || ''"
        [data]="data">
      </app-add-google-classroom>
    </ng-container>
    <!-- 解除Google Classroom教室連結 -->
    <ng-container *ngIf="manageProcessState === 303">
      <app-edit-google-classroom
        [dsns]="dsns"
        [adminIsConnectedGoogle]="adminConnectedGoogle.success"
        [data]="data">
      </app-edit-google-classroom>
    </ng-container>
    <!-- 同步Google Classroom學生 -->
    <ng-container *ngIf="manageProcessState === 304">
      <app-async-google-classroom
        [dsns]="dsns"
        [adminIsConnectedGoogle]="adminConnectedGoogle.success"
        [data]="data">
      </app-async-google-classroom>
    </ng-container>
    <!-- 外部連結設定 -->
    <ng-container *ngIf="manageProcessState === 305">
      <app-customize-service-manage
        [data]="data"
      >
      </app-customize-service-manage>
    </ng-container>
  </div>
</ng-template>

<ng-template #tplNoClass>
  <p *ngIf="curTab.value === 0" class="mt-4 text-center">無課程</p>
  <img *ngIf="curTab.value !== 0" class="mx-auto mt-28" src="assets/img/no_class.svg" alt="此時段沒有任何課程">
</ng-template>
