table.table td,
table.table th {
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.inputBlockDefault {
  position: relative;
}

.inputBlockAffixTop {
  position: fixed;
  top: 0px;
}

@media (max-width: 767.98px) {
  .inputBlock {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .inputBlock {
    position: relative;
    float: right;
    width: 260px;
  }

  .inputBlock table {
    width: 260px;
  }

  .inputBlock table .miniPadding {
    padding: 0.3rem;
  }
}