<router-outlet name="simple-page"></router-outlet>



<div  id="appcomponent" class="container-fluid cbs d-flex justify-content-between flex-column" style="padding-top: 0px;">
  <div hidden id="userInfo" 
    style ="display: float ; 
          z-index: 99;
           width :300px; 
           height: 320px ; 
           background: rgb(219, 235, 230);
           position: fixed;
           border-radius: 0px 50px 50px 0px;
 bottom:0px;
 left:0px;
">
目前權限 :
{{roleService.role}}

    

  </div>
  <div id="index" page>
    <nav aria-label="breadcrumb text-nowrap text-truncate">
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item active"
            aria-current="page">輔導紀錄</li>
      </ol> -->
    </nav>
    <!-- TAB NAV -->


    <ul class="nav nav-justified nav-tabs mb-3">
      <ng-container *ngIf="counselVisable === true">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="roleService.enableCounsel?'tab':null"
            (click)="!roleService.enableCounsel || routeTo('/counsel')"
            [ngClass]="{'active': currentComponent == 'counsel', 'disabled': !roleService.enableCounsel}">
            <b>{{counselStudentStr}} </b></a>
        </li>
      </ng-container>
      <!-- 增加管理頁簽 -->
      <ng-container *ngIf=" false">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="roleService.enableCounsel?'tab':null"
            (click)="!roleService.enableCounsel || routeTo('/work_service')"
            [ngClass]="{'active': currentComponent == 'work_service', 'disabled': !roleService.enableCounsel}">
            <b>工作管理 </b></a>
        </li>
      </ng-container>
      <ng-container *ngIf="counsel_statisticsVisable === true">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="roleService.enableCounselStatistics?'tab':null"
            (click)="!roleService.enableCounselStatistics || routeTo('/counsel_statistics')"
            [ngClass]="{'active': currentComponent == 'counsel_statistics', 'disabled': !roleService.enableCounselStatistics}">
            <b> 輔導統計 </b></a>

        </li>
      </ng-container>
      <ng-container *ngIf="referralVisable === true">
        <li class="nav-item">


          <a class="nav-link" [attr.data-toggle]="roleService.enableReferral?'tab':null"
            (click)="!roleService.enableReferral || routeTo('/referral')"
            [ngClass]="{'active': currentComponent == 'referral', 'disabled': !roleService.enableReferral}">


            <!-- <b *ngIf="!refferalNotDealCount"> 轉介學生 </b> -->
<ng-container >
              <div  class ="d-flex justify-content-center">
                   <div  *ngIf="refferalNotDealCount &&roleService.enableReferral " class ="align-baseline"  style="position: relative;
                                top: -10px;
                                left: 1px; 
                                font-size :9px ;
                                padding:17 px; 
                                float:left;
                                width: 17px;
                                height: 17px;
                                animation: mymove 1s ;
                                animation-iteration-count: 2;
                                text-align: center;
                                background: #FF5C58 ;border-radius: 50%; color :white ;padding: 2px;" >{{refferalNotDealCount}}</div>
              <b >轉介學生</b>
              </div>
            </ng-container>
   

            <!-- <span class="d-none badge badge-pill badge-danger">1</span> -->
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="caseVisable === true">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="globalService.enableCase?'tab':null"
            (click)="!globalService.enableCase || routeTo('/case')"
            [ngClass]="{'active': currentComponent == 'case', 'disabled': !globalService.enableCase}">
            <b> 個案資料 </b></a>
        </li>
      </ng-container>

      <!-- <li class="nav-item">
        <a class="nav-link"
           [attr.data-toggle]="roleService.enableInterviewStatistics?'tab':null"
           (click)="!roleService.enableInterviewStatistics || routeTo('/interview_statistics')"
           [ngClass]="{'active': currentComponent == 'interview_statistics', 'disabled': !roleService.enableInterviewStatistics}">
          輔導填寫狀況</a>
      </li> -->
      <ng-container *ngIf="comprehensiveVisable === true">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="roleService.enableComprehensive?'tab':null"
            (click)="!roleService.enableComprehensive || routeTo('/comprehensive')"
            [ngClass]="{'active': currentComponent == 'comprehensive', 'disabled': !roleService.enableComprehensive}">
            <b> {{comprehensiveStr}}</b></a>
        </li>
      </ng-container>

      <ng-container *ngIf="psychologicalTestVisable === true">
        <li class="nav-item ">
          <a class="nav-link" [attr.data-toggle]="roleService.enableCase?'tab':null"
            (click)="!roleService.enablePsychologicalTest || routeTo('/psychological_test')"
            [ngClass]="{'active': currentComponent == 'psychological-test', 'disabled': !roleService.enablePsychologicalTest}">
            <b> 心理測驗</b></a>
        </li>
      </ng-container>

            <!-- todo -->
            <ng-container *ngIf="adminVisable === true">
              <li class="nav-item">
                <a class="nav-link"
                   [attr.data-toggle]="roleService.enableAdmin?'tab':null"
                   (click)="!roleService.enableAdmin || routeTo('/teacher-service')"
                   [ngClass]="{'active': currentComponent == 'teacher-service', 'disabled': !roleService.enableAdmin}">
                  <b> 相關服務</b>
                </a>
              </li>
            </ng-container>
      <ng-container *ngIf="adminVisable === true">
        <li class="nav-item">
          <a class="nav-link" [attr.data-toggle]="roleService.enableAdmin?'tab':null"
            (click)="!roleService.enableAdmin || routeTo('/admin')"
            [ngClass]="{'active': currentComponent == 'admin', 'disabled': !roleService.enableAdmin}">
            <b> 系統管理</b></a>
        </li>
      </ng-container>




    </ul>
    <router-outlet></router-outlet>
  </div>

  <footer class="text-center p-2 mt-auto">
    Powered By ischool
  </footer>
</div>