<!DOCTYPE html>
<html ng-app="gradebook">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/gadget.js"></script>
    <script>
        init({
            application: "demo.ischool.h",
            paramValues: {
                "DefaultRound": "2" //預設小數點位數                
            },
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
                account: 'bubu@debug.ischool.com.tw',
                //password: window.prompt('password:1234')
                password: '1234'
            }
        });
    </script>


    <title>GradeBook</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script>
        $(function () {
            var newEditor = $("#gadget .hidden-xs").find("div").eq(0).clone();
            newEditor.css({ position: "", float: "", width: "" }).addClass('visible-xs');
            newEditor.find("table").eq(0).removeAttr("bs-affix").removeAttr("data-offset-top").removeAttr("style");
            newEditor.find("table").eq(0).find("tbody").eq(0).prepend(newEditor.find("table").eq(0).find("tbody").eq(0).find("tr").eq(1));
            $("#gadget").append(newEditor);
        });
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/sortable.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/angular-strap.min.js"></script>
    <script src="js/angular-strap.tpl.min.js"></script>

    <script src="js/gradebook.js"></script>

    <style>
        .dropdown-header {
            padding: 3px 10px;
            font-size: 14px;
        }

        .importStudentPreview {
            padding: 5px 10px;
            border-radius: .25em;
            border: solid 1px lightgray;
            margin: 3px 0px;
        }

            .importStudentPreview .studentInfo {
            }

        .my-page {
        }
    </style>
</head>


<body ng-controller="MainCtrl">
    <div ng-if="!(current && studentList)" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;">Loading...</div>
    <div id="gadget" class="my-page" ng-if="current && studentList">
        <h1 class="hidden-xs">高中補考成績輸入</h1>
        <h3 class="hidden-xs">補考梯次: {{current.Batch.BatchName}}</h3>
        <h3 class="hidden-xs">補考梯次描述:{{current.Batch.BatchDescription}}</h3>
        <h3 class="hidden-xs">輸入開放時間: {{current.Batch.BatchStartTime}} ~ {{current.Batch.BatchEndTime}}</h3>
        <h3 class="hidden-xs">補考群組: {{current.Group.GroupName}}</h3>
        <h3 class="hidden-xs">補考群組描述:{{current.Group.GroupDescription}}</h3>
        <h3 class="hidden-xs">補考群組日期:{{current.Group.GroupMakeupDate}}</h3>
        <h3 class="hidden-xs">補考群組時間:{{current.Group.GroupMakeupTime}}</h3>        
        <h3 class="hidden-xs">補考群組地點:{{current.Group.GroupMakeupPlace}}</h3>        
        <div>
            <div ng-if="!current.Batch.Lock" class="btn-group pull-right">
                <a ng-click="saveAll()" class="btn btn-default" ng-class="{'btn-danger':!checkAllTable()}">
                    <i class="fa fa-floppy-o"></i>
                    儲存
                </a>                
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.Batch.BatchName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="batch in batchList"
                        ng-class="{active:batch==current.Batch}">
                        <a href="javascript:;" ng-click="setCurrentBatch(batch)">{{batch.BatchName}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.Group.GroupName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="group in current.currentGroupList"
                        ng-class="{active:group==current.Group}">
                        <a href="javascript:;" ng-click="setCurrentGroup(group)">{{group.GroupName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="studentList" class="hidden-xs" style="margin-top:10px;">
            <div style="position:relative;float:right;width:260px;">
                <table class="table table-bordered table-striped"
                       style="width:260px;"
                       data-offset-top="145"  bs-affix>
                    <thead>
                        <tr ng-if="!current.Batch.Lock">
                            <th colspan="2">補考成績輸入</th>
                        </tr>
                        <tr ng-if="current.Batch.Lock">
                            <th colspan="2">本梯次目前未開放補考成績輸入</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:95px;">
                                <div class="btn-group btn-block">
                                    <a href="" class="btn btn-link btn-block dropdown-toggle" data-toggle="dropdown" style="padding:0; color:#333; text-align:left;">{{current.SelectMode=='No.'?"座號搜尋":"切換學生"}} <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li ng-class="{active:current.SelectMode=='No.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('No.')">座號搜尋</a>
                                        </li>
                                        <li ng-class="{active:current.SelectMode=='Seq.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('Seq.')">切換學生</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-center" style="padding:0px;">
                                <div ng-if="current.SelectMode=='No.'"
                                     class="input-group">
                                    <input ng-model="current.SelectSeatNo"
                                           ng-keydown="submitStudentNo($event)"
                                           ng-change="typeStudentNo()"
                                           ng-class="{disabled:!current.Student}"
                                           type="text"
                                           placeholder="{{isMobile?'':'Enter送出'}}"
                                           class="form-control pg-seatno-textbox"
                                           select-on-click />
                                    <span class="input-group-btn">
                                        <a ng-click="submitStudentNo()"
                                           class="btn btn-default">
                                            送出
                                        </a>
                                    </span>
                                </div>

                                <div ng-if="current.SelectMode=='Seq.'"
                                     class="btn-group btn-group-sm">
                                    <a class="btn btn-default"
                                       ng-click="goPrev()">
                                        &nbsp;&nbsp;&nbsp; << &nbsp;&nbsp;&nbsp;
                                    </a>
                                    <a class="btn btn-default"
                                       ng-click="goNext()">
                                        &nbsp;&nbsp;&nbsp; >> &nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>目前學生</td>
                            <td>
                                <span ng-if="current.Student.ClassName">
                                    {{current.Student.ClassName}}
                                    <span ng-if="current.Student.SeatNo">({{current.Student.SeatNo}})</span>
                                </span>
                                <span>{{current.Student.StudentName}}</span>
                            </td>
                        </tr>
                        <tr ng-if="!current.Batch.Lock">
                            <td style="position:relative;">
                                <span>補考分數</span>
                            </td>
                            <td ng-if="current.Student ">
                                <div class="input-group">
                                    <input ng-model="current.Value"
                                           ng-keydown="enterGrade($event)"
                                           type="text"
                                           class="form-control pg-grade-textbox"
                                           placeholder="{{isMobile?'':'Enter送出'}}"
                                           select-on-click />
                                    <span class="input-group-btn">
                                        <a ng-click="enterGrade()"
                                           class="btn btn-default">
                                            送出
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>      
            </div>
            
            

            <div style="margin-right:270px;">
                <table class="table table-bordered table-striped table-hover text-center"
                       style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 25px;"
                                rowspan="2">
                                科別
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                年級
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 25px;"
                                rowspan="2">
                                班級
                            </th>                            
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                座號
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 25px;"
                                rowspan="2">
                                學號
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 25px;"
                                rowspan="2">
                                姓名
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 40px;"
                                rowspan="2">
                                科目名稱
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                科目級別
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                分數
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                補考分數
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 40px;"
                                rowspan="2">
                                成績身份
                            </th>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 10px;"
                                rowspan="2">
                                及格標準
                            </th>                            
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr ng-repeat="stuRec in studentList"
                            ng-class="{'warning':stuRec.StudentID==current.Student.StudentID}"
                            style="cursor:pointer;">
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">                                
                                <span>{{stuRec.Department}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.GradeYear}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, current.Exam, true, true)">
                                <span>{{stuRec.ClassName}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec,true, true)">
                                <span ng-if="stuRec.SeatNo"
                                      style="min-width:24px;display:inline-block;">{{stuRec.SeatNo}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.StudentNumber}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">                                
                                <span>{{stuRec.StudentName}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.Subject}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.Level}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.Score}}</span>
                            </td>
                            <td class="text-center"
                                style="position:relative;"
                                ng-click="setCurrent(stuRec,true, true)">
                                <div ng-if="!checkOneCell(stuRec, 'MakeUpScore')"
                                     ng-attr-title="{{stuRec['MakeUpScore'+'Origin']?'原值為：'+stuRec['MakeUpScore'+'Origin']:''}}"
                                     style="display:inline-block;background-color:red;position:absolute;left:3px;top:3px;width:5px;height:6px;border-radius:5px;">
                                </div>
                                <span>{{stuRec['MakeUpScore']}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.CalRole}}</span>
                            </td>
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, true, true)">
                                <span>{{stuRec.PassStandard}}</span>
                            </td>                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</body>

</html>
