<div *ngIf="!counselStudentService.isLoading; else tmpLoading">
  <app-permission-denied *ngIf="deny"></app-permission-denied>
  <div *ngIf="!deny">
    <!-- 學生個人輔導紀錄 -->
    <div class="row mt-3">
      <div class="col-md-2 "> 
        <div class="sticky-top mb-3">
          <div class="row mb-2">
            <!-- <div class="col-3 col-sm-3 col-md-3" style="  ">
              <img class="mb-2s" style=" width: 100%; height :70px ;border: 1px solid rgba(0, 0, 0, 0.12);;
              border-radius: 50%;" src="{{ currentStudent.PhotoUrl }}" />
            </div> -->
     
            
               <div class ="d-flex flex-wrap align-middle" style ="  border-left: 2px solid  #94d0cc ; padding-left :5px ;margin:0px ;font-size: 18px; font-weight: 650;" >
              <div class="text-nowrap mr-2" > 
                {{ currentStudent.ClassName }}
        
               ({{ currentStudent.SeatNo +' 號' }})
              </div>
              <div class=" text-nowrap">
                {{ currentStudent.StudentName }}
              </div>
              </div>
                
            
            </div>
        



          <div class="list-group nav-list ">
            <ng-container *ngIf="baseVisible === true">
           <!--  -->
            </ng-container>
            <ng-container *ngIf="baseVisible === true">
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable||routeTo('base_info_detail')" data-toggle="list"
                [ngClass]="{ 'active show': currentItem == 'base_info_detail','disabled': !_interviewEnable  &&  !_caseInterviewTeacher }">
                基本資料
              </a>
            </ng-container>
            <ng-container *ngIf="counselVisible === true">
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable ||routeTo('interview')" data-toggle="list" ___ngIf="_interviewEnable"
                [ngClass]="{ 'active show': currentItem == 'interview', 'disabled': !_interviewEnable }">
                班導師輔導紀錄(一級輔導)
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_counselEnable||routeTo('counsel')" data-toggle="list" ___ngIf="_counselEnable"
                [ngClass]="{ 'active show': currentItem == 'counsel', 'disabled': !_counselEnable  && !_caseInterviewTeacher }">
                個案晤談紀錄(二級輔導)
              </a>
            </ng-container>
            <!-- <a href="javascript:void(0);"
             class="list-group-item list-group-item-action d-flex disabled"
             data-toggle="list">
            綜合紀錄表
          </a> -->
            <ng-container *ngIf="baseVisible === true">
              <a href="javascript:;" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable  && !_caseInterviewTeacher||routeTo('comprehensive')" data-toggle="list"
                [ngClass]="{ 'active show': currentItem == 'comprehensive', 'disabled': !_interviewEnable && !_caseInterviewTeacher  }">
                {{comprehensiveStr}}
              </a>
            </ng-container>

            <ng-container *ngIf=" counselVisible === true">



              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_psychological_testEnable && !_caseInterviewTeacher ||routeTo('psychological_test')" data-toggle="list"
                ___ngIf="_psychological_testEnable"
                [ngClass]="{ 'active show': currentItem == 'psychological_test', 'disabled': !_psychological_testEnable && !_caseInterviewTeacher }">
                心理測驗
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable && !_caseInterviewTeacher ||routeTo('absent')" data-toggle="list"
                [ngClass]="{ 'disabled': !_interviewEnable && !_caseInterviewTeacher }">
                缺曠獎懲
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable && !_caseInterviewTeacher||routeTo('cadre')" data-toggle="list"
                [ngClass]="{ 'disabled': !_interviewEnable && !_caseInterviewTeacher }">
                幹部紀錄
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable && !_caseInterviewTeacher||routeTo('service_learning')" data-toggle="list"
                [ngClass]="{ 'disabled': !_interviewEnable && !_caseInterviewTeacher}">
                服務學習
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable && !_caseInterviewTeacher||routeTo('exam_score')" data-toggle="list"
                [ngClass]="{ 'disabled': !_interviewEnable && !_caseInterviewTeacher}">
                評量成績
              </a>
              <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex"
                (click)="!_interviewEnable && !_caseInterviewTeacher||routeTo('semester_score')" data-toggle="list"
                [ngClass]="{ 'disabled': !_interviewEnable && !_caseInterviewTeacher }">
                學期成績
              </a>
              <div class="list-group-item list-group-item-action  cuser " *ngIf="_interviewEnable"  data-toggle="dropdown">
                <a class=" cuser  w-100" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> 
                   <mat-icon style="color: gray;">
                 print
                  </mat-icon>  <span> 列印</span></a>
                <div class="dropdown-menu">
                  <ng-container *ngIf="printDocument && printDocument.length">
                    <ng-container *ngFor="let doc of printDocument">
                      <a class="dropdown-item" target="_blank" (click)='openWindow("A表",doc)'>
                        {{doc.Name}}&nbsp;(&nbsp;{{doc.DocumentName}}&nbsp;)
                      </a>
                    </ng-container>
    
                  </ng-container>
                  <ng-container *ngIf="counselVisible === true">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" (click)='openWindow("B表")'>
                      輔導紀錄表B表 ( 輔導紀錄表 )
                    </a>
                  </ng-container>
                  <ng-container *ngIf="counselVisible === true">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" (click)='openWindow("B表合併心理測驗")'>
                      輔導紀錄表B表合併心理測驗
                    </a>
                  </ng-container>
                  <ng-container *ngIf="setCounselPrintItemVisible
             === true">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="setCounselPrintItem(currentStudent.StudentID)">
                      個人輔導紀錄
                    </a>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- 列印 -->
   
        </div>
      </div>
      <div class="col-md-10">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tmpLoading class="container">
  <div class="row justify-content-center" style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>

<app-set-counsel-interview-print-item #setCounselInterviewPrintItem></app-set-counsel-interview-print-item>