<!DOCTYPE html>
<html ng-app="learning">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <script src="js/gadget.js"></script>
    <script>
        init({
            //application: "dev.jh_kh",
            application: "test.kh.edu.tw",
            paramValues: {},
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
                account: 'bubu@debug.ischool.com.tw',
                password: '1234'
            }
        });
    </script>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/servicelearning.js"></script>
</head>

<body ng-controller="MainCtrl">
    <div id="gadget" class="my-page">
        <div id="mainMsg"></div>
        <div ng-init="getClassList()" class="row">
            <div class="col-md-12">
                <h1>
                    <span id="tabName">服務學習時數總覽</span>
                </h1>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{currentClassList.ClassName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in classList" ng-class="{'active':item.selected}">
                            <a href="javascript:;" ng-click="selectClassList(item)">{{item.ClassName}}</a>
                        </li>
                    </ul>
                </div>
                <!--
                    <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-if="arraySchoolYear">
                            {{currentSchoolYear}}學年度
                            <span class="caret"></span>
                        </span>
                        <span ng-if="!arraySchoolYear">目前無資料</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="data in arraySchoolYear" ng-class="{'active':data.selected}">
                            <a href="javascript:;" ng-click="selectSchoolYear(data)">{{data.SchoolYear}}學年度</a>
                        </li>
                    </ul>


                    old design
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span ng-if="semesters">{{currentSemester.SchoolYear}}學年度第{{currentSemester.Semester}}學期
                            <span class="caret"></span>
                        </span>
                        <span ng-if="!semesters">目前無資料</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in semesters" ng-class="{'active':item.selected}">
                                <a href="javascript:;" ng-click="selectSemester(item)">{{item.SchoolYear}}學年度第{{item.Semester}}學期</a>
                            </li>
                        </ul>

                </div>
                -->
                <div ng-init="getStudentData()" style="overflow-x:hidden;margin-bottom:10px;">
                    <table class="table table-bordered table-striped table-hover side-animate my-all-list" data-type="all" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th colspan="3" ng-repeat="header in colHeaderList">{{header}}</th>
                            </tr>
                            <tr>
                                <th class="{{col.Class}}" ng-repeat="col in columnList">{{col.Text}}</th>
                            </tr>
                        </thead>
                        <tbody ng-if="studentList">
                            <tr ng-repeat="item in studentList" ng-click="selectStudent(item)" ng-class="{'warning':item.selected}">
                                <td class="{{col.Class}}" ng-repeat="col in columnList">{{item[col.Name]}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!studentList">
                            <tr>
                                <td colspan="4">目前無資料</td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
                <div style="overflow-x:hidden;margin-top:10px;margin-bottom:10px;">
                    <div ng-if="currentStudent">
                        <!--
                        <button class="btn btn-default btn-sm pull-right" style="margin-bottom:10px;" type="button" data-type="return" ng-click="removeCurrentStudent()">返回 <i class="fa fa-angle-right"></i>
                        </button>    
                        -->
                        <!--<table class="table table-bordered table-striped" data-type="total">
                            <thead>
                                <tr>
                                    <th>座號</th>
                                    <th>學號</th>
                                    <th>姓名</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{currentStudent.SeatNo}}</td>
                                    <td>{{currentStudent.StudentNumber}}</td>
                                    <td>{{currentStudent.StudentName}}</td>
                                </tr>
                            </tbody>
                        </table>-->
                        <table class="table table-bordered table-striped" data-type="detail">
                            <thead>
                                <tr>
                                    <th style="width:70px;">學年度</th>
                                    <th style="width:60px;">學期</th>
                                    <th style="width:120px;">日期</th>
                                    <th>服務內容</th>
                                    <th style="width:60px;">時數</th>
                                    <th>主辦單位</th>
                                    <th style="width:80px;">校內/校外</th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody ng-if="currentStudent.records">
                                <tr ng-repeat="item in currentStudent.records">
                                    <td class="text-center">{{item.SchoolYear}}</td>
                                    <td class="text-center">{{item.Semester}}</td>
                                    <td>{{item.OccurDate}}</td>
                                    <td>{{item.Reason}}</td>
                                    <td class="text-center">{{item.Hours}}</td>
                                    <td>{{item.Organizers}}</td>
                                    <td>{{item.InternalOrExternal}}</td>
                                    <td>{{item.Remark}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-if="!currentStudent.records">
                                <tr>
                                    <td colspan="8">目前無資料</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
