<!-- 學生個人 - 心理測驗 -->
<!-- tab 心理測驗 -->
<div *ngIf="!isLoading; else tmpLoading">
  <div class="tab-pane fade-in" id="listTwo">
    <div class="d-md-flex align-items-center sub-title mb-3 base-class-header">
      <h4 class="mb-0 mr-auto"><b>心理測驗</b></h4>
    </div>

    <ng-container *ngIf="_QuizDataList.length === 0">
      <div class="row justify-content-center">沒有資料。</div>
    </ng-container>

    <ng-container *ngFor="let qItem of _QuizDataList">
      <div class="font-weight-bold mb-2">
        實施日期：{{ qItem.ImplementationDate }}
      </div>
      <div class="font-weight-bold mb-2">測驗名稱：{{ qItem.QuizName }}</div>
      <ul class="rwd-table">
        <li class="thead table-hreder">
          <ol class="tr table-hreder">
            <li>項目名稱</li>
            <li>測驗結果</li>
          </ol>
        </li>
        <li class="tbody point" *ngFor="let item of qItem.QuizFieldList">
          <ol class="tr" data-toggle="modal">
            <li class="text-normal" data-title="項目名稱">{{ item.Name }}</li>
            <li class="text-normal" data-title="測驗結果">{{ item.Value }}</li>
          </ol>
        </li>
      </ul>
    </ng-container>
  </div>
</div>

<ng-template #tmpLoading class="container">
  <div class="row justify-content-center" style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>