<div *ngIf="!counselStudentService.isLoading; else tmpLoading">
  <app-permission-denied *ngIf="deny"></app-permission-denied>
  <div *ngIf="!deny">
    <!-- 學生個人輔導紀錄 -->
    <div class="row pt-3">
      <div class="col-md-3">
        <h4 class="mt-1 mb-3">
          {{ currentStudent.ClassName }}({{ currentStudent.SeatNo }})
          {{ currentStudent.StudentName }}
        </h4>
        <div class="list-group nav-list">
          <a
            href="#listOne"
            class="list-group-item list-group-item-action d-flex"
            (click)="routeTo('interview')"
            data-toggle="list"
            *ngIf="_interviewEnable"
          >
            輔導紀錄
          </a>
          <a
            href="#listOne"
            class="list-group-item list-group-item-action d-flex"
            (click)="routeTo('counsel')"
            data-toggle="list"
            *ngIf="_counselEnable"
          >
            認輔紀錄
          </a>
          <a
            href="#listTwo"
            class="list-group-item list-group-item-action d-flex"
            (click)="routeTo('psychological_test')"
            data-toggle="list"
            *ngIf="_psychological_testEnable"
          >
            心理測驗
          </a>
          <!-- <a href="#listThree"
                       class="list-group-item list-group-item-action d-flex"
                       (click)="routeTo('absent')"
                       data-toggle="list">
                        缺曠獎懲
                    </a>
                    <a href="#listFour"
                       class="list-group-item list-group-item-action d-flex"
                       (click)="routeTo('exam_score')"
                       data-toggle="list">
                        評量成績
                    </a>
                    <a class="list-group-item list-group-item-action d-flex"
                       (click)="routeTo('semester_score')"
                       data-toggle="list">
                        學期成績
                    </a> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content"><router-outlet></router-outlet></div>
      </div>
    </div>
  </div>
</div>
<ng-template #tmpLoading class="container">
  <div
    class="row justify-content-center"
    style="margin-top:250px;margin-bottom:200px;"
  >
    Loading...
  </div>
</ng-template>
