.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
  background-color: #ffffff;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(107, 95, 95, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}
.scrollable-menu::before {
  background-color: transparent;
  box-shadow: initial;
}

.photo-big {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100px;
  height: 500px;
}