.student-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-control-label.my-font-bold {
  font-weight: bold;
}

.custom-control-label {
  min-width: 250px;
}

.font-style
{
  font-size: 15px;
  color: rgba(0,0,0,.87);
}
