<div *ngIf="!isLoading; else tmpLoading">
  <!-- 學生個人 - 輔導紀錄 -->
  <div class="tab-pane fade-in" id="listOne">
    <div class="d-md-flex align-items-center sub-title mb-3">
      <h4 class="mb-0 mr-auto">認輔紀錄</h4>
      <div class="d-flex mb-3 mb-md-0">
        <!-- <div class="dropdown">
        <button aria-expanded="false"
                aria-haspopup="true"
                class="btn dropdown-toggle btn-light mr-2"
                data-toggle="dropdown"
                id="dropdownMenuButton1"
                type="button">
          <i class="material-icons">print</i>
          列印
        </button>
        <div aria-labelledby="dropdownMenuButton1"
             class="dropdown-menu menu">
          <h6 class="dropdown-header">107學年度 第1學期</h6>
          <a class="dropdown-item"
             href="#">Excel</a>
          <a class="dropdown-item"
             href="#">Html</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">106學年度 第2學期</h6>
          <a class="dropdown-item"
             href="#">Excel</a>
          <a class="dropdown-item"
             href="#">Html</a>
        </div>
      </div> -->
        <button
          class="btn btn-info"
          data-toggle="modal"
          data-backdrop="static"
          (click)="addInterviewModal()"
        >
          <i class="material-icons">add</i> 新增
        </button>
      </div>
    </div>

    <!-- 判斷注意 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
                當學生是認輔學生，才會顯示此 div 區塊。
            ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
    <ng-container *ngFor="let item of caseList">
      <div class="card mb-3">
        <div class="card-body row">
          <div class="col-md-2 mb-3 mb-md-0">
            <!-- <img class="w-100" src="../../../assets/img/sample01.png" /> -->
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-4 col-md-2 mb-3 font-weight-bold">個案編號</div>
              <div class="col-8 col-md-4 mb-3">{{ item.CaseNo }}</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">個案來源</div>
              <div class="col-8 col-md-4 mb-3">{{ item.CaseSource }}</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">個案日期</div>
              <div class="col-8 col-md-4 mb-3">{{ item.OccurDate }}</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">班導師</div>
              <div class="col-8 col-md-4 mb-3">{{ item.TeacherName }}</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">學生身分</div>
              <div class="col-8 col-md-4 mb-3">{{ item.StudentIdentity }}</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">學籍資料</div>
              <div class="col-8 col-md-4 mb-3"></div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">是否結案</div>
              <div class="col-8 col-md-4 mb-3">否</div>
              <div class="col-4 col-md-2 mb-3 font-weight-bold">結案日期</div>
              <div class="col-8 col-md-4 mb-3"></div>
            </div>
          </div>
        </div>
        <!-- <ul class="list-group list-group-flush">
        <div class="expansion-panel list-group-item">
          <a aria-controls="collapseFour"
             aria-expanded="false"
             class="expansion-panel-toggler collapsed"
             data-toggle="collapse"
             href="#collapseFour"
             id="headingFour">
            <div>
              <i class="material-icons">subject</i>
              顯示更多詳細資料
            </div>
            <div class="expansion-panel-icon ml-3 text-black-secondary">
              <i class="collapsed-show material-icons">keyboard_arrow_down</i>
              <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
            </div>
          </a>
          <div aria-labelledby="headingFour"
               class="collapse"
               data-parent="#accordionTwo"
               id="collapseFour">
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">偏差行為</span>
              外向性攻擊行為、衝動行為、焦慮反應、適應性不良
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">問題類別</span>
              家庭結構問題
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">問題描述</span>
              案生容易與人衝突，在學校案生會去攻擊其他學生，在校外也會攻擊陌生人，案生的行為會被誤解成挑釁和攻擊，對方若在不了案生的情況下，將可能對案生發動更大的回擊。
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">特殊狀況</span>
              已建檔之個案
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">評估結果</span>
              轉介認輔教師
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">認輔老師</span>
              蔡貞儀
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">結案人員</span>
  
            </li>
            <li class="list-group-item d-flex align-items-stretch">
              <span class="font-weight-bold text-nowrap mr-3">結案說明</span>
  
            </li>
          </div>
        </div>
      </ul> -->
      </div>

      <ng-container *ngFor="let semInfo of _semesterInfo">
        <div class="font-weight-bold mb-2">
          {{ semInfo.SchoolYear }}學年度 第{{ semInfo.Semester }}學期
        </div>
        <ul class="rwd-table">
          <li class="thead">
            <ol class="tr">
              <li>認輔日期</li>
              <li>認輔對象</li>
              <li>認輔方式</li>
              <li>記錄者</li>
              <li></li>
            </ol>
          </li>
          <li class="tbody point" *ngFor="let casseitem of caselInterview">
            <ng-container
              *ngIf="
                casseitem.CaseNo === item.CaseNo &&
                casseitem.SchoolYear === semInfo.SchoolYear &&
                semInfo.Semester === casseitem.Semester
              "
            >
              <ol class="tr" data-toggle="modal">
                <li data-title="輔導日期">{{ casseitem.OccurDate }}</li>
                <li class="text-normal" data-title="輔導對象">
                  {{ casseitem.ContactName }}
                </li>
                <li class="text-normal" data-title="輔導方式">
                  {{ casseitem.CounselType }}
                </li>
                <li data-title="記錄者">{{ casseitem.AuthorName }}</li>
                <li data-title="">
                  <button
                    class="btn btn-light"
                    data-toggle="modal"
                    (click)="editInterviewModal(casseitem)"
                  >
                    修改
                  </button>
                </li>
              </ol>
            </ng-container>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </div>
</div>

<app-add-case-interview-modal #addCaseInterview></app-add-case-interview-modal>
<app-view-case-interview-modal
  #viewCaseInterview
></app-view-case-interview-modal>

<ng-template #tmpLoading class="container">
  <div
    class="row justify-content-center"
    style="margin-top:250px;margin-bottom:200px;"
  >
    Loading...
  </div>
</ng-template>
