<div *ngIf="paymentList.length;else tplNoData">
  <div class="alert alert-info">
    <div style="color: black; background-color: white;"
      [innerHTML]="configuration['emba_alumnicoursemodule_view_alumni_notes'] | safeHtml">
    </div>
  </div>
  <div>
    <app-my-admission-list
      [list]="paymentList"
      (callback)="handleInputChange($event)"
    ></app-my-admission-list>
  </div>

  <!-- 有可匯款課程，按鈕「填寫匯款通知」及「請先勾選」的提示訊息 -->
  <div *ngIf="checkedCourses.length">
    <button
      type="button"
      class="btn btn-info"
      [ngClass]="{'disabled': !checkedCourses.length}"
      (click)="handleShowModal()">
      填寫匯款通知
    </button>
    <span *ngIf="!checkedCourses.length" class="text-error">請先勾選！</span>
  </div>
</div>

<ng-template #tplNoData>
  <div>目前無資料</div>
</ng-template>
