<div *ngIf="!loading; else tplLoading">

  <div [hidden]="processing">
    <div class="mb-3" *ngFor="let item of grades;let idx = index;">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"
          [attr.id]="'grade_check_' + idx"
          [(ngModel)]="item.checked"
          (ngModelChange)="toggleAll(item)">

        <label class="custom-control-label my-font-bold font-style"
          [attr.for]="'grade_check_' + idx">
          <h5>{{item.gradeYear}}年級 所有{{targetRole}} ({{item.count}})</h5></label>
      </div>
      <div class="student-container font-style">
        <div class="mb-2" *ngFor="let cls of item.classes">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
              [attr.id]="'cls_check_' + cls.Id"
              [(ngModel)]="cls.checked"
              (ngModelChange)="reflectClassSelection(item)">
            <label class="custom-control-label " style ="font-size: 20px;"
              [attr.for]="'cls_check_' + cls.Id">
              {{cls.ClassName}} ({{cls.Count}})</label>
            <!-- {{cls | json}} -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <p [hidden]="!processing" [ngClass]="message.msgClass || ''">{{ message.text }}</p>
</div>

<ng-template #tplLoading>
  <p>loading...</p>
</ng-template>

<ng-template #tplOuterDialogTitle>
  <div>
    <span>已選擇 {{selectionCount}} 人</span>
  </div>
</ng-template>

<ng-template #tplOuterDialogAction>
  <button [hidden]="loading || processing" mat-flat-button color="primary" class="add-btn" (click)="confirm()">
    <mat-icon>add</mat-icon>加入學生
  </button>
</ng-template>

