<div class="container mt-4">
    <div id="index" class="h-100" page>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">班級歷年成績查詢</span>
        </nav>
        <ng-container *ngIf="classList.length > 0; else tplNoClass">
            <!-- fliter -->
            <div class="input-group my-3">
                <!-- 班級 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle mr-3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{curClass.class_name}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let class of classList" href="javascript:void(0)"
                            [ngClass]="{'active': curClass.id == class.id}" (click)="setClass(class)">
                            {{class.class_name}}
                        </a>
                    </div>
                </div>
                <!-- 學年度 學期 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle mr-3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{curSS.content}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let ss of ssList" href="javascript:void(0)"
                            [ngClass]="{'active': ss.school_year == curSS.school_year && ss.semester == curSS.semester}"
                            (click)="setSS(ss)">
                            {{ss.content}}
                        </a>
                    </div>
                </div>
                <!-- 定期評量 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle mr-3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{curExam.exam_name}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let exam of examList" href="javascript:void(0)"
                            [ngClass]="{'active': curExam.id == exam.id}" (click)="setExam(exam)">
                            {{exam.exam_name}}
                        </a>
                    </div>
                </div>
                <!-- 排名母群 -->
                <div class="btn-group">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{curMatrix}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let matrix of matrixList" href="javascript:void(0)"
                            [ngClass]="{'active': curMatrix == matrix}" (click)="setMatrix(matrix)">
                            {{matrix}}
                        </a>
                    </div>
                </div>
            </div>
            <!-- data list -->
            <ng-container *ngIf="!isLoading; else tplLoading">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="colgroup" colspan="2"></th>
                            <th scope="colgroup" colspan="2" *ngFor="let sub of subjectList">{{sub}}</th>
                            <th scope="colgroup" colspan="2">固定排名</th>
                        </tr>
                        <tr class="text-center">
                            <th scope="col">座號</th>
                            <th scope="col">姓名</th>
                            <ng-container *ngFor="let sub of subjectList">
                                <th scope="col">成績</th>
                                <th scope="col">排名</th>
                            </ng-container>
                            <th scope="col">算術平均</th>
                            <th scope="col">排名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let stu of studentList">
                            <td>{{stu.seat_no}}</td>
                            <td nowrap>{{stu.name}}</td>
                            <ng-container *ngFor="let sub of subjectList">
                                <td *ngIf="stu.examScore[sub] && stu.examScore[sub][curExam.id]; else tplNoData">
                                    {{stu.examScore[sub][curExam.id]}}
                                </td>
                                <td
                                    *ngIf="stu.examRank[sub] && stu.examRank[sub][curExam.id] && stu.examRank[sub][curExam.id][curMatrix]; else tplNoData">
                                    {{stu.examRank[sub][curExam.id][curMatrix].rank}}
                                </td>
                            </ng-container>
                            <td>{{stu.examRank['平均'][curExam.id][curMatrix].score}}</td>
                            <td>{{stu.examRank['平均'][curExam.id][curMatrix].rank}}</td>
                        </tr>
                        <tr *ngFor="let range of fiveRange">
                            <td colspan="2">{{range.value}}</td>
                            <ng-container *ngFor="let sub of subjectList">
                                <td *ngIf="examMatrix[sub]; else tplNoData2" colspan="2">
                                    {{examMatrix[sub][range.key]}}
                                </td>
                            </ng-container>
                            <td colspan="2"></td>
                        </tr>
                        <tr *ngFor="let range of rangeList">
                            <td colspan="2">{{range.value}}</td>
                            <ng-container *ngFor="let sub of subjectList">
                                <td *ngIf="examMatrix[sub]; else tplNoData2" colspan="2">
                                    {{examMatrix[sub][range.key]}}
                                </td>
                            </ng-container>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </ng-container>


    </div>
</div>

<ng-template #tplNoClass>
    <div class="d-flex justify-content-center mt-5">
        <h5>沒有班級資料</h5>
    </div>
</ng-template>

<ng-template #tplNoData>
    <td></td>
</ng-template>

<ng-template #tplNoData2>
    <td colspan="2"></td>
</ng-template>

<ng-template #tplLoading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>