<div class="container-fluid cbs d-flex justify-content-between flex-column">
  <div id="index" page>
    <nav aria-label="breadcrumb text-nowrap text-truncate">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">班級幹部管理</li>
      </ol>
    </nav>
    <div class="d-flex flex-column flex-sm-row mb-3">
      <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
        <mat-label>選擇班級</mat-label>
        <mat-select
          #className
          [(ngModel)]="selectedClass"
          (selectionChange)="reloadCadreData()"
        >
          <mat-option id="" [value]="cls" *ngFor="let cls of classList">
            {{ cls.ClassName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
        <mat-label>學年度</mat-label>
        <input
          type="number"
          step="1"
          max="{{ maxSchoolYear }}"
          min="{{ minSchoolYear }}"
          matInput
          [(ngModel)]="selectedSchoolYear"
          (change)="reloadCadreData()"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
        <mat-label>學期</mat-label>
        <input
          type="number"
          step="1"
          max="2"
          min="1"
          matInput
          [(ngModel)]="selectedSemester"
          (change)="reloadCadreData()"
        />
      </mat-form-field>

      <!-- <a>
          <mat-checkbox [(ngModel)]="showAllStudents" (ngModelChange)="queryStudentAttendance()">顯示全部學生</mat-checkbox>
        </a> -->

      <div class="dropdown ml-auto mt-5 mt-sm-0">
        <a style="cursor: pointer" >
          <mat-icon> cloud_download</mat-icon>匯出(Excel)
        </a>
        <!-- <a style="cursor: pointer;" (click)="exportFile('html')">
            <mat-icon> cloud_download</mat-icon>班級統計(Html)
          </a> -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <!-- 班級幹部 -->
        <div class="col-sm table-responsive" #table>
          <table class="table-rwd table table-bordered table-hover kd-t">
            <thead>
              <tr>
                <th style="width: 10%">幹部</th>
                <th style="width: 10%">姓名</th>
                <th style="width: 10%">座號</th>
                <th style="width: 10%">設定</th>
              </tr>
            </thead>
            <tbody *ngFor="let classCadre of this.classCadres">
              <tr
                class="collapsed"
                data-toggle="collapse"
                data-target="#rA"
                aria-expanded="false"
                aria-controls="rA"
              >
                <td data-th="幹部">
                  {{ classCadre.cadreType.Cadrename }}
                </td>
                <td data-th="姓名">
                  {{ classCadre.student ? classCadre.student.StudentName : "" }}
                </td>
                <td data-th="座號">
                  {{ classCadre.student ? classCadre.student.SeatNo : "" }}
                </td>
                <td data-th="設定">
                  <button mat-icon-button *ngIf="!classCadre.student; else elseTmpl" (click)="removeCadre(classCadre, $event)">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="create icon"

                      >create</mat-icon
                    >
                  </button>
                  <ng-template #elseTmpl>
                    <button mat-icon-button (click)="addCadre(classCadre)">
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete icon"
                        [ngStyle]="{ color: 'red' }"
                        >delete_forever</mat-icon
                      >
                    </button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>

  <footer class="text-center p-2 mt-auto">Powered By ischool</footer>
</div>

<!-- <script type="text/javascript">
  function toggle(event) {
      event.preventDefault();
      event.stopPropagation();

      $('#addInterview').modal('show');
  }

  function showTooltip(){
      $('td[data-toggle=tooltip]').tooltip('toggle');
  }
</script> -->
