<!--此畫面供 【新曾】 及 【編輯】  使用-->
<div class="out-section justify-content-center mt-2">
  <div class="w-100 d-block">
    <span class="material-icons">
      description 公假單
    </span>
  </div>
  <div class="card w-75 mt-3 ">

    <div class="card-body">
      <h1 class="card-title">填寫公假單</h1>
      <h6 class="card-subtitle mb-2 text-muted">
        <span class="material-icons">
          event
        </span>

        <span class="m-2" style="font-size :16px"> 選擇日期</span>
        <mat-form-field class="example-full-width " appearance="fill">

          <input matInput [matDatepicker]="picker" (dateChange)="addDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="material-icons  ml-3">
          account_box
        </span>
        <button mat-button (click)="chooseStudent()">選擇學生</button>
        <!-- <span style="font-size :16px"> 選擇學生</span> -->
        <!-- <span (click)="save()" class="material-icons float-right">
          save
        </span> -->
        <button class="float-right" mat-stroked-button color="primary" (click)="save()">儲存</button>
      </h6>

      <mat-chip-list>
        <mat-chip *ngFor="let stu of items" (removed)="removeItem(stu)">
          {{stu.displayText2}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <form class="example-form">
        <!-- <span class="material-icons">
          edit_road
        </span> -->
        <span style="font-size :16px">事由: </span>

        <mat-form-field class="example-full-width" style="width: 90%;">
          <mat-label></mat-label>
          <input matInput placeholder="" name="inputname" [(ngModel)]="CurrentRecordForedit?.contentObj.Reason"
            [value]="">
        </mat-form-field>
      </form>
      <!-- 編輯畫面-->

      <ng-container *ngIf="ActionType == 'edit'">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">日期</th>
              <ng-container *ngFor="let period of CurrentRecordForedit.contentObj.PeriodShow">
                <th scope="col" style="cursor: pointer;" (click)="selectEachDateSPeriod(period)"> {{period}}
                </th>
              </ng-container>
              <th scope="col">
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let dateInfo of CurrentRecordForedit.contentObj.Dates">
              <tr>
                <th class="hover_section" scope="row" (click)="selectAllPeriod(dateInfo)" style="cursor: pointer; ">
                  {{dateInfo.Date}}</th>
                <td *ngFor="let period of CurrentRecordForedit.contentObj.PeriodShow"
                  (click)="toggle(getPeriodInfo(period,dateInfo.MapPeriods))">
                  {{getPeriodInfo(period,dateInfo.MapPeriods).Abbreviation ||'-'}}</td>
                <td>
                  <span class="material-icons" (click)="removeAllDate(dateInfo)">
                    highlight_off
                  </span></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <!-- 新增 顯示這區域 -->
      <ng-container *ngIf="ActionType !== 'edit'">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">日期</th>
              <ng-container *ngFor="let period of CurrentRecordForedit.contentObj.PeriodShow">
                <th scope="col" style="cursor: pointer;" (click)="selectEachDateSPeriod(period)">{{period}}</th>
              </ng-container>
              <th scope="col">

              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let dateInfo of CurrentRecordForedit.contentObj.Dates">
              <tr>
                <th class="hover_section" scope="row" (click)="selectAllPeriod(dateInfo)" style="cursor: pointer; ">
                  {{dateInfo.Date}}</th>
                <td *ngFor="let period of dateInfo.Periods" (click)="toggle(period)" style="cursor: pointer;">{{period.Abbreviation||'-'}}</td>
                <td (click)="removeAllDate(dateInfo)">
                  <span class="material-icons">

                    highlight_off
                  </span></td>
              </tr>

            </ng-container>

          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
