

.out-section{
  width: 100%;
  margin: 5px;
  color :#737373


}


.hover_section:hover
{
font-size: 16px;

}



@keyframes example {
  0%   { left:0px; bottom: 10px;}
  50%  { left:0px; bottom: 100px;}
  100%  { left:0px; bottom: 200px;}

}

.info_section_show{
position: relative;

width: 300px;
height: 200px;
background: #ebebe0;
animation-name: example;
animation-duration: 4s;

}


