
<!-- <router-outlet></router-outlet> -->
<div class="w-100 " style = " padding-top: 15px; height: 1000px;background: #b0cacc">
<div class="container" style="
   padding :20px ;
   padding-bottom: 30px;
   margin-top: 20px !important;
   background:rgb(245, 245, 245);
   border-radius:  5px;
   box-shadow: 2px 6px 1px rgba(145, 145, 145, 0.128);
   ">

  <ng-container *ngIf="true">

    <p class="discription"><span class="text-primary">{{nickname ? teacherName + '(' + nickname + ')' : teacherName }}</span></p>
  </ng-container>
  <ng-container *ngIf="true">
    <div class="title " style =" width: 125px; padding-bottom: 5px; border-bottom: 2px solid #b0cacc;">教師資訊</div>

  </ng-container>

  <div class="dialog-content mt-6">
    <div class="container">

      <div class ="row">
      <div class ="col">
        <label class="sub-title">教師姓名 :</label>
        <!-- <input type="text" required name="edit-TeacherName" placeholder="教師姓名..."
          [(ngModel)]="tRec.teachername" autocomplete="off"
          class="w-full input-outline mt-1" style="height: 3.7rem;"> -->
        <span class ="content">{{tRec.teachername}} </span>
      </div>

      <div class ="col align-middle">
        <label class="sub-title">性別 :</label>
        <span appRadioGroup [(ngModel)]="tRec.gender"
          class="content" style="">
{{tRec.gender}}
        </span>
      </div>
      </div>



      <div class ="row">

       <div class="col ">
        <label class="sub-title">暱稱 :<span class="text-muted text-sm ml-2 font-normal"></span></label>
        <!-- <input type="text" name="edit-Nickname" placeholder="暱稱..."
          [(ngModel)]="tRec.nickname" autocomplete="off"
          class="w-full input-outline mt-1" style="height: 3.7rem;"> -->
          <span class="content">{{tRec.nickname}}</span>

       </div>


      <div class="col">
        <label class="sub-title">登入帳號 :</label>

     <span class="content"> {{tRec.linkaccount}} </span>

      </div>

    </div>


      <div class="row">

        <div class="col  ">

<div class ="d-flex" >
            <label class="sub-title">教師代碼 :</label>
            <div>
              <input type="text" name="edit-TeacherCode" placeholder="教師代碼..."
              [(ngModel)]="tRec.teachercode" autocomplete="off"
              disabled
              class="md:col-span-3 w-full input-outline mt-1 mr-0 md:mr-2" style="height: 3.1rem;">
            </div>



            <ng-container>

            </ng-container>


            <div style="margin-left: 20px; margin-top: 10px;">
              <button class="w-full  block btn btn-secondary " style ="background: #547cb4;"   (click)="getNewCode()">產生代碼</button>
            </div>
            <div  class="ml-2" style="margin-left :12px ;cursor :pointer">
              <span (click) ="isShowInfo=!isShowInfo"  style="color :rgb(137, 137, 137)" class="material-symbols-outlined">
                help
                </span>

            </div>
             <!-- <div class="ml-1">
              <span   class="material-symbols">
               說明
                </span>
             </div> -->

            <div *ngIf="isShowInfo"  class ="info_section">

              <p>
               【教師代碼】使用時機 : 當老師想以不同的帳號登入1Campus時，例如原來的帳號是OpenID, 現在想改用Google account。使用方式 :
             </p>
               <ol>
                 <li>
                   產生教師代碥後，複製教師代碼

                 </li>

                 <li>
                   登出1Campus 平台。

                 </li>

                 <li>
                   以新帳號登入1Campus 平台後，至右上角的『請選擇身份』>>新增身份。

                 </li>
                 <li>
                   選擇學校>> 選擇”教師”身份>> 輸入代碼後，即可連結學校

                 </li>

               </ol>
 <p>

   完成上述動作後，您的登入帳號已變更。此變更會同時呈現於校務管理系統上。

 </p>






             </div>

          </div>
        </div>
        <div class="col">
          <label class="sub-title">信箱 :</label>

       <span class="content"> {{tRec.email}} </span>

        </div>

      </div>

      <div class="row">
        <div class ="col">

        </div>
        <div class ="col d-flex flex-row-reverse">
          <div class ="float-right">

          </div>
          <button class="btn btn-primary  btn-color" (click)="updateTeacher()">儲存</button>
        </div>


      </div>
      <div>

      </div>
    </div>
  </div>
  <div class="mt-11">
    <!-- <p class="text-warning">{{errMsg}}</p> -->
    <div class="flex items-center justify-between ">
      <div>
      </div>

    </div>
  </div>
</div>

</div>
