.header, .header-space, .footer, .footer-space { height: 100px; }
.header { position: fixed; top: 0; }
.footer { position: fixed; bottom: 0; }
@media screen {
  :host {
    display: none;
  }
}
.datail-row{
  border:1px solid #777;
  padding:5px;
  margin:-1px 0 0 -1px;
  text-align:center;
  width:40px;
  white-space:nowrap;
  height:50px
}

.sign-section {
  border:1px solid #777;
  padding:10px;
  margin:-1px 0 0 -1px;
  text-align:center;
  font-size:16px;
  height:60px


}

.datail-header{
  border:1px solid #777;
  padding:5px;margin:-1px 0 0 -1px;
  text-align:center;
  width:120px;
  white-space:nowrap;
  font-size:14px;
  background:rgba(0,0,0,.087);


}
