
.table.sticky thead .head{
 max-width: 120px;
 background:white;
 position: sticky;
 top: 45px;
 /* width: calc(100% /2 ) */
 /* border: 3px solid green; */

}

.table.sticky thead .head_row1{
  /* width: 600px !important; */
  max-width: 10px;
 background:white;
 position: sticky;
 top: 0px;
 /* border: 3px solid green; */

}




.table.sticky th::after{
  content :'';
  width :100% ;
  height: 1.3px;
  position: absolute;
  bottom: 0;
  left :0;
  background: #dee2e6;
  border: 1px solid #dee2e6;

}


.table.sticky .head_row1::before{
    width :100% ;
    height: 1.3px;
    position: absolute;
    bottom: 0;
    left :0;}