<div id="test_id"
     class="d-md-flex align-items-center">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">107學年度 第1學期</button>
    <div class="dropdown-menu">
      <a class="dropdown-item"
         href="#">107學年度 第1學期</a>
      <a class="dropdown-item"
         href="#">106學年度 第2學期</a>
      <a class="dropdown-item"
         href="#">106學年度 第1學期</a>
    </div>
  </div>
  <div class="custom-control custom-checkbox mt-3 mt-md-0 mb-0 ml-auto mr-3">
    <input type="checkbox"
           class="custom-control-input"
           id="customCheck1">
    <label class="custom-control-label"
           for="customCheck1">只顯示末完成之班級</label>
  </div>
  <div class="dropdown">
    <button aria-expanded="false"
            aria-haspopup="true"
            class="btn dropdown-toggle btn-light mr-2"
            data-toggle="dropdown"
            id="dropdownMenuButton1"
            type="button">
      <i class="material-icons">print</i>
      列印
    </button>
    <div aria-labelledby="dropdownMenuButton1"
         class="dropdown-menu menu">
      <a class="dropdown-item"
         href="#">Excel</a>
      <a class="dropdown-item"
         href="#">Html</a>
    </div>
  </div>
</div>
<ul class="rwd-table">
  <li class="thead">
    <ol class="tr">
      <li>班級</li>
      <li>人數</li>
      <li>已記錄</li>
      <li>無記錄</li>
      <li>待記錄學生</li>
      <li>班導師</li>
    </ol>
  </li>
  <li class="tbody">
    <ol class="tr">
      <li data-title="班級">一年一班</li>
      <li data-title="人數">25</li>
      <li data-title="已記錄">20</li>
      <li data-title="無記錄">5</li>
      <li class="text-left"
          data-title="待記錄學生">(1)大頭, (5)豆豆, (12)小又, (20)佳佳, (25)毛毛</li>
      <li data-title="班導師">大黃</li>
    </ol>
    <ol class="tr">
      <li data-title="班級">一年二班</li>
      <li data-title="人數">23</li>
      <li data-title="已記錄">23</li>
      <li data-title="無記錄">0</li>
      <li class="text-left"
          data-title="待記錄學生"></li>
      <li data-title="班導師">小黑</li>
    </ol>
  </li>
</ul>