<div class="modal fade"
     id="psychological-import"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-title"
     aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="modal-title">{{QuizData.QuizName}}</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="semester"
                 class="col-form-label">
            學生匯入方式
          </label>
          <div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r1"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="SetSelectImportType('班級座號')"
                     [checked]="isSelectImportTypeClassSeatNo"
                     [disabled]="isBtnClassSeatNo" />
              <label class="custom-control-label"
                     for="r1">班級座號</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r2"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="SetSelectImportType('學號')"
                     [checked]="isSelectImportTypeStudentNumber"
                     [disabled]="isBtnStudentNumber" />
              <label class="custom-control-label"
                     for="r2">學號</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r3"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="SetSelectImportType('身分證號')"
                     [checked]="isSelectImportTypeIDNumber"
                     [disabled]="isBtnIDNumber" />
              <label class="custom-control-label"
                     for="r3">身分證號</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for=""
                 class="col-form-label">
            需要欄位
          </label>
          <div class="d-flex flex-wrap">
            {{importFieldName}}
          </div>
        </div>

        <div class="form-group">
          <label for=""
                 class="col-form-label">
            說明：
          </label>
          <div class="d-flex flex-wrap">
           1.匯入實施日期相同，會將原本資料刪除後新增。<br>
           2.匯入實施日期不同，會新增資料。
          </div>
        </div>

        <div class="form-group">
          <label class="btn btn-info">
            <input type="file"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                   (change)="onFileChange($event)"
                   #fileInput
                   (click)="fileInput.value = null"
                   value=''
                   style="display:none;" />
            <i class=""></i> 請選擇 Excel 檔
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-dark"
                data-dismiss="modal">取消</button>
        <button type="button"
                class="btn btn-info"
                (click)="importData()"
                [disabled]="isImportButtonDisable">匯入</button>
      </div>
    </div>
  </div>
</div>