<mat-form-field appearance="fill" class="full-width">
    <mat-label>學年度</mat-label>
    <mat-select [formControl]="yearFormCtrl">
        <mat-option *ngFor="let year of plan.yearList" [value]="year">
            {{year === '0' ? '不分入學年度' : year}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let plan of planList" [value]="plan" (click)="setCurPlan(plan)">
        {{plan.name}}
    </mat-list-option>
</mat-selection-list>
