<div style="display: flex;flex-direction: column;height: 100%;">
    <div style="height: 90%;overflow: auto;">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>學年度</mat-label>
            <mat-select [(ngModel)]="curYear" (selectionChange)="yearChange($event)">
                <mat-option *ngFor="let year of yearList" [value]="year">
                    {{year === '0' ? '不分入學年度' : year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let plan of planList" 
                [value]="plan" 
                (mouseenter)="plan.showCloseBtn = true"
                (mouseleave)="plan.showCloseBtn = false"
                (click)="setCurPlan(plan)">
                <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    <div style="display: flex;flex-direction: row;align-items: center;">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent"
                            *ngIf="plan.different">
                            report
                        </mat-icon>
                        {{plan.name}}
                    </div>
                    <button mat-icon-button color="primary" 
                        [ngStyle]="{'visibility': plan.showCloseBtn ? 'visible' : 'hidden'}" 
                        (click)="removePlan(plan)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div style="height: 5%;margin-top: auto; display: flex;flex-direction: column;">
        <mat-divider></mat-divider>
        <button mat-button color="primary" (click)="newPlan()">新增</button>
    </div>
</div>

