<div class="modal fade"
     id="setCounselInterviewdocPrintItem"
     tabindex="-1"
     role="dialog"
     aria-labelledby="CounselInterviewdocPrintItemLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="CounselInterviewdocPrintItemLabel">
          個人輔導紀錄
        </h5>
      </div>

      <div class="modal-body">

        <div class="d-flex flex-row justify-content-around">
          <div class="d-flex ml-auto flex-row align-self-center ">
            <div style="font-size: 18px;padding-top: 8px;"> 開始日期</div>
            <div style="margin-left: 10px;">
              <input required
                     type="date"
                     class="form-control"
                     id="startDate"
                     name="startDate"
                     placeholder="請輸入開始日期"
                     [(ngModel)]="startDate" />
            </div>
          </div>

          <div class="ml-auto d-flex flex-row align-self-center">
            <div style="font-size: 18px; padding-top: 8px;">結束日期</div>
            <div style="margin-left: 10px;">
              <input required
                     type="date"
                     class="form-control"
                     id="endDate"
                     name="endDate"
                     placeholder="請輸入結束日期"
                     [(ngModel)]="endDate" />
            </div>
          </div>

        </div>
        <div style="height: 10px;"></div>
        <!-- 一級輔導 -->
        <div class="d-flex justify-content-start">

          <div style="font-size: 18px; margin-right: 10px;;padding-top: 8px;">一級輔導</div>
          <div class="d-flex flex-wrap">
            <div class="custom-control custom-checkbox w-80">
              <input type="checkbox"
                     class="custom-control-input"
                     [id]="111"
                     [checked]="isCheckP1T"
                     (click)="setCheckItem('一級輔導公開')" />
              <label class="custom-control-label"
                     [for]="111">公開
              </label>
            </div>
            <div style="width: 30px"></div>
            <div class="custom-control custom-checkbox w-80">
              <input type="checkbox"
                     class="custom-control-input"
                     [id]="112"
                     [checked]="isCheckP1F"
                     (click)="setCheckItem('一級輔導不公開')" />
              <label class="custom-control-label"
                     [for]="112">不公開
              </label>
            </div>
          </div>

        </div>
        <div style="height: 10px;"></div>

        <!-- 二級輔導-->
        <div class="d-flex flex-row justify-content-start">
          <div style="font-size: 18px; margin-right: 10px;;padding-top: 8px;">二級輔導</div>

          <div class="d-flex">
            <div class="custom-control custom-checkbox w-80">
              <input type="checkbox"
                     class="custom-control-input"
                     [id]="211"
                     [checked]="isCheckP2T"
                     (click)="setCheckItem('二級輔導公開')" />
              <label class="custom-control-label"
                     [for]="211">公開
              </label>
            </div>
            <div style="width: 30px"></div>
            <div class="custom-control custom-checkbox w-80">
              <input type="checkbox"
                     class="custom-control-input"
                     [id]="212"
                     [checked]="isCheckP2F"
                     (click)="setCheckItem('二級輔導不公開')" />
              <label class="custom-control-label"
                     [for]="212">不公開
              </label>
            </div>
          </div>

        </div>




        <div class="modal-footer">
          <button type="button"
                  class="btn btn-dark"
                  data-dismiss="modal"
                  (click)="cancel()">
            取消
          </button>
          <button type="button"
                  class="btn btn-info ml-auto"
                  (click)="print()">
            列印
          </button>
        </div>
      </div>
    </div>
  </div>