<!-- 學生個人 - 綜合紀錄表 -->
<div *ngIf="!isLoading; else tmpLoading">
  <div class="tab-pane fade-in"
       id="listTwo">
    <div class="d-md-flex align-items-center sub-title mb-3 sticky-top"
         style="background: white">
      <h4 class="mb-0 mr-auto">綜合紀錄表</h4>
      <div *ngIf="fulldata.length"
           class="d-flex mb-3 mb-md-0">
        <button class="btn btn-info"
                (click)="save()"
                [disabled]="isSaving">
          <i class="material-icons">save_alt</i>
          <span [hidden]="isSaving">儲存</span>
          <span [hidden]="!isSaving">儲存中...</span>
        </button>
      </div>
    </div>

    <ng-container *ngIf="fulldata.length === 0">
      <div class="row justify-content-center">沒有資料。</div>
    </ng-container>

    <ng-container *ngFor="let subject of fulldata">
      <div *ngFor="let group of subject.QuestionGroup"
           class="form-group ml-3">
        <h5>{{subject.Subject}} / {{group.Group}}</h5>
        <ng-container *ngFor="let query of group.QuestionQuery">
          <div class="row ml-3">
            <div class="col-sm-2 font-weight-bold">
              <span *ngIf="query.QuestionText.length === 1 && query.QuestionText[0].Require"
                    class="text-samll text-danger">*</span>
              <span>{{query.Query}}</span>
            </div>
            <div class="col-sm-10">
              <div app-query-form
                   [formControl]="query.QuestionTextControls"
                   class="col-sm-10 query"
                   [debug]="false">
              </div>
            </div>
          </div>
        </ng-container>
        <!-- <table class="ml-3 table">
          <ng-container *ngFor="let query of group.QuestionQuery">
            <tr class="row">
              <th class="col-sm-3">
                <span *ngIf="query.QuestionText.length === 1 && query.QuestionText[0].Require"
                      class="text-samll text-danger">*</span>
                <span>{{query.Query}}</span>
              </th>
              <td class="col-sm-9">
                  <div app-query-form
                       [formControl]="query.QuestionTextControls"
                       class="query"
                       [debug]="false">
                  </div>
              </td>
            </tr>
          </ng-container>
          </table> -->

        <!-- <div>
            <h5>
              <span *ngIf="query.QuestionText.length === 1 && query.QuestionText[0].Require"
                    class="text-samll text-danger">*</span>
              <span>{{query.Query}}</span>
            </h5>
            <div class="ml-3">
              <div app-query-form
                  [formControl]="query.QuestionTextControls"
                  class="query"
                  [debug]="false">
              </div>
            </div>
          </div> -->
      </div>
    </ng-container>
    <!--     
    <ng-container *ngFor="let subject of fulldata">
      <ul class="list-group my-3"
          *ngFor="let group of subject.QuestionGroup">
        <h3 [id]="group.Group"
            class="py-3 flex-fill bg-cyan text-center">{{subject.Subject}} / {{group.Group}}</h3>
        <li class="list-group-item"
            *ngFor="let query of group.QuestionQuery">
          <div class="row">
            <div class="col-sm-3 font-weight-bold">
              <span *ngIf="query.QuestionText.length === 1 && query.QuestionText[0].Require"
                    class="text-samll text-danger">*</span>
              {{query.Query}}
            </div>
            <div class="col-sm-9">
              <div app-query-form
                   [formControl]="query.QuestionTextControls"
                   class="col-sm-10 query"
                   [debug]="false">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ng-container> -->
  </div>
</div>

<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>