<!-- 新增／修改認輔 Modal -->

<div class="modal fade"
     id="viewCaseInterview"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addInterviewLabel"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="addInterviewLabel">
                  <b> 檢視晤談紀錄 - {{ _studentName }} </b> 
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="schoolYear"
                               class="col-form-label">
                           <b class ="modal-sub-title"> 學年度</b>
                        </label>
                        <div class="ml-3">
                            {{SchoolYear}}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="semester"
                               class="col-form-label">
                               <b class ="modal-sub-title">  學期 </b>
                        </label>
                        <div class="ml-3">
                            {{Semester}}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="interviewDate"
                               class="col-form-label">
                               <b class ="modal-sub-title">   晤談日期 </b>
                        </label>
                        <div class="ml-3">
                            {{OccurDate}}
                        </div>

                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label">
                        <span class="text-samll text-danger"></span>
                        <b class ="modal-sub-title">  個案編號 </b>
                        <!-- <span class="input-group mb-3"></span> -->
                    </label>
                    <div class="ml-3"> {{ CaseNo }}</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">

                        <b class ="modal-sub-title">   方式 </b>
                    </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="ml-3">
                          {{ CounselType }} 
                            </div>                            

                        </div>
                        <div class="ml-3">
                                {{ CounselTypeOther }}
                        </div>
                       
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="interviewee"
                               class="col-form-label">

                               <b class ="modal-sub-title">    對象 </b>
                        </label>
                        <div class="ml-3">{{ContactName}}</div>                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="description"
                           class="col-form-label">
                           <b class ="modal-sub-title">       內容說明 </b>
                        <span class="text-muted"></span>
                    </label>
                    <textarea readonly class="form-control"
                              id="description"
                              [rows]="(Content.split('\n').length>1)?Content.split('\n').length : 2" 
                              placeholder="請輸入內容說明"
                              [(ngModel)]="Content"></textarea>

                </div>

                <div *ngIf="fileInfo.FileName ">
                  <!-- 檔案下載區塊-->
                  <a class="download"  [href]= "this.fileInfo.href" 
                  [download]="fileInfo.FileName">
                  <mat-icon  aria-hidden="false" aria-label="Example home icon">
                    file_download
                  </mat-icon>
                    <span class="ml-1">
                        {{fileInfo.FileName }}
                    </span> 
                    </a>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>