<!-- 課程介紹內容 -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"
            id="crouseInfoTitle">
            {{data.subject.SubjectName}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light font-weight-bold">課程目標</li>
        <ng-container *ngIf="data.subject.Goal; else tplNoData">
            <li class="list-group-item">
                <pre class="my-0"
                    style="font-size: 100%">{{data.subject.Goal}}</pre>
            </li>
        </ng-container>
        <li class="list-group-item list-group-item-light font-weight-bold">上課內容</li>
        <ng-container *ngIf="data.subject.Content; else tplNoData">
            <li class="list-group-item">
                <pre class="my-0"
                    style="font-size: 100%">{{data.subject.Content}}</pre>
            </li>
        </ng-container>
        <li class="list-group-item list-group-item-light font-weight-bold">跨課程時段</li>
        <ng-container *ngIf="data.subject.CrossType1 || data.subject.CrossType2; else tplNoData">
            <li class="list-group-item">
                <pre class="my-0"
                    style="font-size: 100%">{{data.subject.CrossType1}} {{data.subject.CrossType2}}</pre>
            </li>
        </ng-container>
        <li class="list-group-item list-group-item-light font-weight-bold">備註</li>
        <ng-container *ngIf="data.subject.Memo; else tplNoData">
            <li class="list-group-item">
                <pre class="my-0"
                    style="font-size: 100%">{{data.subject.Memo}}</pre>
            </li>
        </ng-container>
        <li class="list-group-item d-flex flex-column flex-md-row align-items-md-center py-2">
            <div class="mr-auto">
                <span class="badge badge-primary mr-1">科目級別：{{data.subject.Level}}</span>
                <span class="badge badge-secondary">學分數：{{data.subject.Credit}}</span>
                <ng-container *ngIf="!data.subject.BlockReason 
                    && data.subject.TimeSelect !== 't' 
                    && data.subject.RepeatSelect !== 't' 
                    && (data.AttendCount < data.Limit); else tplForbidden">
                    <span *ngIf="data.countMode === '志願序'"
                        class="badge badge-light my-2 my-md-0 mr-md-3">
                        <span>第一志願 / 名額：</span>
                        <span>{{data.subject.FirstWishCount}} / {{data.subject.Limit}}</span>
                    </span>
                    <span *ngIf="data.countMode === '先搶先贏'"
                        class="badge badge-light my-2 my-md-0 mr-md-3">
                        <span>已選 / 名額：</span>
                        <span>{{data.subject.AttendCount}} / {{data.subject.Limit}}</span>
                    </span>
                </ng-container>
            </div>
            <button *ngIf="buttonText"
                class="btn btn-info ml-1"
                [disabled]="data.subject.BlockReason 
                    || data.subject.TimeSelect === 't' 
                    || data.subject.RepeatSelect === 't' 
                    || data.subject.AttendCount === data.subject.Limit"
                (click)="join()">{{buttonText}}</button>
        </li>
    </ul>
</div>

<ng-template #tplNoData>
    <li class="list-group-item text-gray">
        未設定
    </li>
</ng-template>

<ng-template #tplForbidden>
    <span class="badge badge-light my-2 my-md-0 mr-md-3">
      <code *ngIf="data.subject.BlockReason" class="mr-1">{{data.subject.BlockReason}}</code>
      <code *ngIf="data.subject.TimeSelect =='t'" class="mr-1">該課程時段已選修課程</code>
      <code *ngIf="data.subject.RepeatSelect === 't'">已選修此課程</code>
      <code *ngIf="data.subject.AttendCount === data.subject.Limit">選課人數已額滿</code>
  </span>
</ng-template>

