<!-- 選課（先搶先贏） -->
<div id="select-one">
    <nav aria-label="breadcrumb text-nowrap text-truncate">
        <ol class="breadcrumb">
            <li class="breadcrumb-item point" [routerLink]="['../../main']">學生選課</li>
            <li class="breadcrumb-item point active" aria-current="page">{{subjectType}}</li>
        </ol>
    </nav>
    <ul class="list-group mb-3">
        <li class="list-group-item active">
            已選課程
        </li>
        <!-- 顯示選課結果 -->
        <ng-container *ngIf="stuAttend; else tplNoData">
            <li class="list-group-item list-group-item-action d-flex flex-column flex-md-row align-items-md-center py-2 point">
                <div (click)="showDialog(stuAttend, '')" style="flex: 1" class="d-flex flex-md-row">
                    <!-- 指定選課才有這 icon -->
                    <i *ngIf="stuAttend.Lock === 'true'" class="material-icons mr-2" data-toggle="tooltip"
                        data-placement="top" title="指定修課">lock_outline</i>
                    {{stuAttend.SubjectName}}{{basicSrv.getLevel(stuAttend)}}
                </div>
                <div class="text-right">
                    <button class="btn btn-danger" [disabled]="stuAttend.Lock === 'true'"
                        (click)="openCancelConfirmDialog()">
                        退選
                    </button>
                </div>
            </li>
        </ng-container>
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item active d-flex">
            課程清單
        </li>
        <ng-container *ngIf="!isLoading;else tplLoadning">
            <li *ngFor="let subject of subjectList"
                class="list-group-item list-group-item-action d-flex flex-column justify-content-md-between flex-md-row align-items-md-center py-0 point"
                data-toggle="modal" data-target="#crouseInfo">
                <div style="flex: 1" class="d-flex flex-md-row justify-content-md-between py-3"
                    (click)="showDialog(subject, '先搶先贏')">
                    <div class="mr-auto">
                        <span style="margin-right: 10px">{{subject.SubjectName}}{{basicSrv.getLevel(subject)}}</span>
                        <i *ngIf="subject.SubjectID == stuAttend.SubjectID" class="material-icons mr-2"
                            data-toggle="tooltip" data-placement="top" title="已加選" style="color:darkgreen">done</i>
                    </div>
                    <ng-container *ngIf="!subject.BlockReason
                        && subject.TimeSelect !== 't'
                        && subject.RepeatSelect !== 't'
                        && subject.AttendCount < subject.Limit;
                        else tplForbidden">
                        <span class="badge badge-light my-2 my-md-0 mr-md-3">
                            <span>已選 / 名額：</span>
                            <span>{{subject.AttendCount}} / {{subject.Limit}}</span>
                        </span>
                    </ng-container>
                    <ng-template #tplForbidden>
                        <span class="badge badge-light mt-2 mt-md-0 mr-md-3">
                            <code *ngIf="subject.BlockReason" class="mr-1">{{subject.BlockReason}}</code>
                            <code *ngIf="subject.TimeSelect === 't'" class="mr-1">該課程時段已選修課程</code>
                            <code *ngIf="subject.RepeatSelect === 't'">已選修此課程</code>
                            <code *ngIf="subject.AttendCount >= subject.Limit">選課人數已額滿</code>
                        </span>
                    </ng-template>
                </div>
                <button (click)="confirmJoinCourse(subject)" class="btn btn-info" [disabled]="subject.BlockReason 
                            || subject.TimeSelect === 't' 
                            || subject.RepeatSelect === 't' 
                            || subject.AttendCount >= subject.Limit"
                    [matTooltip]="subject.SubjectName + basicSrv.getLevel(subject)">選課</button>
            </li>
        </ng-container>
    </ul>
</div>

<ng-template #tplNoData>
    <li class="list-group-item text-gray">
        尚未選課
    </li>
</ng-template>

<ng-template #tplCancelConfirm>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">退選</h5>
            <button type="button" class="close" [mat-dialog-close]="true">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light font-weight-bold">
                確定退選「 {{stuAttend.SubjectName}}{{basicSrv.getLevel(stuAttend)}} 」此課程？
            </li>
            <li class="list-group-item d-flex justify-content-end">
                <button class="btn btn-light btn-sm mr-2" (click)="leaveCourse(stuAttend)">確定</button>
                <button class="btn btn-info btn-sm" [mat-dialog-close]="true" data-dismiss="modal">取消</button>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #tplAddConfirm>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">提醒</h5>
            <button type="button" class="close" [mat-dialog-close]="true">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light font-weight-bold">
                加選「{{selectedSubject.SubjectName}}{{selectedSubject.Level}}」此課程，
                會退選原先課程「 {{stuAttend.SubjectName}}{{basicSrv.getLevel(stuAttend)}} 」
            </li>
            <li class="list-group-item d-flex justify-content-end">
                <button class="btn btn-light btn-sm mr-2" (click)="dialogConfirm.close({subject: true})">確定</button>
                <button class="btn btn-info btn-sm" [mat-dialog-close]="true" data-dismiss="modal">取消</button>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #tplLoadning>
    <div class="d-flex justify-content-center">
        <li class="list-group-item list-group-item-action d-flex flex-row justify-content-center">
            <h5>Loading ...</h5>
        </li>
    </div>
</ng-template>