<div class="modal fade"
     id="grant_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="grantLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="grantLabel">編輯授理狀況</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body w-100" style="width: 100% !important; padding: 0px !important;">
        <div class="row bg-light p-4  ">
          <div class="col-md-3 mb-3 font-weight-bold">　<b>班級座號：</b></div>
          <div class="col-md-3 mb-3">
            {{ referralStudent.ClassName }} {{ referralStudent.SeatNo }}號
          </div>
          <div class="col-md-3 mb-3 font-weight-bold"><b>姓名(性別)：</b></div>
          <div class="col-md-3 mb-3">
            {{ referralStudent.Name }}({{ referralStudent.Gender }})
          </div>
          <div class="col-md-3 mb-3 font-weight-bold"><b>班導師：</b></div>
          <div class="col-md-3 mb-3">{{ referralStudent.TeacherName }}</div>
          <div class="col-md-3 mb-3 font-weight-bold"><b>轉介日期：</b></div>
          <div class="col-md-3 mb-3">{{ referralStudent.OccurDate }}</div>
          <div class="col-md-12 font-weight-bold"><b>轉介說明：</b></div>
          <div class="col-md-12"  style="white-space: pre-wrap;word-break: break-all;">{{ referralStudent.ReferralDesc }}</div>
        </div>


        <div class="p-4">
        <div class="form-group">
          <label for="contactMatter"
                 class="col-form-label">
            <span class="text-samll text-danger"
                  *ngIf="!isReferralReplyHasValue">*</span> <b>輔導室接受情形：</b>
          </label>
          <textarea class="form-control"
                    id="contactMatter"
                    rows="1"
                    placeholder="請輸入輔導室接受情形"
                    [(ngModel)]="ReferralReply"
                    (keyup)="checkValue()"
                    ></textarea>
        </div>
        <div class="form-group">
          <label for="semester"
                 class="col-form-label">
            <b>授理狀況：</b> 
          </label>
          <div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r1"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="setProcessSatus('未處理')"
                     [checked]="isUnPrecessed" />
              <label class="custom-control-label"
                     for="r1">未處理</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r2"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="setProcessSatus('處理中')"
                     [checked]="isProcessing" />
              <label class="custom-control-label"
                     for="r2">處理中</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="r3"
                     name="grantradio"
                     class="custom-control-input"
                     (click)="setProcessSatus('已處理')"
                     [checked]="isProcessed" />
              <label class="custom-control-label"
                     for="r3">已處理</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="interviewDate"
                 class="col-form-label">
            <span class="text-samll text-danger"
                  *ngIf="!isReferralReplyDateHasValue">*</span> 
                  <b>授理日期:</b>
          </label>
          <input type="date"
                 class="form-control"
                 id="interviewDate"
                 placeholder="請輸入授理日期"
                 [(ngModel)]="ReferralReplyDate"
                 (keyup)="checkValue()"
                 (ngModelChange)="checkValue()" />
        </div>
        <div class="form-group">
          <label for="contactMatter"
                 class="col-form-label">
            <span class="text-samll text-danger"
                  *ngIf="!isReferralReplyDescHasValue">*</span>
                  <b>授理說明：</b> 
          </label>
          <textarea class="form-control"
                    id="contactMatter"
                    rows="3"
                    placeholder="請輸入授理說明"
                    [(ngModel)]="ReferralReplyDesc"
                    (keyup)="checkValue()"></textarea>
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-dark"
                (click)="cancel()">
          取消
        </button>
        <button type="button"
                class="btn btn-info"
                (click)="save()"
                [disabled]="isSaveButtonDisable">
          儲存
        </button>
      </div>
    </div>
  </div>
</div>