<div class="d-flex">
    <button class="btn btn-info ml-auto" data-toggle="modal" data-backdrop="static" data-target="#newCase">
        <i class="material-icons">add</i>
        建立新個案
    </button>
</div>
<ul class="rwd-table">
    <li class="thead">
        <ol class="tr">
            <li>班級</li>
            <li>座號</li>
            <li>姓名</li>
            <li>性別</li>
            <li>學生身份</li>
            <li>個案編號</li>
            <li>問題類別</li>
            <li>認輔老師</li>
            <li>訪談次數</li>
            <li>結案</li>
            <li></li>
        </ol>
    </li>
    <li class="tbody">
        <ol class="tr">
            <li data-title="班級">三年一班</li>
            <li data-title="座號">1</li>
            <li data-title="姓名">吳明秋</li>
            <li data-title="性別">男</li>
            <li data-title="學生身份">一般生</li>
            <li data-title="個案編號">10126-0005</li>
            <li class="text-left text-normal" data-title="問題類別">家庭結構問題</li>
            <li data-title="認輔老師">蔡貞儀</li>
            <li data-title="訪談次數">4</li>
            <li data-title="結案">否</li>
            <li data-title="">
                <button class="btn btn-light" data-toggle="modal" data-backdrop="static"
                    data-target="#case">編輯</button>
            </li>
        </ol>
    </li>
</ul>
