<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened disableClose>
    <div class="mat-drawer-inner-container">
      <app-plan-list></app-plan-list>
      <div class="flex-column full-flex"></div>
      <mat-divider></mat-divider>
      <button mat-button color="primary">新增</button>
    </div>
  </mat-drawer>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<!-- <ng-template #tplLoading>
  <div style="display: flex;flex-direction: row;justify-content: center;">
    <mat-spinner [diameter]="45"></mat-spinner>
  </div>
</ng-template> -->
