<div class='up-section'>
<button class='uploadBtn' id= "btn" mat-raised-button color="primary" routerLink="/upload" >上傳csv<mat-icon aria-hidden="false">play_arrow</mat-icon></button>
<!----->
<mat-form-field appearance="fill" >
  <mat-label>選擇入學年度</mat-label>
  <mat-select  #selectYear (selectionChange)="filterInspect(selectYear.value)"  [(ngModel)]="selectYearOption">
    <mat-option [value]="year" *ngFor = "let year of years"> {{year}} </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" style='width:500px'>
  <mat-label>選擇群別</mat-label>
  <mat-select #selectCategory (selectionChange)="filterInspect(selectCategory.value)" [(ngModel)]="selectCategoryOption" style='width:480px'>
    <mat-option [value]="category" *ngFor = "let category of categories"> {{category}}</mat-option>
  </mat-select>
</mat-form-field>
</div>
<!----->
<!----->

<div class='table-section'>
<table class="theader" matSort (matSortChange)="sortData($event)">
  <tr class="thead">
    <th style='width: 6%;' mat-sort-header="入學年度">入學年度</th>
    <th style='width: 8%;'mat-sort-header="課程類型">課程類型</th>
    <th style='width: 13%;'mat-sort-header="群別類型">群別類型</th>
    <th style='width: 13%;'mat-sort-header="科別類型">科別類型</th>
    <th style='width: 13%;'mat-sort-header="班群類型">班群類型</th>
    <th style='width: 13%;'mat-sort-header="科目名稱">科目名稱</th>
    <th style='width: 13%;'mat-sort-header="學期學分">學期學分</th>
    <th style='width: 20%;'mat-sort-header="課程代碼">課程代碼</th>
  </tr>

  <tr class="tbody" *ngFor="let course of sortedData">
    <td>{{course.entryYear}}</td>
    <td>{{course.courseType}}</td>
    <td>{{course.groupType}}</td>
    <td>{{course.subjectType}}</td>
    <td>{{course.classType}}</td>
    <td>{{course.subjectName}}</td>
    <td>{{course.creditPeriod}}</td>
    <td>{{course.courseCode}}</td>
  </tr>

</table>
</div>
