<div *ngIf="
    !roleService.isLoading && !counselStudentService.isLoading;
    else tmpLoading
  "
     class="tab-content">
   <app-permission-denied *ngIf="!roleService.enableCounsel"></app-permission-denied>
   <!-- TAB 1 輔導學生 -->
   <div *ngIf="roleService.enableCounsel"
        class="tab-pane fade show active">
      <div class="input-group my-3">
         <div *ngIf="counselStudentService.counselClass"
              class="input-group-prepend">
            <button class="btn btn-light dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
               {{ selectItem || "請選擇" }}
            </button>
            <div class="dropdown-menu scrollable-menu"
                 style="min-width: 180px;">
               <h6 class="dropdown-header"
                   *ngIf="roleService.role.indexOf('班導師') >= 0">班導師</h6>
               <a *ngFor="let classRec of counselStudentService.getCounselClass('班導師')"
                  [routerLink]="['list', 'class', classRec.ClassID]"
                  [ngClass]="{ active: selectItem === classRec.ClassName }"
                  class="dropdown-item">
                  {{ classRec.ClassName }}
               </a>
               <h6 class="dropdown-header"
                   *ngIf="roleService.role.indexOf('認輔老師') >= 0">認輔教師</h6>
               <a class="dropdown-item"
                  *ngIf="roleService.role.indexOf('認輔老師') >= 0"
                  [routerLink]="['list', 'guidance', 'g']"
                  [ngClass]="{ active: selectItem === '認輔學生' }">
                  認輔學生
               </a>
               <h6 class="dropdown-header"
                   *ngIf="roleService.role.indexOf('輔導老師') >= 0">輔導老師</h6>
               <a *ngFor="let classRec of counselStudentService.getCounselClass('輔導老師')"
                  [routerLink]="['list', 'class', classRec.ClassID]"
                  [ngClass]="{ active: selectItem === classRec.ClassName }"
                  class="dropdown-item">
                  {{ classRec.ClassName }}
               </a>

               <!-- <a *ngFor="let classRec of counselStudentService.counselClass"
                       class="dropdown-item"
                       [routerLink]="['list', 'class', classRec.id]"
                       [ngClass]="{active: selectItem===classRec.className}">
                        {{classRec.className}}
                    </a>
                    <a class="dropdown-item"
                       *ngIf="roleService.role.indexOf('認輔老師') >= 0"
                       [routerLink]="['list', 'guidance','']"
                       [ngClass]="{active: selectItem==='認輔學生'}">
                        認輔學生
                    </a> -->
            </div>
         </div>
         <!-- <div class="dropdown">
                <button class="btn btn-light dropdown-toggle mr-3"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="#">輔導紀錄</a>
                    <a class="dropdown-item"
                       href="#">認輔紀錄</a>
                </div>
            </div>
            <div class="input-group-prepend">
                <button class="btn btn-light dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">全校</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="#">全校</a>
                    <a class="dropdown-item"
                       href="#">一年一班</a>
                    <a class="dropdown-item"
                       href="#">一年二班</a>
                    <a class="dropdown-item"
                       href="#">一年三班</a>
                </div>
            </div> -->
         <!-- 說明 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
              使用 autocomplete 模式呈現全班名單。
              https://material.angularjs.org/latest/demo/autocomplete
          ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
         <!-- 搜尋功能 認輔老師 不給用  -->    
         <ng-container *ngIf="roleService.role.indexOf('輔導老師') >= 0 || roleService.role.indexOf('班導師') >= 0">
            <input type="text"
            class="form-control"
            placeholder="搜尋(學號,身分證號,姓名)"
            (keydown.enter)="search()"
            [(ngModel)]="searchText">
         </ng-container>        
      </div>
      <router-outlet></router-outlet>
   </div>
</div>
<ng-template #tmpLoading
             class="container">
   <div class="row justify-content-center"
        style="margin-top:250px;margin-bottom:200px;">
      Loading...
   </div>
</ng-template>