<div class="tab-content">
  <!-- TAB 1 輔導學生 -->
  <div class="tab-pane fade show active">
      <div class="input-group my-3">
          <div class="dropdown">
              <button class="btn btn-light dropdown-toggle mr-3"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">訪談紀錄</button>
              <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="#">訪談紀錄</a>
                  <a class="dropdown-item"
                     href="#">認輔紀錄</a>
              </div>
          </div>
          <div class="input-group-prepend">
              <button class="btn btn-light dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">全校</button>
              <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="#">全校</a>
                  <a class="dropdown-item"
                     href="#">一年一班</a>
                  <a class="dropdown-item"
                     href="#">一年二班</a>
                  <a class="dropdown-item"
                     href="#">一年三班</a>
              </div>
          </div>
          <!-- 說明 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
              使用 autocomplete 模式呈現全班名單。
              https://material.angularjs.org/latest/demo/autocomplete
          ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
          <input type="text"
                 class="form-control"
                 placeholder="搜尋">
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
