<div class="card w-75 mt-4">
  <div class="card-body">

    <h1>填單紀錄</h1>
    <span class="material-icons">
      qr_code_2
    </span>

    <div class="float-right">
      <span class="material-icons">
        edit
      </span>
      <span class="material-icons">
        print
      </span>
      <span class="material-icons">
        delete
      </span>
    </div>
    <div class="card w-80 mt-1">
      <div class="card-body">

        <ng-container>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">日期</th>
                <ng-container>
                  <th scope="col" style="cursor: pointer;"></th>
                </ng-container>
                <th scope="col">

                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let dateInfo of LeavveDateInfos">
                <tr>
                  <th class="hover_section" scope="row" style="cursor: pointer; ">{{dateInfo.Date}}</th>
                  <td *ngFor="let period of dateInfo.LeaveInfos">{{period.Abbreviation}}</td>
                  <td>
                    <span class="material-icons">
                      highlight_off
                    </span></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

    </div>
  </div>
</div>
