<!-- 取消轉入申請 Modal -->
<div class="modal fade" id="regTransStudentModal" tabindex="-1" role="dialog" aria-labelledby="regTransStudent" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 100% !important;">
      <div class="modal-header modal-header" style="background-color: aquamarine;">
        <h5 class="modal-title" id="newCaseLabel">
          <b>取消申請移轉</b>
        </h5>
        <button type="button" class="close brad-5" style="border-radius: 5px !important;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row mx-0 mt-3">
            <div class="mr-2 mb-3">
              年級：
            </div>
            <div class="mr-2 mb-3">
              班級：
            </div>
            <div class="dropdown">
              學生：
            </div>
        </div>
        <div>
          <span>申請者：</span>
          <span class="float-right">申請日期：{{new Date() | date: 'yyyy-MM-dd'}}</span>
        </div>
        <div>
          <p class="text-center mt-3" *ngIf="isReging">處理中，請稍候</p>
          <p class="text-center mt-3 text-success" *ngIf="regStatus.info === 'success'">取消申請成功！</p>
          <p class="text-center mt-3 text-danger" *ngIf="regStatus.info === 'failed'">取消申請失敗！{{regStatus.msg}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-info" (click)="beginReg()">
          取消申請移轉
        </button>
      </div>
    </div>
  </div>
</div>
