<!-- 學生個人 - 綜合紀錄表 B -->
<div *ngIf="!isLoading; else tmpLoading">
  <ng-container *ngIf="reportData">
    <h4 class="text-center">{{SchoolName}} 輔導紀錄表</h4>
    <h5>
      <span>學號：</span><span>{{StudentNumber}}</span>
      <span>&nbsp;</span>
      <span>姓名：</span><span>{{StudentName}}</span>
    </h5>

    <table>
      <tr>
        <td style="text-align: center; vertical-align: middle;width: 5%"><strong>學年度</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 5%"><strong>學期</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 5%"><strong>年級</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 10%"><strong>日期</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 10%"><strong>對象</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 55%"><strong>聯絡事項及內容</strong></td>
        <td style="text-align: center; vertical-align: middle;width: 10%"><strong>記錄者</strong></td>
      </tr>
      <ng-container *ngFor="let item of CounselInterview">
        <tr>
          <td style="text-align: center; vertical-align: middle;">{{item.SchoolYear}}</td>
          <td style="text-align: center; vertical-align: middle;">{{item.Semester}}</td>
          <td style="text-align: center; vertical-align: middle;">{{item.GradeYear}}</td>
          <td style="text-align: center; vertical-align: middle;">{{item.OccurDate}}</td>
          <td style="text-align: center; vertical-align: middle;">{{item.ContactName}}</td>
          <td>
            <p *ngIf="item.ContactItem"
               style="white-space: pre-wrap;word-break: break-all;">
              <strong>聯絡事項：</strong>
              <span>{{ item.ContactItem }}</span>
            </p>
            <p *ngIf="item.Content"
               style="white-space: pre-wrap;word-break: break-all;">
              <strong>內容：</strong>
              <span>{{ item.Content }}</span>
            </p>
            <!-- {{item.Content}} -->
          </td>
          <td style="text-align: center; vertical-align: middle;">{{item.AuthorName}}</td>
        </tr>
      </ng-container>

    </table>
  </ng-container>
</div>

<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>