<!-- 新增 -->
<div id="behavior-add">
  <nav aria-label="breadcrumb text-nowrap text-truncate">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <span class="point"
                    [routerLink]="['/']">主頁</span></li>
          <li class="breadcrumb-item">
              <span class="point"
                   >新增</span></li>
          <button class="ml-auto btn btn-dark"
              [routerLink]="['/template']">事由樣板</button>
      </ol>
  </nav>
  <div class="row">
      <div class="col-md-4 col-lg-3">
          <div class="form-group row">
              <label for="dateLabel"
                     class="col-2 col-form-label">日期</label>
              <div class="col-10">
                  <input type="date"
                         class="form-control"
                         id="dateLabel"
                         #currentDate
                         [(ngModel)]="currentDateString"
                         (change)="currentDateChange(currentDate.value)">
              </div>
          </div>
      </div>
      <div class="input-group mb-3 col-md-6 col-lg-6">
          <div class="input-group-prepend">
              <button class="btn btn-outline-primary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">選擇事由</button>
              <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="javascript:;"
                     *ngFor="let data of commentTemplateList"
                     (click)="selectItem(data)">{{data.Comment}}</a>
              </div>
          </div>
          
          <input type="text"
                 class="form-control"
                 aria-label="Text input with dropdown button"
                 placeholder="事由.."
                 [(ngModel)]="addText"
                >
      </div>
      <div class="input-group col-md-2 col-lg-1">
          <div class="form-group form-check">
              <input id="detention"
                     type="checkbox"
                     class="form-check-input"
                     [(ngModel)]="currentDetention">
              <label class="form-check-label"
                     for="detention">Detention</label>
          </div>
      </div>
      <div class="col-md-12 col-lg-2">
          <button class="ml-auto btn btn-info btn-block"
                  disabled={{checkButtonEnable}}
                  [routerLink]="['../list']"
                  (click)="save()">儲存 （已選取: {{selectedStudents.length}}）</button>
      </div>
  </div>


 <!-- 已選資料 -->
  <hr>
  <div  style="margin-bottom: 10px" class="st-list d-flex flex-wrap mt-3 mt-lg-1">
    <div style="width: 100%;">
    <span style="color: rgb(153, 151, 151);" >已選擇：</span>
  </div>
<hr>
 <!-- 空白區塊(為選取學生時) -->
 <div  class="card"  *ngIf="!selectedStudents.length" style="height: 278px; margin-top: 10px; border: 2px dashed  rgb(153, 151, 151); ">
    <div>
        <div  style="padding:50% 22px;  "> 
            <b style="color:rgba(0, 0, 0, 0.54); text-align: center ;">請從下方選取學生 </b>
        </div>     
    </div>
 </div>

<!-- 已選擇 -->

    <div  style="margin-bottom: 10px"  [class]="selectedStudents.length >0?'card st-hover':'card'" *ngFor="let student of selectedStudents; let i = index"  >
      <div >
      <label for="stCheck{{student.ID}}"  (click)="clickPicture(student)">
        <img src="{{student.PhotoUrl}}" />    
        <div class="card-body py-2 text-truncate">
         <b> {{student.Name}}</b> ({{student.EnglishName}})
           <br>
           {{student.ClassName}}班 ({{student.SeatNo}})
            <span style="float: right;"> {{student.StudentNumber}}</span> 
        </div>
      </label>
     </div>
    </div>
  </div>
<hr>

  <!-- 選擇班級 -->
 <div class="st-list d-flex flex-wrap mt-3 mt-lg-1">
  <mat-form-field>
   <mat-label>選擇班級</mat-label>
   <mat-select (selectionChange)="onClassSelected()" [(value)]="selectedClass">
     <mat-option *ngFor="let cls of classes" [value]="cls"  width="20px" >
       {{cls.Name}}
     </mat-option>
   </mat-select>
  </mat-form-field>
 </div>

    <!-- 學生資料-->
  <div class="st-list d-flex flex-wrap mt-3 mt-lg-1">
      <div class="card st-check"
           *ngFor="let data of studentDataList; let i = index">
          <input type="checkbox"
                 id="stCheck{{data.ID}}"
                 [(ngModel)]="data.checked"
                 (change)="clickPicture(data)"
                 >

          <label for="stCheck{{data.ID}}">
              <img src="{{data.PhotoUrl}}" />
              <div class="card-body py-2 text-truncate">
                  <b>{{data.Name}}</b> ({{data.EnglishName}})
                     <br>
                    ({{data.SeatNo}}號)
                     <span style="float: right;"> {{data.StudentNumber}}</span> 
              </div>
          </label>
      </div>
  </div>
</div>
