<div class="container-fluid cbs d-flex justify-content-between flex-column">
  <div id="index" page>
      <nav aria-label="breadcrumb text-nowrap text-truncate">
          <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">班級獎懲</li>
          </ol>
      </nav>
      <div class="d-flex flex-column flex-sm-row mb-3">
        <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
          <mat-label>選擇班級</mat-label>
          <mat-select #className [(ngModel)]="selectedClass"
                    (selectionChange)="getSemesters()">
            <mat-option id="" [value]="cls"
                        *ngFor="let cls of classList">
              {{cls.ClassName}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
          <mat-label>學年度學期</mat-label>
          <mat-select #semester [(ngModel)]="selectedSemester"
                      (selectionChange)="queryStudentAttendance()" >
            <mat-option id="yearSemester" [value]="semester"
                        *ngFor="let semester of semesters ">
                {{getSemesterString(semester)}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <a>
          <mat-checkbox [(ngModel)]="showAllStudents" (ngModelChange)="queryStudentAttendance()">顯示全部學生</mat-checkbox>
        </a>

        <div class="dropdown ml-auto mt-5 mt-sm-0">
          <a style="cursor: pointer;" (click)="exportFile('xls')">
            <mat-icon> cloud_download</mat-icon>班級統計(Excel)
          </a>
          <a style="cursor: pointer;" (click)="exportFile('html')">
            <mat-icon> cloud_download</mat-icon>班級統計(Html)
          </a>
        </div>
      </div>
      <!-- 獎懲 -->
      <div class="table-responsive" #table>
          <table class="table-rwd table table-bordered table-hover kd-t">
              <thead>
                  <tr>
                      <th style="width: 10%;">座號</th>
                      <th style="width: 10%;">姓名</th>
                      <th style="width: 10%;">大功</th>
                      <th style="width: 10%;">小功</th>
                      <th style="width: 10%;">嘉獎</th>
                      <th style="width: 10%;">大過</th>
                      <th style="width: 10%;">小過</th>
                      <th style="width: 10%;">警告</th>
                      <th *ngIf="isHeightSchool" style="width: 10%;">留校察看</th>
                  </tr>
              </thead>
              <tbody *ngFor="let eachStudent of this.getArray();">
                  <tr class="collapsed"
                      data-toggle="collapse"
                      data-target="#rA"
                      aria-expanded="false"
                      aria-controls="rA"
                      >
                      <td data-th="座號" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{eachStudent[1].seatNumber}}</td>
                      <td data-th="姓名" routerLink="student-detail" (click)="nextPage(eachStudent[1])" [innerHTML]="eachStudent[1].name"></td>
                      <td data-th="大功" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].merit.A)}}</td>
                      <td data-th="小功" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].merit.B)}}</td>
                      <td data-th="嘉獎" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].merit.C)}}</td>
                      <td data-th="大過" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].demerit.A)}}</td>
                      <td data-th="小過" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].demerit.B)}}</td>
                      <td data-th="警告" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{this.checkMerit(eachStudent[1].demerit.C)}}</td>

                      <td *ngIf="isHeightSchool" data-th="留校察看" routerLink="student-detail" (click)="nextPage(eachStudent[1])">{{eachStudent[1].detention}}</td>
                  </tr>
              </tbody>
          </table>
          <div *ngIf="this.showWarning">本學期班級無獎懲紀錄</div>
      </div>
  </div>



  <footer class="text-center p-2 mt-auto">
      Powered By ischool
  </footer>
</div>

<!-- <script type="text/javascript">
  function toggle(event) {
      event.preventDefault();
      event.stopPropagation();

      $('#addInterview').modal('show');
  }

  function showTooltip(){
      $('td[data-toggle=tooltip]').tooltip('toggle');
  }
</script> -->
