<div *ngIf="!isLoading; else tmpLoading">
  <app-permission-denied *ngIf="deny"></app-permission-denied>
  <div *ngIf="!deny" >
    <div class="row mt-3">
      <div class="col-md-2">
        <div class="sticky-top mb-3">
          <h4 class="mt-1 mb-3">
          </h4>
          <div class="list-group nav-list" >
            <ng-container *ngIf="isRoleEnable">
              <a class="list-group-item list-group-item-action d-flex"
                 data-toggle="list"
                 [ngClass]="{ 'active show': currentItem == 'counsel_teacher_role'}"
                 (click)="routeTo('counsel_teacher_role')">
                {{teacherTypeStr}}
              </a>
            </ng-container>
            <ng-container *ngIf="isPsyEnable">
              <a class="list-group-item list-group-item-action d-flex"
                 data-toggle="list"
                 [ngClass]="{ 'active show': currentItem == 'counsel_class' }"
                 (click)="routeTo('counsel_class')">
                {{classTypeStr}}
              </a>
            </ng-container>
            <ng-container *ngIf="counselVisible === true">
              <ng-container *ngIf="isClassEnable">
                <a class="list-group-item list-group-item-action d-flex"
                   data-toggle="list"
                   [ngClass]="{ 'active show': currentItem == 'psychological_quiz_setup' }"
                   
                   (click)="routeTo('psychological_quiz_setup')">
                  設定心理測驗題目
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>