<div id="gadget" class="my-page">
  <div #mainMsg [class]="mainMsgClass">{{mainMsgText}}</div>

  <div class="row-fluid">
    <div class="span12">
      <h1 *ngIf="'' + loadState !== 'finish'">校友選課</h1>
      <h1 *ngIf="'' + loadState === 'finish'">
        <span>{{currSchoolYear}} 學年度 {{currSemester | semesterFormat}}</span>
        <ul class="nav nav-tabs my-navtabs">
          <li [ngClass]="{'active': currTab === 'sa01'}"><a href="javascript:;" (click)="toggleTab('sa01')">可選課程</a></li>
          <li [ngClass]="{'active': currTab === 'sa06'}"><a href="javascript:;" (click)="toggleTab('sa06')">選課結果</a></li>
          <li [ngClass]="{'active': currTab === 'sa02'}"><a href="javascript:;" (click)="toggleTab('sa02')">課程總表</a></li>
          <li [ngClass]="{'active': currTab === 'sa03'}"><a href="javascript:;" (click)="toggleTab('sa03')">衝堂與限制複選課程</a></li>
          <li [ngClass]="{'active': currTab === 'sa04'}"><a href="javascript:;" (click)="toggleTab('sa04')">選課注意事項</a></li>
          <li [ngClass]="{'active': currTab === 'sa05'}"><a href="javascript:;" (click)="toggleTab('sa05')">選課問答集</a></li>
          <li [ngClass]="{'active': currTab === 'sa08'}"><a href="javascript:;" (click)="toggleTab('sa08')">保證金</a></li>
        </ul>
      </h1>
      <div class="tab-content">
        <div>
          {{['載入中...', '載入失敗', '非畢業校友請至一般學生選課功能。', '目前尚未開放選課', '您目前沒有校友選課權限，請聯繫EMBA辦公室。'][['loading', 'error', 'limited',
          'closed', 'black'].indexOf(loadState)]}}
        </div>
        <ng-container *ngIf="'' + loadState === 'finish'">
          <div [ngClass]="{'active': currTab === 'sa01', 'fade': currTab !== 'sa01'}" class="tab-pane sa01">
            <ng-container *ngIf="(currAttends.length + canChooseCourses.length) > 0; else tplNoCourseOpening">

              <!--選課說明文字-->
              <div class="alert alert-info">
                <div style="color:black; background-color:white;"
                  [innerHTML]="configuration.emba_alumnicoursemodule_course_description_temp | safeHtml"></div>
              </div>

              <div class='memb-list'>
                <app-add-quit-buttons
                  [conflicted]="conflicted"
                  (onConfirmSave)="confirmQuitAddCourse()"
                  (onResetAddQuit)="resetAddQuit()"
                ></app-add-quit-buttons>
              </div>

              <!-- 已選清單 -->
              <table class="table table-bordered table-3-striped">
                <thead>
                  <tr>
                    <th colspan="9" class="my-table-head1"><span style="color: blue">已選課程</span></th>
                  </tr>
                  <tr>
                    <th style="font-size: 3">退選</th>
                    <th>課程編號</th>
                    <th>班次</th>
                    <th>課程名稱</th>
                    <th>授課教師</th>
                    <th>學分</th>
                    <th>人數上限</th>
                    <th>教室</th>
                    <th>上課時間</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of currAttends" data-type="quit">
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td rowspan="3" class="my-cbx-style">
                      <input type="checkbox"
                        [tooltip]="conflictCourseNames(item.HaveConflict)" placement="right"
                        [(ngModel)]="item.WillQuit" [value]="item.AlumniID"
                        (click)="clickCourseCheckbox(item, 'WillQuit')"
                        style="width: 20px; height: 20px;">
                    </td>
                    <td>{{item.NewSubjectCode}}</td>
                    <td>{{item.ClassName}}</td>
                    <td>
                      <a *ngIf="item.Syllabus" [href]="item.Syllabus" target="_blank">{{item.CourseName}}</a>
                      <span *ngIf="!item.Syllabus">{{item.CourseName}}</span>
                    </td>
                    <td [innerHTML]="item.TeacherURLName | safeHtml"></td>
                    <td>{{item.Credit}}</td>
                    <td>{{item.MumberOfElectives}}</td>
                    <td>{{item.Classroom}}</td>
                    <td>{{item.CourseTimeInfo}}</td>
                  </tr>
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td colspan="8">{{item.Memo || '無備註'}}</td>
                  </tr>
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td colspan="8">
                      <ng-container *ngTemplateOutlet="tplDateRange; context: { course: item }"></ng-container>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="getLevelItems() === 0">
                  <tr>
                    <td colspan="9">目前無資料</td>
                </tbody>
              </table>
              <!-- 可選課清單 -->
              <table class="table table-bordered table-3-striped">
                <thead>
                  <tr>
                    <th colspan="9" class="my-table-head2"><span style="color: red">可選課程</span>清單</th>
                  </tr>
                  <tr>
                    <th style="font-size: 3">加選</th>
                    <th>課程編號</th>
                    <th>班次</th>
                    <th>課程名稱</th>
                    <th>授課教師</th>
                    <th>學分</th>
                    <th>人數上限</th>
                    <th>教室</th>
                    <th>上課時間</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of canChooseCourses" data-type="add">
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td rowspan="3" class="my-cbx-style">
                      <input type="checkbox"
                        [tooltip]="conflictCourseNames(item.HaveConflict)" placement="right"
                        [(ngModel)]="item.WillAdd" [value]="item.AlumniID"
                        (click)="clickCourseCheckbox(item, 'WillAdd')"
                        style="width: 20px; height: 20px;">
                    </td>
                    <td>{{item.NewSubjectCode}}</td>
                    <td>{{item.ClassName}}</td>
                    <td>
                      <a *ngIf="item.Syllabus" [href]="item.Syllabus" target="_blank">{{item.CourseName}}</a>
                      <span *ngIf="!item.Syllabus">{{item.CourseName}}</span>
                    </td>
                    <td [innerHTML]="item.TeacherURLName | safeHtml"></td>
                    <td>{{item.Credit}}</td>
                    <td>{{item.MumberOfElectives}}</td>
                    <td>{{item.Classroom}}</td>
                    <td>{{item.CourseTimeInfo}}</td>
                  </tr>
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td colspan="8">{{item.Memo || '無備註'}}</td>
                  </tr>
                  <tr [ngClass]="{'my-error': item.HaveConflict.length > 0}">
                    <td colspan="8">
                      <ng-container *ngTemplateOutlet="tplDateRange; context: { course: item }"></ng-container>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="canChooseCourses.length === 0">
                  <tr>
                    <td colspan="9">目前無資料</td>
                </tbody>
              </table>

              <div class='memb-list'>
                <app-add-quit-buttons
                  [conflicted]="conflicted"
                  (onConfirmSave)="confirmQuitAddCourse()"
                  (onResetAddQuit)="resetAddQuit()"
                ></app-add-quit-buttons>
              </div>
            </ng-container>
            <ng-template #tplNoCourseOpening>
              <div>無可選課程</div>
            </ng-template>
          </div>
          <div [ngClass]="{'active': currTab === 'sa02', 'fade': currTab !== 'sa02'}" class="tab-pane sa02">
            <div>
              <table class="table table-bordered table-3-striped">
                <thead>
                  <tr>
                    <th>課程編號</th>
                    <th>課程名稱</th>
                    <th>授課教師</th>
                    <th>人數上限</th>
                    <th>教室</th>
                    <th>上課時間</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of openingCourseList">
                  <tr>
                    <td>{{item.NewSubjectCode}}</td>
                    <td>
                      <a *ngIf="item.Syllabus" [href]="item.Syllabus" target="_blank">{{item.CourseName}}</a>
                      <span *ngIf="!item.Syllabus">{{item.CourseName}}</span>
                    </td>
                    <td [innerHTML]="item.TeacherURLName | safeHtml"></td>
                    <td>{{item.MumberOfElectives}}</td>
                    <td>{{item.Classroom}}</td>
                    <td>{{item.CourseTimeInfo}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">{{item.Memo || '無備註'}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">
                      <ng-container *ngTemplateOutlet="tplDateRange; context: { course: item }"></ng-container>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="openingCourseList.length === 0">
                  <tr>
                    <td colspan="6">目前無資料</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div [ngClass]="{'active': currTab === 'sa03', 'fade': currTab !== 'sa03'}" class="tab-pane sa03">
            <div>
              <table *ngFor="let item of conflictCourseMap | mapsToArray" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>衝堂課程名稱</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span>{{item.course.CourseName || ''}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="my-conflicts">
                      <span *ngFor="let conflictCourse of item.conflictCourses" class="my-conflict">
                        <span>{{conflictCourse.CourseName || ''}}</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="conflictCourseMap.size === 0">目前無資料</div>
            </div>
          </div>
          <div [ngClass]="{'active': currTab === 'sa04', 'fade': currTab !== 'sa04'}" class="tab-pane sa04">
            <accordion>
              <accordion-group *ngFor="let item of faqA" panelClass="customAccordionClass">
                <a accordion-heading [innerHTML]="item.Title | safeHtml"></a>
                <div [innerHTML]="item.Content | safeHtml"></div>
              </accordion-group>
            </accordion>
            <div *ngIf="faqA.length === 0">目前無資料</div>
          </div>
          <div [ngClass]="{'active': currTab === 'sa05', 'fade': currTab !== 'sa05'}" class="tab-pane sa05">
            <accordion>
              <accordion-group *ngFor="let item of faqB" panelClass="customAccordionClass">
                <a accordion-heading [innerHTML]="item.Title | safeHtml"></a>
                <div [innerHTML]="item.Content | safeHtml"></div>
              </accordion-group>
            </accordion>
            <div *ngIf="faqB.length === 0">目前無資料</div>
          </div>
          <div [ngClass]="{'active': currTab === 'sa06', 'fade': currTab !== 'sa06'}" class="tab-pane sa06">
            <div>
              <table class="table table-bordered table-3-striped">
                <thead>
                  <tr>
                    <th>課程編號</th>
                    <th>課程名稱</th>
                    <th>授課教師</th>
                    <th>人數上限</th>
                    <th>教室</th>
                    <th>上課時間</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of scpcList">
                  <tr>
                    <td>{{item.NewSubjectCode}}</td>
                    <td>
                      <a *ngIf="item.Syllabus" [href]="item.Syllabus" target="_blank">{{item.CourseName}}</a>
                      <span *ngIf="!item.Syllabus">{{item.CourseName}}</span>
                    </td>
                    <td [innerHTML]="item.TeacherURLName | safeHtml"></td>
                    <td>{{item.MumberOfElectives}}</td>
                    <td>{{item.Classroom}}</td>
                    <td>{{item.CourseTimeInfo}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">{{item.Memo || '無備註'}}</td>
                  </tr>
                  <tr *ngIf="item.Status === 'Choose'">
                    <td colspan="6">
                      <ng-container *ngTemplateOutlet="tplDateRange; context: { course: item }"></ng-container>
                    </td>
                  </tr>
                  <tr *ngIf="item.Status === 'Announcement' || item.Status === 'Increment'">
                    <td colspan="6">
                      <app-admission-list
                        [alumniId]="item.AlumniID"
                        (onClickMyName)="toggleTab('sa08')"
                      ></app-admission-list>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="scpcList.length === 0">
                  <tr>
                    <td colspan="6">目前無資料</td>
                </tbody>
              </table>
            </div>
          </div>
          <div [ngClass]="{'active': currTab === 'sa08', 'fade': currTab !== 'sa08'}" class="tab-pane sa08">
            <app-payment-list></app-payment-list>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="footer-space"></div>
  <div class="footer">
    <img style="margin-right: 10px" src="assets/src/red_logo.jpg">
    <img style="margin-right: 10px" src="assets/src/bot_logo.png">
    <p style="text-align: left;">
      10617台北市大安區羅斯福路四段一號 臺灣大學管理學院一號館六樓 EMBA辦公室<br>
      TEL:886-2-33661010 FAX:886-2-23636073<br>
      Copyright © National Taiwan University All Rights Reserved
    </p>
  </div>
</div>

<ng-template #tplDateRange let-course="course">
  <div *ngIf="course.Status==='Choose'" class="text-right text-warning font-weight-lighter">
    選課期間： {{course.StartDate}} 至 <span class="font-weight-bold">{{course.EndDate}}</span> 止
  </div>
  <div *ngIf="course.Status==='Announcement'" class="text-right text-warning font-weight-lighter">
    正取繳費期間： {{course.AnnouncementSDate}} 至 <span class="font-weight-bold">{{course.AnnouncementEDate}}</span> 止
  </div>
  <div *ngIf="course.Status==='Increment'" class="text-right text-warning font-weight-lighter">
    備取繳費期間： {{course.IncrementSDate}} 至 <span class="font-weight-bold">{{course.IncrementEDate}}</span> 止
  </div>
  <div *ngIf="course.Status===''">&nbsp;</div>
</ng-template>
