/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './assets/css/index.tailwind.scss';

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", "PingFangTC-Regular", "Microsoft JhengHei",sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p{
  margin-bottom:0 !important;
}
