<div>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item header-top">
        <a href="#"
           [routerLink]="['']">課堂點名&nbsp;(&nbsp;{{today}}&nbsp;)</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#"
           [routerLink]="['/sub']">{{className?className:"未分班級"}}</a>
      </li>
      <li class="breadcrumb-item active"
          aria-current="selc">請選擇課程</li>
    </ol>
  </nav>
  <table *ngIf="jClass && jClass.Course.length" class="border-collapse table-auto w-full mx-auto">
    <thead>
      <tr class="border-b font-medium text-slate-400 whitespace-nowrap bg-gray-200">
        <th class="md:w-1/3">課程</th>
        <th class="md:w-32">節數</th>
        <th>授課教師</th>
        <th class="hidden lg:block w-40"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of jClass.Course"
      (click)="openPicker(course)" class="border-b cursor-pointer hover:bg-gray-100">
        <td>{{course.CourseName}}</td>
        <td>{{course.Credit}}</td>
        <td>{{course.AllTeacherString?course.AllTeacherString:"無"}}</td>
        <td class="hidden lg:block"></td>
      </tr>
    </tbody>
  </table>
</div>