<div>
    <nav aria-label="breadcrumb text-nowrap text-truncate">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active d-flex"
                aria-current="page"
                style="width: 100%">
                <div>課堂點名<span *ngIf="today">&nbsp;(&nbsp;{{today}}&nbsp;)</span></div>
                <div style="flex: 1"></div>
                <a routerLink="/setting"
                   class="btn btn-sm btn-default">設定</a>
                <!-- <button (click)=openSubstitute() type="button" class="btn btn-lg btn-info">代課課程</button> -->
            </li>
        </ol>
    </nav>

    <ul class="list-group mb-3"
        *ngIf="!loading;else Loading">
        <li class="list-group-item active d-flex align-items-center py-2 ">
            <div class="col-9 text-nowrap">
                <span class="pr-3">今日點名</span>
            </div>
            <div class="col-1 text-nowrap text-center">節次</div>
            <div class="col-1 text-center">已點名</div>
            <div class="col-1 text-center">學生點名</div>
        </li>
        <ng-container *ngIf="conf&&conf.Schedule&&conf.Schedule.length; else noSchedule">
            <li class="list-group-item point"
                *ngFor="let suggest of conf.Schedule"
                (click)="openSchedule(suggest)">
                <div class="row">
                    <div class="col-9 text-nowrap">
                        <span class="pr-3">{{suggest.ClassName?suggest.ClassName:suggest.CourseName}}</span>
                    </div>
                    <div class="col-1 text-nowrap text-center">{{suggest.Period}}</div>
                    <div class="col-1 text-center">
                        <ng-container *ngIf="suggest.Checked=='true'">
                            <i class="material-icons"
                               style="color:#33691E">
                                check_circle
                            </i>
                        </ng-container>
                        <ng-container *ngIf="suggest.Checked!='true'">
                            <i class="material-icons"
                               style="color:#C9C9C9">
                                check_circle_outline
                            </i>
                        </ng-container>
                    </div>
                    <div class="col-1 text-center">
                        <ng-container *ngIf="suggest.StudentChecked=='true'">
                            <i class="material-icons"
                               style="color:#33691E">
                                check_circle
                            </i>
                        </ng-container>
                        <ng-container *ngIf="suggest.StudentChecked!='true'">
                            <i class="material-icons"
                               style="color:#C9C9C9">
                                check_circle_outline
                            </i>
                        </ng-container>
                    </div>
                </div>
            </li>
        </ng-container>
        <ng-template #noSchedule>
            <li class="list-group-item point">
                <div class="row">
                    <div class="col-9 text-nowrap">
                        <span class="pr-3 text-muted">沒有點名紀錄</span>
                    </div>
                    <div class="col-1 text-nowrap text-center"></div>
                    <div class="col-1 text-center">
                    </div>
                    <div class="col-1 text-center">
                    </div>
                </div>
            </li>
        </ng-template>
        <li class="list-group-item active d-flex align-items-center py-2 ">
            <div>課程</div>
            <button (click)=openSubstitute()
                    type="button"
                    style="float:right"
                    class="btn btn-sm btn-info ml-auto">代課點名</button>
        </li>
        <ng-container *ngIf="conf&&conf.CourseConf&&conf.CourseConf.length; else noCourse">
            <li class="list-group-item point"
                *ngFor="let course of conf.CourseConf"
                (click)="openPicker(course)">
                <div class="d-flex justify-content-between align-items-center row">
                    <div class="col-11 text-nowrap">
                        <span class="pr-3">{{course.CourseName}}</span>
                    </div>
                    <div class="col-1 text-nowrap">
                        <code *ngIf="course.StudentName != ''"
                              class="mr-1"
                              style="float:right">
                        小幫手：&emsp;{{course.StudentName}}({{course.StudentNumber}})
                    </code>
                    </div>
                </div>
            </li>
        </ng-container>
        <ng-template #noCourse>
            <li class="list-group-item point">
                <div class="d-flex justify-content-between align-items-center row">
                    <div class="col-11 text-nowrap">
                        <span class="pr-3 text-muted">沒有教授課程</span>
                    </div>
                    <div class="col-1 text-nowrap">
                    </div>
                </div>
            </li>
        </ng-template>
    </ul>

    <ng-template #Loading>
        <div style="position:absolute;top:40%;left: 0px;right: 0px;text-align: center;">
            loading...
        </div>
    </ng-template>
</div>