<div>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/main']">課堂點名</a>
      </li>
      <ng-container *ngIf="loading; else titleText">
        <li class="breadcrumb-item active"
            aria-current="sub">loading...</li>
      </ng-container>
      <ng-template #titleText>
        <li class="breadcrumb-item active"
            aria-current="sub">設定</li>
      </ng-template>
    </ol>
  </nav>


  <div style="width:100%">
    <ul class="list-group mb-3"
        *ngIf="!loading;else Loading">
      <li *ngIf="true"
          class="list-group-item active d-flex align-items-center py-2 ">
        <div>點名設定</div>
        <button (click)="saveSetting()"
                type="button"
                class="btn btn-sm btn-info"
                style="float:right"
                class="btn btn-sm btn-info ml-auto">儲存
        </button>
      </li>
      <li class="list-group-item "
          *ngFor="let key of settingList">
        <div *ngIf="key=='use_photo'"
             class="row">
          <div class="col-8 col-sm-9 col-md-10 col-lg-11 text-nowrap">
            <div style="display :inline">是否顯示照片</div>
          </div>

          <div class="col-4 col-sm-3 col-md-2 col-lg-1 text-right text-nowrap">
            <label class="point">
              <input type="radio"
                     name="radio"
                     value=""
                     [checked]="teacherSetting[key] === false"
                     (change)="settingChange(key,false)"> 否
            </label>
            <label class="ml-3 point">
              <input type="radio"
                     name="radio"
                     value=""
                     [checked]="teacherSetting[key] === true"
                     (change)="settingChange(key,true)"> 是
            </label>
          </div>
        </div>
        <div *ngIf="key=='teacherKey'"
             class="row">
          <div class="col-6 col-sm-7 col-md-8 col-lg-9 text-nowrap">
            <div style="display :inline">
              <span>設定點名密碼</span>
              <span class="text-muted small">(小幫手點名完後直接確認)</span>
            </div>
          </div>

          <div class="col-6 col-sm-5 col-md-4 col-lg-3 text-right text-nowrap">
            <label class="point">
              <input type="password"
                     name="teacherKey"
                     value=""
                     [(ngModel)]="teacherSetting[key]" />
            </label>
          </div>
        </div>
      </li>
      <!-- 點名小幫手 -->
      <li class="list-group-item active d-flex align-items-center py-2 ">
        <div>點名小幫手</div>
      </li>
      <li class="list-group-item point"
          *ngFor="let course of courses"
          (click)="openTeacherHelper(course)">
        <div class="d-flex justify-content-between align-items-center row">
          <div class="col-8 col-sm-9 col-md-10 col-lg-11 text-nowrap">
            <span class="pr-3">{{course.CourseName}}</span>
          </div>
          <div class="col-4 col-sm-3 col-md-2 col-lg-1 text-right text-nowrap">
            <code *ngIf="true"
                  class="mr-1"
                  style="float:right">
                  小幫手：&emsp;{{course.StudentName}}({{course.StudentNumber}})
              </code>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #Loading>
      <div style="position:absolute;top:40%;left: 0px;right: 0px;text-align: center;">
        loading...
      </div>
    </ng-template>

  </div>