<div>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb  no-background ">
      <li class="breadcrumb-item" >
        <a [routerLink]="['/main']"><b>課堂點名</b></a>
      </li>
      <ng-container *ngIf="loading; else titleText">
        <li class="breadcrumb-item active"
            aria-current="sub">loading...</li>
      </ng-container>
      <ng-template #titleText>
        <li class="breadcrumb-item active"
            aria-current="sub">設定</li>
      </ng-template>
    </ol>
  </nav>


  <div style="width:100%">
    <ul class="list-group mb-3"
        *ngIf="!loading;else Loading">
      <li *ngIf="true"
          class="list-group-item active d-flex align-items-center py-2 main-bg-color">
        <div><b>點名設定</b></div>
        <button (click)="saveSetting()"
                type="button"
                class="btn btn-sm btn-info"
                style="float:right"
                class="btn btn-sm btn-info ml-auto">儲存
        </button>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8 col-sm-9 col-md-10 col-lg-11 text-nowrap">
            <div style="display :inline">是否顯示照片</div>
          </div>

          <div class="col-4 col-sm-3 col-md-2 col-lg-1 text-right text-nowrap">
            <label class="point">
              <input type="radio"
                     name="radio"
                     value=""
                     [checked]="teacherSetting['usePhoto'] === true"
                     (change)="settingChange('usePhoto',true)"> 是
            </label>
            <label class="ml-3 point">
              <input type="radio"
                     name="radio"
                     value=""
                     [checked]="teacherSetting['usePhoto'] === false"
                     (change)="settingChange('usePhoto',false)"> 否
            </label>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="flex flex-wrap">
            <div class="text-nowrap">
              <span>設定點名密碼</span>
              <span class="text-muted small">(小幫手點名完後直接確認)</span>
            </div>

              <input type="password"
                     name="teacherKey"
                     value=""
                     class="ml-auto border-2"
                     [(ngModel)]="teacherSetting['teacherKey']" />
        </div>
      </li>


      <li class="list-group-item">
        <div class="flex flex-wrap">
          <div class="text-nowrap mr-2">校訂1/3 缺課母數規則 :</div>
          <!-- 增加出席率母數 -->
          <div class="text-nowrap ml-auto">
            <span *ngIf="isUseWeekFromCourse">依課程上課週數*節數</span>
            <span *ngIf="!isUseWeekFromCourse">依教師實際點名次數</span>
          </div>
        </div>
      </li>
      <!-- 點名小幫手 -->
      <li class="list-group-item active d-flex align-items-center py-2  main-bg-color">
        <div><b>點名小幫手</b></div>
      </li>
      <li class="list-group-item point"
          *ngFor="let class of classList"
          [routerLink]="['/teacher-helper', 'Class', class.ClassID]">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div class="text-nowrap">
            <span class="pr-1">{{class.ClassName}}</span>
            <span class="text-muted small pr-3">導師班</span>
          </div>
          <div class="text-nowrap ml-auto">
            <span *ngIf="true">
                  小幫手：{{class.StudentName}}({{class.StudentNumber}})
              </span>
          </div>
        </div>
      </li>
      <li class="list-group-item point"
          *ngFor="let course of courseList"
          [routerLink]="['/teacher-helper', 'Course', course.CourseID]">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div class="text-nowrap pr-3">{{course.CourseName}}</div>
          <div class="text-nowrap ml-auto text-truncate">
            <span *ngIf="true">
                 <b>小幫手：</b> {{course.StudentName}}{{course.StudentNumber||'--'}}
              </span>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #Loading>
      <div style="position:absolute;top:40%;left: 0px;right: 0px;text-align: center;">
        loading...
      </div>
    </ng-template>

  </div>