<!-- 開始點名 -->
<div id="attendence-page" page>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#" [routerLink]="['']">課堂點名（{{today}}）</a>
      </li>
        <ng-container *ngIf="loading; else titleText">
            <li class="breadcrumb-item active" aria-current="sub">loading...</li>
          </ng-container>
          <ng-template #titleText>
            <li class="breadcrumb-item active" aria-current="sub">請選擇年級/班級</li>
          </ng-template>
    </ol>
  </nav>

  <ng-container *ngIf="loading; else gradeYearAndCourse">
    <mat-spinner diameter="35"></mat-spinner>
  </ng-container>
  <ng-template #gradeYearAndCourse>

    <!-- 開始建立 年級與班級資料-->
    <table mat-table [dataSource]="gradeYeares" class="mat-elevation-z2 m-2 flex-fill">

        <ng-container matColumnDef="GradeYear">
            <th mat-header-cell *matHeaderCellDef class="dy-header-cell">年級</th>
            <td mat-cell *matCellDef="let element" class="dy-fone-size">{{element.GradeYear}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="yearColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: yearColumns;" class="example-element-row" ></tr>
    </table>

  </ng-template>



</div>