<!DOCTYPE html>
<html ng-app="starter">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/base.css" rel="stylesheet" />
<link href="css/defalut.css" rel="stylesheet" />
    <!-- <script type='text/javascript'>
        var gadget = window.opener?window.opener.gadget:window.parent.getGadgetProxy((function () {
            var vars = [], hash;
            var p = window.location.href.slice(window.location.href.indexOf('?') + 1);
            if (p.indexOf("#") >= 0)
                p = p.substring(0, p.indexOf("#"));
            var hashes = p.split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = decodeURIComponent(hashes[i]);
                var key = hash.substring(0, hash.indexOf("="));
                vars.push(key);
                vars[key] = hash.substring(hash.indexOf("=") + 1);
            }
            return vars;
        }()).id);
        try { window.parent = null; } catch (exc) { }
    </script> -->
<script src="js/angular.min.js"></script>
<script src="js/jquery-1.8.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/default.js"></script>
<script src="js/gadget.js"></script>
<script>
	init({
		// application: "demo.h.vicky.chang",
		paramValues: {
		},
		oAuth: {
			clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
			clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
		}
	});
</script>
</head>

<body ng-controller="MenuCtrl" ng-switch="pageView">

<div id="gadget" class="my-page" ng-switch-when="main">
	<div class="row" style="margin-right: -10px; margin-left: -10px;">
		<div class="col-md-12">
			<h1 style="margin-left: 12px;">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav_appcurrent">
				<span id="tabName">{{activeClass}}</span> <b class="caret"></b></a> 通訊錄
				<ul id="myTab" class="dropdown-menu">
					<li ng-repeat="class in data"><a ng-click="selected(class.className)">{{class.className}}</a></li>
				</ul>
			<a id="download" class="btn btn-sm btn-default pull-right" href="#" taget="_blank" ng-show="detect()">下載通訊錄</a>
			</h1>
			<div class="row">
				<div class="col-sm-6" ng-repeat="student in data[activeClass].students">
					<div class="media my-media">
						<div class=" pull-left" ng-click="openPhoto(student.Photo,student.Gender)">
							<img ng-if="student.Photo != ''" class="media-object" style="width:107px;height:137px"
								ng-src="data:image/png;base64,{{student.Photo}}">
							<img ng-if="student.Photo == '' && student.Gender == '女'" class="media-object"
								src="img/photo_female.png">
							<img ng-if="student.Photo == '' && student.Gender != '女'" class="media-object"
								src="img/photo_male.png">
						</div>
						<div class="media-body">
							<div ng-click="studentClick(student)">
								<h4 class="media-heading"> {{student.Name}}
									<span class="label label-default pull-right">{{student.SeatNo}}</span>
								</h4>
								<p><i class="fa fa-barcode"></i> {{student.StudentNubmer}}</p>
								<p style="height: auto;"><i class="fa fa-gift"></i> {{student.Birthdate}}</p>
							</div>
							<p><i class="fa fa-phone"></i> <a href="tel:{{student.SmsPhone}}">{{student.SmsPhone}}</a></p>
							<p><i class="fa fa-home"></i>
								<a href="https://www.google.com.tw/maps/place/{{getAddress(student.MailingAddress.AddressList.Address)}}"
									target="_blank" style="z-index:1;">{{getAddress(student.MailingAddress.AddressList.Address)}}</a>
							</p>
						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
</div>

<div id="gadget" class="my-page" ng-switch-when="info">
	<div class="row" style="margin-right: -10px; margin-left: -10px;">
		<div class="col-md-12">
			<h1 style="margin-left: 12px;">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav_appcurrent">
				<span id="tabName">{{activeClass}}</span> <b class="caret"></b></a> 通訊錄
				<ul id="myTab" class="dropdown-menu">
					<li ng-repeat="class in data"><a ng-click="selected(class.className)">{{class.className}}</a></li>
				</ul>
			<a class="btn btn-sm btn-default pull-right" ng-click="getBack()">返回</a>
			</h1>
			<div class="row">
				<div class="col-md-2">
					<div class="panel panel-default">
					  <div class="panel-heading">照片</div>
						<div class="panel-body" ng-click="openPhoto(activeStudent.Photo,activeStudent.Gender)">
							<img style="width:107px;height:137px" ng-if="activeStudent.Photo != ''"
								ng-src="data:image/png;base64,{{activeStudent.Photo}}" />
							<img ng-if="activeStudent.Photo == '' && activeStudent.Gender == '女'" src="img/photo_female.png" />
							<img ng-if="activeStudent.Photo == '' && activeStudent.Gender != '女'" src="img/photo_male.png" />
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">基本資料</div>
					  <!-- List group -->
					  <ul class="list-group my-em">
						<li class="list-group-item"><em>姓名</em>{{activeStudent.Name}}</li>
						<li class="list-group-item"><em>座號</em>{{activeStudent.SeatNo}}</li>
						<li class="list-group-item"><em>學號</em>{{activeStudent.StudentNubmer}}</li>
						<li class="list-group-item"><em>性別</em>{{activeStudent.Gender}}</li>
						<li class="list-group-item"><em>生日</em>{{activeStudent.Birthdate}}</li>
						<li class="list-group-item"><em>身分證號</em>{{activeStudent.IdNumber}}</li>
					  </ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">電話、Email</div>
					  <!-- List group -->
					  <ul class="list-group my-em">
						<li class="list-group-item"><em>戶籍電話</em>{{activeStudent.PermanentPhone}}</li>
						<li class="list-group-item"><em>聯絡電話</em>{{activeStudent.ContactPhone}}</li>
						<li class="list-group-item"><em>行動電話</em>{{activeStudent.SmsPhone}}</li>
						<li class="list-group-item"><em>其他電話1</em>{{activeStudent.OtherPhones.PhoneList.PhoneNumber[0]}}</li>
						<li class="list-group-item"><em>其他電話2</em>{{activeStudent.OtherPhones.PhoneList.PhoneNumber[1]}}</li>
						<!-- <li class="list-group-item"><em>其他電話3</em>{{activeStudent.OtherPhones.PhoneList.PhoneNumber[2]}}</li> -->
						<li class="list-group-item"><em>Email</em><a
							href="mailto:{{activeStudent.Email}}">{{activeStudent.Email}}</a></li>
					  </ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">家長電話</div>
					  <!-- List group -->
					  <!-- <ul class="list-group my-em">
						<li class="list-group-item"><em>監護人電話</em>{{activeStudent.CustdoianOtherInfo.CustodianOtherInfo.Phone + " " + activeStudent.CustodianName}}</li>
						<li class="list-group-item"><em>父親電話</em>{{activeStudent.FatherOtherInfo.FatherOtherInfo.Phone + " " + activeStudent.FatherName}}</li>
						<li class="list-group-item"><em>母親電話</em>{{activeStudent.MotherOtherInfo.MotherOtherInfo.Phone + " " + activeStudent.MotherName}}</li>
					  </ul> -->
						<ul class="list-group my-em">
							<li class="list-group-item li1"><em>監護人 - 電話</em>{{activeStudent.CustodianName}}<span
									ng-if="activeStudent.CustdoianOtherInfo.CustodianOtherInfo.Phone != null"> -
								</span>{{activeStudent.CustdoianOtherInfo.CustodianOtherInfo.Phone}}</li>
							<li class="list-group-item"><em>父親 - 電話</em>{{activeStudent.FatherName}}<span
									ng-if="activeStudent.CustdoianOtherInfo.CustodianOtherInfo.Phone != null"> -
								</span>{{activeStudent.FatherOtherInfo.FatherOtherInfo.Phone}}</li>
							<li class="list-group-item"><em>母親 - 電話</em>{{activeStudent.MotherName}}<span
									ng-if="activeStudent.CustdoianOtherInfo.CustodianOtherInfo.Phone != null"> -
								</span>{{activeStudent.MotherOtherInfo.MotherOtherInfo.Phone}}</li>
						</ul>

					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">地址</div>
					  <!-- List group -->
					  <ul class="list-group my-em">
						<!-- <li class="list-group-item"><em>戶籍地址</em>{{getAddress(activeStudent.PermanentAddress.AddressList.Address)}}</li>
						<li class="list-group-item"><em>通訊地址</em>{{getAddress(activeStudent.MailingAddress.AddressList.Address)}}</li>
						<li class="list-group-item"><em>其他地址</em>{{getAddress(activeStudent.OtherAddresses.AddressList.Address)}}
						</li> -->
						<li class="list-group-item"><em>戶籍地址</em><a
							href="https://www.google.com.tw/maps/place/{{getAddress(activeStudent.PermanentAddress.AddressList.Address)}}"
							target="_blank">{{getAddress(activeStudent.PermanentAddress.AddressList.Address)}}</a></li>
					<li class="list-group-item"><em>通訊地址</em><a
							href="https://www.google.com.tw/maps/place/{{getAddress(activeStudent.MailingAddress.AddressList.Address)}}"
							target="_blank">{{getAddress(activeStudent.MailingAddress.AddressList.Address)}}</a></li>
					<li class="list-group-item"><em>其他地址</em><a
							href="https://www.google.com.tw/maps/place/{{getAddress(activeStudent.OtherAddresses.AddressList.Address[0])}}"
							target="_blank">{{getAddress(activeStudent.OtherAddresses.AddressList.Address[0])}}</a>
					</li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="myModal" class="modal" style="display: none;">
	<img class="modal-content" id="img01" src="" alt="Student Photo">
</div>

</body>
</html>