<!-- 學生個人 - 評量成績 -->
<div class="tab-pane fade-in"
      id="listFour">
    <div class="d-md-flex align-items-center sub-title mb-3">
        <h4 class="mb-0 mr-auto">評量成績</h4>
    </div>
    <div class="dropdown mb-3">
        <button class="btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">107學年度 第1學期</button>
        <div class="dropdown-menu">
            <a class="dropdown-item"
                href="#">107學年度 第1學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第2學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第1學期</a>
        </div>
    </div>
    <!-- 新竹國中評量成績 -->
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th rowspan="2"
                        scope="col">領域名稱</th>
                    <th rowspan="2"
                        scope="col">科目名稱</th>
                    <th rowspan="2"
                        scope="col">權數</th>
                    <th colspan="2"
                        scope="col">第一次段考</th>
                    <th colspan="2"
                        scope="col">第二次段考</th>
                    <th colspan="2"
                        scope="col">期末考</th>
                </tr>
                <tr class="table-active">
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2"
                        scope="row">語文</th>
                    <th>國文</th>
                    <td>５</td>
                    <td>
                        96.00<br>
                        <span class="badge badge-light border mt-1">95 / 97</span>
                    </td>
                    <td rowspan="2">
                        87.60
                    </td>
                    <td>
                        66.40
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-light border mt-1">76 / 60</span>
                    </td>
                    <td rowspan="2">
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        96.00
                        <span class="text-success">↑</span><br>
                        <span class="badge badge-light border mt-1">90 / 100</span>
                    </td>
                    <td rowspan="2">
                        85.85
                        <span class="text-success">↑</span>
                    </td>
                </tr>
                <tr>
                    <th>英語</th>
                    <td>3</td>
                    <td>
                        73.60<br>
                        <span class="badge badge-light border mt-1">64 / 80</span>
                    </td>
                    <td>
                        96.00
                        <span class="text-success">↑</span><br>
                        <span class="badge badge-light border mt-1">90 / 100</span>
                    </td>
                    <td>
                        66.40
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-light border mt-1">76 / 60</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">數學</th>
                    <th>數學</th>
                    <td>4</td>
                    <td>
                        96.00<br>
                        <span class="badge badge-light border mt-1">95 / 97</span>
                    </td>
                    <td>
                        87.60
                    </td>
                    <td>
                        66.40
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-light border mt-1">76 / 60</span>
                    </td>
                    <td>
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-danger border mt-1">35 / 60</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">彈性課程</th>
                    <th colspan="2">英語選讀</th>
                    <td>
                        96.00<br>
                        <span class="badge badge-light border mt-1">95 / 97</span>
                    </td>
                    <td>
                        87.60
                    </td>
                    <td>
                        66.40
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-light border mt-1">76 / 60</span>
                    </td>
                    <td>
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span><br>
                        <span class="badge badge-danger border mt-1">35 / 60</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="3"
                        scope="row">加權平均</th>
                    <td colspan="2">
                        87.60
                    </td>
                    <td colspan="2">
                        72.71
                    </td>
                    <td colspan="2"
                        class="fail">
                        50.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-pills mb-3"
        id="assessment-tab"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
                id="pills-first-tab"
                data-toggle="pill"
                href="#pills-first"
                role="tab"
                aria-controls="pills-first"
                aria-selected="true">第一次段考</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-second-tab"
                data-toggle="pill"
                href="#pills-second"
                role="tab"
                aria-controls="pills-second"
                aria-selected="false">第二次段考</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-final-tab"
                data-toggle="pill"
                href="#pills-final"
                role="tab"
                aria-controls="pills-final"
                aria-selected="false">期末考</a>
        </li>
    </ul>
    <div class="tab-content"
          id="assessment-tabContent">
        <div class="tab-pane fade show active"
              id="pills-first"
              role="tabpanel"
              aria-labelledby="pills-first-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-second"
              role="tabpanel"
              aria-labelledby="pills-second-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-final"
              role="tabpanel"
              aria-labelledby="pills-final-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 高雄國中評量成績 -->
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th rowspan="2"
                        scope="col">領域名稱</th>
                    <th rowspan="2"
                        scope="col">科目名稱</th>
                    <th rowspan="2"
                        scope="col">權數</th>
                    <th colspan="2"
                        scope="col">第一次段考</th>
                    <th colspan="2"
                        scope="col">第二次段考</th>
                    <th colspan="2"
                        scope="col">期末考</th>
                    <th colspan="2"
                        scope="col">平時評量</th>
                </tr>
                <tr class="table-active">
                    <th>成績</th>
                    <th>領域加權</th>
                    <th>成績</th>
                    <th>領域加權</th>
                    <th>成績</th>
                    <th>領域加權</th>
                    <th>成績</th>
                    <th>領域加權</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2"
                        scope="row">語文</th>
                    <th>國文</th>
                    <td>５</td>
                    <td>96</td>
                    <td rowspan="2">87.60</td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td rowspan="2">
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                    <td rowspan="2">
                        85.85
                        <span class="text-success">↑</span>
                    </td>
                    <td>96</td>
                    <td rowspan="2">85.85</td>
                </tr>
                <tr>
                    <th>英語</th>
                    <td>3</td>
                    <td>
                        73
                    </td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td>96</td>
                </tr>
                <tr>
                    <th scope="row">數學</th>
                    <th>數學</th>
                    <td>4</td>
                    <td>96</td>
                    <td>87.60</td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span>
                    </td>
                    <td>96</td>
                    <td>85.85</td>
                </tr>
                <tr>
                    <th scope="row">彈性課程</th>
                    <th colspan="2">英語選讀</th>
                    <td>96</td>
                    <td>87.60</td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        72.71
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50.00
                        <span class="text-danger">↓</span>
                    </td>
                    <td>96</td>
                    <td>85.85</td>
                </tr>
                <tr>
                    <th colspan="3"
                        scope="row">加權平均</th>
                    <td colspan="2">
                        87.60
                    </td>
                    <td colspan="2">
                        72.71
                    </td>
                    <td colspan="2"
                        class="fail">
                        50.00
                    </td>
                    <td colspan="2">
                        87.60
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 高中評量成績 -->
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">科目名稱</th>
                    <th scope="col">第一次段考</th>
                    <th scope="col">第二次段考</th>
                    <th scope="col">期末考</th>
                    <th scope="col">平時成績</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>國文</th>
                    <td>96</td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                    <td>96</td>
                </tr>
                <tr>
                    <th>英語</th>
                    <td>73</td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                </tr>
                <tr>
                    <th>數學</th>
                    <td>96</td>
                    <td>
                        66
                        <span class="text-danger">↓</span>
                    </td>
                    <td class="fail">
                        50
                        <span class="text-danger">↓</span>
                    </td>
                    <td>
                        96
                        <span class="text-success">↑</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-pills mb-3"
        id="assessment-tab"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
                id="pills-first-tab"
                data-toggle="pill"
                href="#pills-first"
                role="tab"
                aria-controls="pills-first"
                aria-selected="true">第一次段考</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-second-tab"
                data-toggle="pill"
                href="#pills-second"
                role="tab"
                aria-controls="pills-second"
                aria-selected="false">第二次段考</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-final-tab"
                data-toggle="pill"
                href="#pills-final"
                role="tab"
                aria-controls="pills-final"
                aria-selected="false">期末考</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-usual-tab"
                data-toggle="pill"
                href="#pills-usual"
                role="tab"
                aria-controls="pills-usual"
                aria-selected="false">平時成績</a>
        </li>
    </ul>
    <div class="tab-content"
          id="assessment-tabContent">
        <div class="tab-pane fade show active"
              id="pills-first"
              role="tabpanel"
              aria-labelledby="pills-first-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-second"
              role="tabpanel"
              aria-labelledby="pills-second-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-final"
              role="tabpanel"
              aria-labelledby="pills-final-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-usual"
              role="tabpanel"
              aria-labelledby="pills-usual-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>