<!-- 學生個人 - 評量成績 -->

<div class="tab-pane fade-in"
     id="listFour">
    <div class="d-md-flex align-items-center sub-title mb-3">
        <h4 class="mb-0 mr-auto">評量成績</h4>
    </div>
    <div class="dropdown mb-3">
        <button class="btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">{{selectSchoolYearSemester.SchoolYear}}學年度 第{{selectSchoolYearSemester.Semester}}學期</button>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               *ngFor="let item of semesterList"
               [ngClass]="{ active: selectSchoolYearSemester == item }"
               (click)="SetSelectSemester(item)">{{item.SchoolYear}}學年度 第{{item.Semester}}學期</a>

        </div>
    </div>
    <!-- 新竹國中評量成績 -->
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th rowspan="2"
                        scope="col">領域名稱</th>
                    <th rowspan="2"
                        scope="col">科目名稱</th>
                    <th rowspan="2"
                        scope="col">權數</th>
                    <ng-container *ngFor="let examName of studentExamScore.ExamNameList">
                        <th colspan="2"
                            scope="col">{{examName}}</th>
                    </ng-container>
                </tr>
                <tr class="table-active">
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                    <th>總成績<br>(定期/平時)</th>
                    <th>領域加權</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let domainItem of studentExamScore.DomainScoreList">
                    <ng-container *ngFor="let courseItem of domainItem.CourseScoreList;let rowIdx =index">
                        <tr *ngIf="rowIdx == 0">
                            <th [rowSpan]="domainItem.CourseScoreList.length"
                                scope="row">{{domainItem.DomainName}}
                            </th>
                            <th>{{courseItem.SubjectName}}</th>
                            <td>{{courseItem.CourseCredit}}</td>
                            <ng-container *ngFor="let exam of courseItem.ExamScoreList">
                                <td>
                                    {{exam.ExamScore}}<br>
                                    <span class="badge badge-light border mt-1">{{exam.Score}} / {{exam.AssignmentScore}}</span>
                                </td>
                                <td [rowSpan]="domainItem.CourseScoreList.length">
                                    {{domainItem.DomainScore}}
                                </td>
                            </ng-container>


                        </tr>
                        <tr *ngIf="rowIdx > 0">
                            <th>{{courseItem.SubjectName}}</th>
                            <td>{{courseItem.CourseCredit}}</td>
                            <ng-container *ngFor="let exam of courseItem.ExamScoreList">
                                <td>
                                    {{exam.ExamScore}}<br>
                                    <span class="badge badge-light border mt-1">{{exam.Score}} / {{exam.AssignmentScore}}</span>
                                </td>
                                <!-- <td>
                                    {{domainItem.DomainScore}}
                                </td> -->
                            </ng-container>
                        </tr>
                    </ng-container>

                </ng-container>



                <tr>
                    <th colspan="3"
                        scope="row">加權平均</th>
                    <td colspan="2">
                        87.60
                    </td>
                    <td colspan="2">
                        72.71
                    </td>
                    <td colspan="2"
                        class="fail">
                        50.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-pills mb-3"
        id="assessment-tab"
        role="tablist">
        <ng-container *ngFor="let item of studentExamScore.ExamNameList">
            <li class="nav-item">
                <a class="nav-link"
                   id="pills-second-tab"
                   data-toggle="pill"
                   href="#pills-second"
                   role="tab"
                   aria-controls="pills-second"
                   aria-selected="false">{{item}}</a>
            </li>
        </ng-container>

    </ul>
    <div class="tab-content"
         id="assessment-tabContent">
        <div class="tab-pane fade show active"
             id="pills-first"
             role="tabpanel"
             aria-labelledby="pills-first-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
             id="pills-second"
             role="tabpanel"
             aria-labelledby="pills-second-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
             id="pills-final"
             role="tabpanel"
             aria-labelledby="pills-final-tab">
            <div class="table-responsive table-hover score">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">領域名稱</th>
                            <th scope="col">科目名稱</th>
                            <th scope="col">0-9</th>
                            <th scope="col">10-19</th>
                            <th scope="col">20-29</th>
                            <th scope="col">30-39</th>
                            <th scope="col">40-49</th>
                            <th scope="col">50-59</th>
                            <th scope="col">60-69</th>
                            <th scope="col">70-79</th>
                            <th scope="col">80-89</th>
                            <th scope="col">90-99</th>
                            <th scope="col">100以上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2"
                                scope="row">語文</th>
                            <th>國文</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>英語</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>4</td>
                            <td>10</td>
                            <td class="fail">6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row">數學</th>
                            <th>數學</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td class="fail">5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>