<!-- 學生個人 - 評量成績 -->
<!-- 新竹國中 -->
<ng-container *ngIf="selectSchoolType === 'JHHC'">
    <div class="tab-pane fade-in"
         id="listFour">
        <div class="d-md-flex align-items-center sub-title mb-3">
            <h4 class="mb-0 mr-auto">評量成績</h4>
        </div>
        <div class="dropdown mb-3">
            <button class="btn btn-light dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">{{selectSchoolYearSemester.SchoolYear}}學年度 第{{selectSchoolYearSemester.Semester}}學期</button>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   *ngFor="let item of semesterList"
                   [ngClass]="{ active: selectSchoolYearSemester == item }"
                   (click)="SetSelectSemester(item)">{{item.SchoolYear}}學年度 第{{item.Semester}}學期</a>

            </div>
        </div>
        <!-- 新竹國中評量成績 -->
        <div class="table-responsive table-hover score mb-3">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th rowspan="2"
                            scope="col">領域名稱</th>
                        <th rowspan="2"
                            scope="col">科目名稱</th>
                        <th rowspan="2"
                            scope="col">權數</th>
                        <ng-container *ngFor="let examName of studentExamScore.ExamNameList">
                            <th colspan="2"
                                scope="col">{{examName}}</th>
                        </ng-container>
                    </tr>
                    <tr class="table-active">
                        <th>總成績<br>(定期/平時)</th>
                        <th>領域加權</th>
                        <th>總成績<br>(定期/平時)</th>
                        <th>領域加權</th>
                        <th>總成績<br>(定期/平時)</th>
                        <th>領域加權</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let domainItem of studentExamScore.DomainScoreList">
                        <ng-container *ngFor="let courseItem of domainItem.CourseScoreList;let rowIdx =index">
                            <tr *ngIf="rowIdx == 0">
                                <th [rowSpan]="domainItem.CourseScoreList.length"
                                    scope="row">{{domainItem.DomainName}}
                                </th>
                                <th>{{courseItem.SubjectName}}</th>
                                <td>{{courseItem.CourseCredit}}</td>
                                <ng-container *ngFor="let exam of courseItem.ExamScoreList">
                                    <td [ngClass]="(exam.ExamScore < passScore) ? 'fail':''">
                                        {{exam.ExamScore}}
                                        <span *ngIf="courseItem.GetUpDown(exam.ExamName).isDown"
                                              class="text-danger">↓</span>
                                        <span *ngIf="courseItem.GetUpDown(exam.ExamName).isUp"
                                              class="text-success">↑</span><br>
                                        <br>
                                        <span [ngClass]="(exam.Score < passScore ||exam.AssignmentScore < passScore )?'badge badge-danger border mt-1':'badge badge-light border mt-1'">{{exam.Score}} / {{exam.AssignmentScore}}</span>
                                    </td>
                                    <td [rowSpan]="domainItem.CourseScoreList.length"
                                        [ngClass]="(domainItem.GetAvgExamScore(exam.ExamName) < passScore) ? 'fail':''">
                                        {{domainItem.GetAvgExamScore(exam.ExamName)||''}}
                                        <span *ngIf="domainItem.GetUpDown(exam.ExamName).isDown"
                                              class="text-danger">↓</span>
                                        <span *ngIf="domainItem.GetUpDown(exam.ExamName).isUp"
                                              class="text-success">↑</span>
                                    </td>
                                </ng-container>


                            </tr>
                            <tr *ngIf="rowIdx > 0">
                                <th>{{courseItem.SubjectName}}</th>
                                <td>{{courseItem.CourseCredit}}</td>
                                <ng-container *ngFor="let exam of courseItem.ExamScoreList">
                                    <td [ngClass]="(exam.ExamScore < passScore) ? 'fail':''">
                                        {{exam.ExamScore}}
                                        <span *ngIf="courseItem.GetUpDown(exam.ExamName).isDown"
                                              class="text-danger">↓</span>
                                        <span *ngIf="courseItem.GetUpDown(exam.ExamName).isUp"
                                              class="text-success">↑</span><br>
                                        <br>
                                        <span [ngClass]="(exam.Score < passScore ||exam.AssignmentScore < passScore )?'badge badge-danger border mt-1':'badge badge-light border mt-1'">{{exam.Score}} / {{exam.AssignmentScore}}</span>
                                    </td>
                                    <!-- <td>
                                   {{domainItem.DomainScore}}
                               </td> -->
                                </ng-container>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <tr>
                        <th colspan="3"
                            scope="row">加權平均</th>
                        <ng-container *ngFor="let examName of studentExamScore.ExamNameList">
                            <td colspan="2"
                                [ngClass]="(studentExamScore.GetExamAvgScore(examName) < passScore) ? 'fail':''">
                                {{ studentExamScore.GetExamAvgScore(examName)||''}}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="nav nav-pills mb-3"
            id="assessment-tab"
            role="tablist">
            <ng-container *ngFor="let itemExam of studentExamScore.ExamNameList">
                <li class="nav-item">
                    <a class="nav-link"
                       id="pills-second-tab"
                       data-toggle="pill"
                       href="#pills-second"
                       role="tab"
                       aria-controls="pills-second"
                       [href]="itemExam"
                       [ngClass]="{ 'active show': itemExam == SelectExamCountName}"
                       (click)="SetSelectExamCountName(itemExam)"
                       aria-selected="false">{{itemExam}}</a>
                </li>

            </ng-container>
        </ul>
        <div class="tab-content"
             id="assessment-tabContent">
            <div class="tab-pane fade show active"
                 id="item"
                 role="tabpanel"
                 aria-labelledby="itemExam">
                <div class="table-responsive table-hover score">
                    <table class="table">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">領域名稱</th>
                                <th scope="col">科目名稱</th>
                                <ng-container *ngFor="let ItemCountName of studentExamScore.AvgItemCountNameList">
                                    <th scope="col">{{ItemCountName}}</th>
                                </ng-container>

                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let itemExam of studentExamScore.ExamNameList">
                                <ng-container *ngIf="itemExam === SelectExamCountName">
                                    <ng-container *ngFor="let domainItem of studentExamScore.DomainScoreList">
                                        <ng-container *ngFor="let courseItem of domainItem.CourseScoreList;let rowIdx =index">
                                            <tr *ngIf="rowIdx == 0">
                                                <th [rowSpan]="domainItem.CourseScoreList.length"
                                                    scope="row">{{domainItem.DomainName}}
                                                </th>
                                                <th>{{courseItem.SubjectName}}</th>
                                                <ng-container *ngFor="let itemCountName of studentExamScore.AvgItemCountNameList">
                                                    <td [ngClass]="(studentExamScore.GetItemCount(courseItem.DomainName,courseItem.SubjectName,itemExam,itemCountName).isMe ? 'sty1':'')">{{studentExamScore.GetItemCount(courseItem.DomainName,courseItem.SubjectName,itemExam,itemCountName).Count}}</td>
                                                </ng-container>

                                            </tr>
                                            <tr *ngIf="rowIdx > 0">
                                                <th>{{courseItem.SubjectName}}</th>
                                                <ng-container *ngFor="let itemCountName of studentExamScore.AvgItemCountNameList">
                                                    <td [ngClass]="(studentExamScore.GetItemCount(courseItem.DomainName,courseItem.SubjectName,itemExam,itemCountName).isMe ? 'sty1':'')">{{studentExamScore.GetItemCount(courseItem.DomainName,courseItem.SubjectName,itemExam,itemCountName).Count}}</td>
                                                </ng-container>

                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- 高雄國中 -->
<ng-container *ngIf="selectSchoolType === 'JHKH'">
    <div class="tab-pane fade-in"
         id="listFour">
        <div class="d-md-flex align-items-center sub-title mb-3">
            <h4 class="mb-0 mr-auto">評量成績</h4>
        </div>
        <div class="dropdown mb-3">
            <button class="btn btn-light dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">{{selectSchoolYearSemester.SchoolYear}}學年度 第{{selectSchoolYearSemester.Semester}}學期</button>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   *ngFor="let item of semesterList"
                   [ngClass]="{ active: selectSchoolYearSemester == item }"
                   (click)="SetSelectSemester(item)">{{item.SchoolYear}}學年度 第{{item.Semester}}學期</a>

            </div>
        </div>
    </div>

</ng-container>

<!-- 高中 -->
<ng-container *ngIf="selectSchoolType === 'SH'">
    <div class="tab-pane fade-in"
         id="listFour">
        <div class="d-md-flex align-items-center sub-title mb-3">
            <h4 class="mb-0 mr-auto">評量成績</h4>
        </div>
        <div class="dropdown mb-3">
            <button class="btn btn-light dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">{{selectSchoolYearSemester.SchoolYear}}學年度 第{{selectSchoolYearSemester.Semester}}學期</button>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   *ngFor="let item of semesterList"
                   [ngClass]="{ active: selectSchoolYearSemester == item }"
                   (click)="SetSelectSemester(item)">{{item.SchoolYear}}學年度 第{{item.Semester}}學期</a>

            </div>
        </div>

        <div class="table-responsive table-hover score mb-3">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th scope="col">科目名稱</th>
                        <ng-container *ngFor="let examName of studentExamScore.ExamNameList">
                            <th scope="col">{{examName}}</th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let courseItem of studentExamScore.CourseScoreList">
                        <tr>
                            <th>{{courseItem.SubjectName}}</th>
                            <ng-container *ngFor="let examItem of courseItem.ExamScoreList">
                                <td>
                                    {{examItem.ExamScore}}
                                    <span *ngIf="courseItem.GetUpDown(examItem.ExamName).isDown"
                                          class="text-danger">↓</span>
                                    <span *ngIf="courseItem.GetUpDown(examItem.ExamName).isUp"
                                          class="text-success">↑</span>
                                </td>
                            </ng-container>

                        </tr>
                    </ng-container>


                </tbody>
            </table>
        </div>

        <ul class="nav nav-pills mb-3"
            id="assessment-tab"
            role="tablist">
            <ng-container *ngFor="let itemExam of studentExamScore.ExamNameList">
                <li class="nav-item">
                    <a class="nav-link"
                       id="pills-second-tab"
                       data-toggle="pill"
                       href="#pills-second"
                       role="tab"
                       aria-controls="pills-second"
                       [href]="itemExam"
                       [ngClass]="{ 'active show': itemExam == SelectExamCountName}"
                       (click)="SetSelectExamCountName(itemExam)"
                       aria-selected="false">{{itemExam}}</a>
                </li>

            </ng-container>
        </ul>

        <div class="tab-content"
             id="assessment-tabContent">
            <div class="tab-pane fade show active"
                 id="item"
                 role="tabpanel"
                 aria-labelledby="itemExam">
                <div class="table-responsive table-hover score">
                    <table class="table">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">科目名稱</th>
                                <ng-container *ngFor="let ItemCountName of studentExamScore.AvgItemCountNameList">
                                    <th scope="col">{{ItemCountName}}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let itemExam of studentExamScore.ExamNameList">
                                <ng-container *ngIf="itemExam === SelectExamCountName">
                                    <ng-container *ngFor="let courseItem of studentExamScore.CourseScoreList;let rowIdx =index">

                                        <tr>
                                            <th>{{courseItem.SubjectName}}</th>
                                          
                                            <ng-container *ngFor="let itemCountName of studentExamScore.AvgItemCountNameList">
                                                <td [ngClass]="(studentExamScore.GetItemCount('',courseItem.SubjectName,itemExam,itemCountName).isMe ? 'sty1':'')">{{studentExamScore.GetItemCount('',courseItem.SubjectName,itemExam,itemCountName).Count}}</td>
                                            </ng-container>

                                        </tr>
                                    </ng-container>

                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</ng-container>