/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-dialog-container {
    padding: unset !important;
}

.custom-control {
    margin-top: 0.75rem;
}

/* rwd-table的表頭貼上sticky-top時修復底色 */
ul.rwd-table .tr li.sticky-top {
    background-color: #DDDDDD !important;
}

/* 有卷軸的 dropdown-menu */
.dropdown-menu-scrollable {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    overflow: scroll;
    background: white !important;
}
.dropdown-menu-scrollable::before{
    box-shadow: inherit !important;
}


/* 修改字體 採用微軟正黑體 */
*{
    font-family: "微軟正黑體";
}