
<!--  -->



<!-- 以上自己寫 -->

<div class="container mx-auto">
  <div class="px-12 lg:px-4 mb-18">
    <div class="gadget_bigtitle mt-10 tracking-wide"><a [routerLink]="['']">Grades and Behavior</a></div>
<div class="flex flex-row mt-8 flex-wrap sm:px-4 sm:pt-6 sm:pb-4 sm:bg-primary-bg rounded-lg">
  <div class="mr-6">
    <div class="relative inline-block text-left">
      <div>
 <div class="container mx-auto">
  <div>
    <button (click)="courseSelectIsOpen = !courseSelectIsOpen" class="block dropdown_box">
     {{currentItem?.selectedCourse?.CourseName}}
    </button>
    <div id="subject" *ngIf="courseSelectIsOpen" class="bg-white p-4 py-2 w-64">
      <a *ngFor="let item of myCourse"
        class=" list_options text-white bg-primary"
        (click)="changeCourse(item)">{{item.CourseName}} </a>
    </div>
  </div>

    </div>
  </div>
  <div class="flex-grow flex flex-col">
    <div class="flex flex-row items-center">
      <div class="border border-l-2 border-primary h-5 mr-4 rounded-full"></div>
      <p class="text-lg xs:text-base">     {{currentItem?.selectedCourse?.TeacherName}}</p>
    </div>
    <div class="flex flex-row items-center">
      <div class="border border-l-2 border-primary h-5 mr-4 rounded-full"></div>
      <p class="text-lg xs:text-base"> {{currentItem?.selectedCourse?.Email}}</p>
      <span class="iconify ml-2 text-2xl text-secondary-light" data-icon="ic:outline-email"
        data-inline="false"></span>
    </div>
  </div>
</div>



<!-- 以上課程區 -->
<div>

  <div id="subject"  class="bg-white p-4 py-2 w-64">
    <a *ngFor="let showSectionName of ['Score','Behavior']"
      class=" list_options text-white bg-primary"
      (click)="changeShowSection(showSectionName)">{{showSectionName}} </a>
  </div>
</div>



<!-- <app-score-section [subjData]="currentItem?.currentSubj"></app-score-section> -->
</div>

<br>

</div>



<router-outlet>

</router-outlet>
