<!-- 檢視輔導 Modal -->
<div class="modal fade"
     [id]="_id"
     tabindex="-1"
     role="dialog"
     aria-labelledby="viewInterviewLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="addInterviewLabel">
          檢視輔導紀錄 - {{ _CounselInterview.StudentName }}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-header">
        <h5 class="modal-title"
            id="viewInterviewLabel">
          {{_CounselInterview.StudentName}}（{{_CounselInterview.OccurDate | date: "yyyy-MM-dd" }}
          {{_CounselInterview.SchoolYear}}學年度 第{{_CounselInterview.Semester}}學期）
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="col-form-label">
              學年度
            </label>
            <label class="form-control">{{ _CounselInterview.SchoolYear }}</label>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label">
              學期
            </label>
            <label class="form-control">{{ _CounselInterview.Semester }}</label>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label">
              日期
            </label>
            <label class="form-control">{{ _CounselInterview.OccurDate }}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label">
            聯絡事項
          </label>
          <label class="form-control"
                 style="white-space: pre-wrap;word-break: break-all;">{{ _CounselInterview.ContactItem || ' ' }}</label>
        </div>

        <div class="form-group">
          <label class="col-form-label">
            輔導內容
          </label>
          <label class="form-control"
                 style="white-space: pre-wrap;word-break: break-all;">{{ _CounselInterview.Content || ' ' }}</label>
        </div>
        <div *ngIf="_CounselInterview.getIsReferralString()"
             class="form-group">
          <label class="col-form-label">轉介輔導室</label>
          <label class="form-control">{{ _CounselInterview.getIsReferralString() }}</label>
        </div>
        <div *ngIf="_CounselInterview.getIsReferralString()"
             class="form-group">
          <label class="col-form-label">轉介說明</label>
          <label class="form-control">{{ _CounselInterview.ReferralDesc }}</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="dropdown">
          <!-- <button
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-dark"
        data-toggle="dropdown"
        id="dropdownMenuButton1"
        type="button"
      >
        <i class="material-icons">print</i>
      </button> -->
          <div aria-labelledby="dropdownMenuButton1"
               class="dropdown-menu menu">
            <a class="dropdown-item"
               href="#">Excel</a>
            <a class="dropdown-item"
               href="#">Html</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>