<!-- 建立新個案 Modal -->
<div
  class="modal fade"
  id="newCase"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newCaseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCaseLabel">建立新個案輔導資料</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <div class="dropdown mr-2 mb-3">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ selectClassNameValue }}
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                (click)="setClassName(item)"
                *ngFor="let item of canSelectClassList"
                >{{ item.ClassName }}</a
              >
            </div>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ selectSeatNoValue }}
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                (click)="setSeatNo(item)"
                *ngFor="let item of canSelectNoList"
                >{{ item.SeatNo }}</a
              >
            </div>
          </div>
        </div>
        <div class="row bg-light border p-3">
          <div class="col-md-3">
            <img src="../assets/img/nophoto.png" class="w-100" />
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3 mb-3 font-weight-bold">姓名性別</div>
              <div class="col-md-9 mb-3">
                {{ caseStudent.Name }}({{ caseStudent.Gender }})
              </div>
              <div class="col-md-3 mb-3 font-weight-bold">班導師</div>
              <div class="col-md-9 mb-3">{{ caseStudent.TeacherName }}</div>
              <div class="col-md-3 font-weight-bold">學籍資料</div>
              <div class="col-md-9"></div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="schoolYear" class="col-form-label">
              <span class="text-samll text-danger">*</span> 個案編號
            </label>
            <input
              type="text"
              class="form-control"
              id="schoolYear"
              placeholder="請輸入個案編號"
              [(ngModel)]="caseStudent.CaseNo"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="OccurDate" class="col-form-label">
              <span class="text-samll text-danger">*</span> 個案日期
            </label>
            <input
              type="date"
              class="form-control"
              id="OccurDate"
              name="OccurDate"
              placeholder="請輸入個案日期"
              [(ngModel)]="caseStudent.OccurDate"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="interviewDate" class="col-form-label">
              <span class="text-samll text-danger">*</span> 個案來源
            </label>
            <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectCaseSourceValue }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item"
                  (click)="setCaseSource(item)"
                  *ngFor="let item of canSelectCaseSourceList"
                  >{{ item }}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="interviewDate" class="col-form-label">
            <span class="text-samll text-danger">*</span> 認輔老師
          </label>
          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ selectVoluntaryGuidanceValue }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                *ngFor="let item of voluntaryGuidanceTeacherList"
                (click)="setVoluntaryGuidanceTeacher(item)"
                >{{ item.Name }}</a
              >
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="semester" class="col-form-label">
            <span class="text-samll text-danger">*</span> 結案人員
          </label>
          <input
            type="text"
            class="form-control"
            id="semester"
            [readOnly]="true"
            [(ngModel)]="teacherName"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          取消
        </button>
        <button type="button" class="btn btn-info" (click)="save()">
          儲存
        </button>
      </div>
    </div>
  </div>
</div>
