
input {
  /* margin: 3px; */
  border-width: 0px;
  border-bottom-width: 2px;
}

input:focus {
  outline: none !important;
}

textarea {
  margin: 3px;
}

textarea:focus {
  outline: none !important;
}

textarea {
  border-width: 0px;
  border-bottom-width: 2px;
}

.flex_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.align_center {
  display: flex;
  align-items: center;
}
