<div class="has-tooltip lg:mr-4">
  <span *ngIf="roleName === 'teacher' && course.GoogleExt?.id" class="tooltip -ml-10">Google Classroom</span>
  <span *ngIf="roleName === 'teacher' && !(course.GoogleExt?.id)" class="tooltip -ml-10">Google Classroom<br>尚未設定，請至雲端<br>服務管理建立或連結教室。</span>
  <span *ngIf="roleName === 'student'" class="tooltip -ml-10">Google Classroom</span>

  <ng-container *ngIf="course.GoogleExt?.id">
    <a [href]="googleSigninChooserUrl(course.GoogleExt?.alternateLink || '')"
      target="_blank" rel="noreferrer noopener">
      <img class="h-10 w-10 mb-2 mx-1 cursor-pointer" src="assets/img/google_classroom_logo.svg" alt="Google Classroom">
    </a>
  </ng-container>
  <ng-container *ngIf="!course.GoogleExt?.id">
    <img class="h-10 w-10 mb-2 mx-1" src="assets/img/google_classroom_logo2.svg" alt="Google Classroom">
  </ng-container>
</div>
