<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>缺曠</title>
</head>

<body>
  <div class="container-fluid cbs d-flex justify-content-between flex-column">
    <div id="index" page>
      <nav aria-label="breadcrumb text-nowrap text-truncate">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">缺曠紀錄</li>
        </ol>
      </nav>

      <div class="d-flex flex-column flex-sm-row mb-3">
        <!-- <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle mr-3" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{classNameList}}</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">資一甲</a>
                        <a class="dropdown-item" href="#">商二甲</a>
                    </div>
                </div> -->
        <mat-form-field appearance="fill" class="mr-0 mr-sm-2">
          <mat-label>選擇班級</mat-label>
          <mat-select #className [(ngModel)]="selectedClass"
                    (selectionChange)="querySemesters()">
            <mat-option id="" [value]="cls"
                        *ngFor="let cls of classList">
              {{cls.ClassName}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>學年度學期</mat-label>
          <mat-select #semester [(ngModel)]="selectedSemester"
          (selectionChange)="queryStudentAttendance()">
            <mat-option id="yearSemester" [value]="semester"
                        *ngFor="let semester of semesters">
                {{getSemesterString(semester)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="dropdown my-2 my-sm-0">
                    <button class="btn btn-light dropdown-toggle mr-3" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">109學年度 第1學期</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">109學年度 第1學期</a>
                        <a class="dropdown-item" href="#">108學年度 第2學期</a>
                        <a class="dropdown-item" href="#">108學年度 第1學期</a>
                    </div>
                </div> -->
        <div class="dropdown ml-auto mt-5 mt-sm-0">
          <a style="cursor: pointer;" (click)="exportFile('xls')">
            <mat-icon> cloud_download</mat-icon>班級統計(Excel)
          </a>
          <a style="cursor: pointer;" (click)="exportFile('html')">
            <mat-icon> cloud_download</mat-icon>班級統計(Html)
          </a>
        </div>
      </div>

      <!-- 缺曠 -->
      <div class="table-responsive" #table>
        <table class="table-rwd table table-bordered table-hover kd-t">
          <thead>
            <tr>
              <th *ngIf="this.ready">座號</th>
              <th *ngIf="this.ready">姓名</th>
              <th *ngFor="let leave of absenceName">{{ leave }}</th>
            </tr>
          </thead>
          <tbody *ngFor=" let studentInfo of aryStudents">
            <tr class="collapsed" data-toggle="collapse" data-target="#aA" aria-expanded="false" aria-controls="aA">
              <td data-th="座號" (click) ="nextPage(studentInfo)" routerLink="/student-summary">{{ studentInfo.seat_no}}</td>
              <td data-th="姓名" (click) ="nextPage(studentInfo)" routerLink="/student-summary">{{ studentInfo.name}}</td>
              <td *ngFor="let leave of absenceName;" [attr.data-th]="leave" style="text-align: center" (click) ="nextPage(studentInfo)" routerLink="/student-summary">
                {{ studentMappingTable.get(studentInfo.ref_student_id).attendanceMapping.get(leave) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <footer class="text-center p-2 mt-auto">
      Powered By ischool
    </footer>
  </div>

  <!-- <script type="text/javascript">
        function toggle(event) {
            event.preventDefault();
            event.stopPropagation();

            $('#addInterview').modal('show');
        }

        function showTooltip(){
            $('td[data-toggle=tooltip]').tooltip('toggle');
        }
    </script> -->
  <!----------------------------------------------------------------------------------------------------------->

</body>

</html>
