<!-- 賽程表 -->
<div class="tab-pane" id="m-schedule" aria-labelledby="my-schedule">
  <div class="d-flex flex-column flex-md-row mb-3">
    <div class="input-group mb-3 mb-sm-0">
      <div class="input-group-prepend">
        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          全部類別
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">全部類別</a>
          <a class="dropdown-item" href="#">球類</a>
          <a class="dropdown-item" href="#">田賽</a>
          <a class="dropdown-item" href="#">徑賽</a>
        </div>
      </div>
    </div>
  </div>

  <div class="rwd-list list-header bg-light">
    <ul>
      <li class="rwd-w-2">類型</li>
      <li class="rwd-w-2">類別</li>
      <li class="rwd-w-3">競賽名稱</li>
      <li class="rwd-w-3">活動日期</li>
      <li class="rwd-w-2">活動說明</li>
    </ul>
  </div>
  <div class="rwd-list">
    <ul class="list-group-item list-group-item-action point" data-toggle="collapse" data-target="#scheduleOne"
      aria-expanded="true" aria-controls="scheduleOne">
      <li class="rwd-w-2" data-label="類型">團體賽</li>
      <li class="rwd-w-2" data-label="類別">球類</li>
      <li class="rwd-w-3" data-label="競賽名稱">籃球 3x3</li>
      <li class="rwd-w-3" data-label="活動日期">2018-10-17 - 2018-10-23</li>
      <li class="rwd-w-2" data-label="活動說明">
        <a class="btn-link text-info" href="#" target="_blank">
          <i class="material-icons">description</i>
        </a>
      </li>
    </ul>
  </div>
  <div id="scheduleOne" class="collapse sub-list" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高一男子組
        <span class="badge badge-info ml-3">共 3 隊</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高二男子組
        <span class="badge badge-info ml-3">共 4 隊</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>全校女子組
        <span class="badge badge-info ml-3">共 3 隊</span>
      </a>
    </div>
  </div>
  <div class="rwd-list">
    <ul class="list-group-item list-group-item-action point" data-toggle="collapse" data-target="#scheduleTwo"
      aria-expanded="true" aria-controls="scheduleTwo">
      <li class="rwd-w-2" data-label="類型">個人賽</li>
      <li class="rwd-w-2" data-label="類別">球類</li>
      <li class="rwd-w-3" data-label="競賽名稱">新生盃桌球賽</li>
      <li class="rwd-w-3" data-label="活動日期">2018-10-17 - 2018-10-23</li>
      <li class="rwd-w-2" data-label="活動說明">
        <a class="btn-link text-info" href="#" target="_blank">
          <i class="material-icons">description</i>
        </a>
      </li>
    </ul>
  </div>
  <div id="scheduleTwo" class="collapse sub-list" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高一男子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高二男子組
        <span class="badge badge-info ml-3">共 4 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>全校女子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
    </div>
  </div>
  <div class="rwd-list">
    <ul class="list-group-item list-group-item-action point" data-toggle="collapse" data-target="#scheduleThree"
      aria-expanded="true" aria-controls="scheduleThree">
      <li class="rwd-w-2" data-label="類型">個人賽</li>
      <li class="rwd-w-2" data-label="類別">田賽</li>
      <li class="rwd-w-3" data-label="競賽名稱">跳遠</li>
      <li class="rwd-w-3" data-label="活動日期">2018-10-17 - 2018-10-23</li>
      <li class="rwd-w-2" data-label="活動說明">
        <a class="btn-link text-info" href="#" target="_blank">
          <i class="material-icons">description</i>
        </a>
      </li>
    </ul>
  </div>
  <div id="scheduleThree" class="collapse sub-list" aria-labelledby="headingThree"
    data-parent="#accordionExample">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高一男子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高二男子組
        <span class="badge badge-info ml-3">共 4 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>全校女子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
    </div>
  </div>
  <div class="rwd-list">
    <ul class="list-group-item list-group-item-action point" data-toggle="collapse" data-target="#scheduleFour"
      aria-expanded="true" aria-controls="scheduleFour">
      <li class="rwd-w-2" data-label="類型">個人賽</li>
      <li class="rwd-w-2" data-label="類別">徑賽</li>
      <li class="rwd-w-3" data-label="競賽名稱">100 公尺</li>
      <li class="rwd-w-3" data-label="活動日期">2018-10-17 - 2018-10-23</li>
      <li class="rwd-w-2" data-label="活動說明">
        <a class="btn-link text-info" href="#" target="_blank">
          <i class="material-icons">description</i>
        </a>
      </li>
    </ul>
  </div>
  <div id="scheduleFour" class="collapse sub-list" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高一男子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>高二男子組
        <span class="badge badge-info ml-3">共 4 人</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">
        <i class="material-icons mr-3">
          outlined_flag
        </i>全校女子組
        <span class="badge badge-info ml-3">共 3 人</span>
      </a>
    </div>
  </div>
</div>