<div class="d-flex">
  <div class="dropdown"
       style="margin-left: 20px">
    <button class="btn btn-light dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {{ selectReportType }}
    </button>
    <div class="dropdown-menu scrollable-menu">
      <a class="dropdown-item"
         *ngFor="let item of reportTypeList"
         [ngClass]="{ active: selectReportType === item }"
         (click)="SetSelectReportType(item)">{{ item }}</a>
    </div>
  </div>
</div>

<div style="height: 20px"></div>

<div class="tab-content"
     *ngIf="selectReportType ==='輔導工作月統計'">
  <!-- TAB 2 輔導統計 -->
  <div>
    <label class="col-form-label"
           style="width:40px">西元</label>
    <input type="number"
           min="2000"
           max="3000"
           [(ngModel)]="selectYear">
    <label class="col-form-label"
           style="width:30px">年</label>
    <input type="number"
           min="1"
           max="12"
           [(ngModel)]="selectMonth">
    <label class="col-form-label"
           style="width:30px">月</label>
  </div>

  <ul class="rwd-table">
    <li class="thead">
      <ol class="tr">
        <li>統計報表名稱</li>
        <li></li>
      </ol>
    </li>
    <li class="tbody">
      <ol class="tr"
          *ngFor="let item of reportNameList">
        <li data-title="報表名稱">{{ item }}</li>
        <li data-title="">
          <button class="btn btn-light"
                  (click)="exportRepot(item)">
            產生報表
          </button>
        </li>
      </ol>
    </li>
  </ul>

</div>

<div class="tab-content"
     *ngIf="selectReportType ==='心理測驗結果分析'">
  <div class="d-flex justify-content-center">
    <h3>心理測驗分析</h3>
  </div>

  <div class="d-flex">
    <div class="form-group col-md-4">
      <label for="OccurDate"
             class="col-form-label">

        實施日期(開始)
      </label>
      <input type="date"
             class="form-control"
             id="ImplementationDate_Begin"
             name="ImplementationDate_Begin"
             placeholder="請輸入實施日期開始日期"
             [(ngModel)]="ImplementationDate_Begin"
             (keyup)="psyCheckValue()" />
    </div>

    <div class="form-group col-md-4">
      <label for="OccurDate"
             class="col-form-label">

        實施日期(結束)
      </label>
      <input type="date"
             class="form-control"
             id="ImplementationDate_End"
             name="ImplementationDate_End"
             placeholder="請輸入實施日期結束日期"
             [(ngModel)]="ImplementationDate_End"
             (keyup)="psyCheckValue()" 
             (change)="psyCheckValue()"
             />

    </div>
  </div>

  <ul class="rwd-table">
    <li class="thead" *ngIf="QuizInfoReportList.length > 0">
      <ol class="tr">
        <li style="width: 15%">實施日期</li>
        <li style="width: 70%">測驗名稱</li>
        <li style="width: 15%"> </li>
      </ol>
    </li>
    <li class="tbody">      
      <ol class="tr" *ngFor="let item of QuizInfoReportList">
        <li data-title="">{{item.ImplementationDateStr}} </li>
        <li data-title="報表名稱">{{item.QuizName}}</li>
        <li data-title="">
          <button class="btn btn-light"
                  (click)="psyExportReport(item)">
            產生分析結果
          </button>
        </li>
      </ol>
    </li>
  </ul>

</div>