<div class="d-flex">
  <div class="dropdown"
       style="margin-left: 20px">
    <button class="btn btn-light dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {{ selectReportType }}
    </button>
    <div class="dropdown-menu scrollable-menu">
      <a class="dropdown-item"
         *ngFor="let item of reportTypeList"
         [ngClass]="{ active: selectReportType === item }"
         (click)="SetSelectReportType(item)">{{ item }}</a>
    </div>
  </div>
</div>



<div [ngSwitch]="selectReportType">
  
  <ng-container *ngSwitchCase="'輔導工作月統計'">
    <app-gov-statistics-monthly></app-gov-statistics-monthly>
  </ng-container>

  <ng-container *ngSwitchCase="'導師輔導記錄'">
    <app-counsel-interview-report></app-counsel-interview-report>
  </ng-container>

  <ng-container *ngSwitchCase="'晤談記錄'">
    <app-case-interview-report></app-case-interview-report>
  </ng-container>


  <ng-container *ngSwitchCase="'轉介學生清單'">
    <app-case-interview-report></app-case-interview-report>
  </ng-container>

  <ng-container *ngSwitchCase="'各班導師晤談次數'">
    <app-hrcounsel-interview-count></app-hrcounsel-interview-count>
  </ng-container>
 
  <app-group-analysis-report *ngSwitchCase="'選組分析表'" > </app-group-analysis-report>
  <ng-container *ngSwitchDefault></ng-container>
</div>






<!-- 

<ng-container *ngIf="selectReportType ==='輔導工作月統計'">
  <app-gov-statistics-monthly></app-gov-statistics-monthly>
</ng-container>

<ng-container *ngIf="selectReportType ==='導師輔導記錄'">
  <app-counsel-interview-report></app-counsel-interview-report>
</ng-container>

<ng-container *ngIf="selectReportType ==='晤談記錄'">
  <app-case-interview-report></app-case-interview-report>
</ng-container>

<ng-container *ngIf="selectReportType ==='轉介學生清單'">
  <app-referral-report></app-referral-report>
</ng-container>

<ng-container *ngIf="selectReportType ==='各班導師晤談次數'">
  <app-hrcounsel-interview-count></app-hrcounsel-interview-count>
</ng-container> -->