<div class="d-flex">
  <div class="dropdown"
       style="margin-left: 20px">
    <button class="btn btn-light dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {{ selectReportType }}
    </button>
    <div class="dropdown-menu scrollable-menu">
      <a class="dropdown-item"
         *ngFor="let item of reportTypeList"
         [ngClass]="{ active: selectReportType === item }"
         (click)="SetSelectReportType(item)">{{ item }}</a>
    </div>
  </div>
</div>

<ng-container *ngIf="selectReportType ==='輔導工作月統計'">
  <app-gov-statistics-monthly></app-gov-statistics-monthly>
</ng-container>

<ng-container *ngIf="selectReportType ==='導師輔導記錄'">
  <app-counsel-interview-report></app-counsel-interview-report>
</ng-container>