:host() {
  flex: 1;
}

.question_container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.question {
  display: flex;
  /* flex: 1; */
  align-items: center;
  flex-wrap: wrap;
  margin: 2px;
  padding: 2px;
}

.question_debug {
  border-style: solid;
  border-color: yellowgreen;
}

.debug_info {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  margin: 3px;
}

.full_width {
  flex: 1;
}
