<div *ngIf="!isLoading; else tmpLoading">
  <div class="tab-content">
    <app-permission-denied *ngIf="!roleService.isLoading && !roleService.enablePsychologicalTest">
    </app-permission-denied>
    <!-- TAB 4 個案資料 -->
    <div *ngIf="!roleService.isLoading && roleService.enablePsychologicalTest"
         class="tab-pane fade show active">
      <div class="d-flex">
        <div class="ml-auto dropdown">
          <button class="btn btn-info dropdown-toggle btn-deep"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            匯入測驗成績
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <ng-container *ngFor="let QuizItem of AllQuizList">
              <a class="dropdown-item"
                 (click)="modalImport(QuizItem)">
                {{QuizItem.QuizName}}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <ul class="rwd-table"
          style="width: 100%">
        <li class="thead ">
          <ol class="tr">
            <li class="sticky-top "
                style="white-space: pre-wrap;word-break: break-all;  background:
          
                 #94d0cc !important">班級</li>
            <ng-container *ngFor="let QuizItem of AllQuizList">
              <li class="sticky-top  "
                  style="white-space: pre-wrap;word-break: break-all; ">
                {{QuizItem.QuizName}}
              </li>
              <!-- <li class="sticky-top  "
              style="white-space: pre-wrap;word-break: break-all; background:#34656d !important   ;color : white ;font-size: 18px;">
            {{QuizItem.QuizName}}
          </li> -->
            </ng-container>
          </ol>
        </li>

        <li class="tbody">
          <ng-container *ngFor="let classItem of AllClassQuizCountList">
            <ol class="tr">
              <li data-title="班級">{{classItem.ClassName}}</li>
              <ng-container *ngFor="let QuizItem of AllQuizList">
                <li (click)="showStudentQuizData(QuizItem.uid,classItem.ClassID)" style="color :#1f232d"> 
                  <span *ngIf="classItem.GetQuizCount(QuizItem.QuizName)">
                    {{classItem.GetQuizCount(QuizItem.QuizName)}} / {{classItem.ClassStudents}}

                  </span>
                  <span *ngIf="!classItem.GetQuizCount(QuizItem.QuizName)">-</span>
                </li>
              </ng-container>
            </ol>
          </ng-container>

        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #tmpLoading
             class="container">
  <div class="row justify-content-center"
       style="margin-top:250px;margin-bottom:200px;">
    Loading...
  </div>
</ng-template>

<app-import-quiz-data #import_quiz_data></app-import-quiz-data>