<!-- 學生個人 - 學期成績 -->
<div class="tab-pane fade-in"
      id="listFive">
    <div class="d-md-flex align-items-center sub-title mb-3">
        <h4 class="mb-0 mr-auto">學期成績</h4>
    </div>
    <div class="dropdown mb-3">
        <button class="btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">107學年度 第1學期</button>
        <div class="dropdown-menu">
            <a class="dropdown-item"
                href="#">107學年度 第1學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第2學期</a>
            <a class="dropdown-item"
                href="#">106學年度 第1學期</a>
        </div>
    </div>
    <!-- 新竹國中學期成績 -->
    <div class="d-flex mb-3">
        <div class="py-3 flex-fill bg-cyan text-center mr-2">
            <p class="h3">76.58</p>
            <small>學期領域成績（七大學習領域）</small>
        </div>
        <div class="py-3 flex-fill bg-cyan text-center">
            <p class="h3">76.68</p>
            <small>課程學習成績（含彈性課程）</small>
        </div>
    </div>
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">領域</th>
                    <th scope="col">科目</th>
                    <th scope="col">節/權數</th>
                    <th scope="col">成績</th>
                    <th scope="col">等第</th>
                    <th scope="col">文字描述</th>
                    <th scope="col">及格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        語文
                    </th>
                    <td>8</td>
                    <td>69.14</td>
                    <td>丙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">國文</th>
                    <td>5</td>
                    <td>69.3</td>
                    <td>丙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">英語</th>
                    <td>3</td>
                    <td>68.86</td>
                    <td>丙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        數學
                    </th>
                    <td>4</td>
                    <td>72.78</td>
                    <td>乙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">數學</th>
                    <td>4</td>
                    <td>72.78</td>
                    <td>乙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        自然與生活科技
                    </th>
                    <td>4</td>
                    <td>70.44</td>
                    <td>乙</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">生物</th>
                    <td>3</td>
                    <td class="text-danger">55</td>
                    <td>丁</td>
                    <td></td>
                    <td><i class="material-icons md-24 text-danger">close</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">生活科技</th>
                    <td>1</td>
                    <td>85.88</td>
                    <td>甲</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="7"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        彈性課程
                    </th>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">英語選讀</th>
                    <td>1</td>
                    <td>84.4</td>
                    <td>甲</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 高雄國中學期成績 -->
    <div class="d-flex mb-3">
        <div class="py-3 flex-fill bg-cyan text-center">
            <p class="h3">76.58</p>
            <small>學期領域成績（七大學習領域）</small>
        </div>
    </div>
    <div class="table-responsive table-hover score mb-3">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">領域</th>
                    <th scope="col">科目</th>
                    <th scope="col">節/權數</th>
                    <th scope="col">成績</th>
                    <th scope="col">努力程度</th>
                    <th scope="col">文字描述</th>
                    <th scope="col">及格</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        語文
                    </th>
                    <td>8</td>
                    <td>69</td>
                    <td>3</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">國文</th>
                    <td>5</td>
                    <td>69</td>
                    <td>2</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">英語</th>
                    <td>3</td>
                    <td>68</td>
                    <td>2</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        數學
                    </th>
                    <td>4</td>
                    <td>72</td>
                    <td>3</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">數學</th>
                    <td>4</td>
                    <td>72</td>
                    <td>3</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="2"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        自然與生活科技
                    </th>
                    <td>4</td>
                    <td>70</td>
                    <td>3</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">生物</th>
                    <td>3</td>
                    <td class="text-danger">55</td>
                    <td>1</td>
                    <td></td>
                    <td><i class="material-icons md-24 text-danger">close</i></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">生活科技</th>
                    <td>1</td>
                    <td>85</td>
                    <td>4</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
                <tr class="table-gray">
                    <th scope="row"
                        colspan="7"
                        class="text-left">
                        <i class="material-icons md-24 md-dark">class</i>
                        彈性課程
                    </th>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">英語選讀</th>
                    <td>1</td>
                    <td>84</td>
                    <td>4</td>
                    <td></td>
                    <td><i class="material-icons md-24 md-dark">check</i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 高中學期成績 -->
    <div class="d-flex mb-3">
        <div class="py-3 flex-fill bg-cyan text-center">
            <p class="h3">19 / 23</p>
            <small>學分資訊（實得 / 已修）</small>
        </div>
        <div class="py-3 flex-fill bg-cyan text-center mx-2">
            <p class="h3">73.97</p>
            <small>學業成績</small>
        </div>
        <div class="py-3 flex-fill bg-cyan text-center">
            <p class="h3">--</p>
            <small>實習科目</small>
        </div>
    </div>
    <ul class="nav nav-pills mb-2 reward"
        id="pills-tab"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link active show"
                id="pills-compulsory-tab"
                data-toggle="pill"
                href="#pills-compulsory"
                role="tab"
                aria-controls="pills-compulsory"
                aria-selected="true">必修<span class="badge badge-light mt-1">9/13</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-elective-tab"
                data-toggle="pill"
                href="#pills-elective"
                role="tab"
                aria-controls="pills-elective"
                aria-selected="true">選修<span class="badge badge-light mt-1">10/10</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-compulsoryEdu-tab"
                data-toggle="pill"
                href="#pills-compulsoryEdu"
                role="tab"
                aria-controls="pills-compulsoryEdu"
                aria-selected="false">部定必修<span class="badge badge-light mt-1">9/13</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-compulsorySchool-tab"
                data-toggle="pill"
                href="#pills-compulsorySchool"
                role="tab"
                aria-controls="pills-compulsorySchool"
                aria-selected="true">校訂必修<span class="badge badge-light mt-1">0/0</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-electiveSchool-tab"
                data-toggle="pill"
                href="#pills-electiveSchool"
                role="tab"
                aria-controls="pills-electiveSchool"
                aria-selected="false">校訂選修<span class="badge badge-light mt-1">10/10</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-practice-tab"
                data-toggle="pill"
                href="#pills-practice"
                role="tab"
                aria-controls="pills-practice"
                aria-selected="false">實習<span class="badge badge-light mt-1">3/3</span></a>
        </li>
    </ul>
    <div class="tab-content"
          id="pills-tabContent">
        <div class="tab-pane fade show active"
              id="pills-compulsory"
              role="tabpanel"
              aria-labelledby="pills-compulsory-tab">
            <div class="table-responsive table-hover score mb-3">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">分項類別</th>
                            <th scope="col">科目</th>
                            <th scope="col">級別</th>
                            <th scope="col">學分</th>
                            <th scope="col">校/部</th>
                            <th scope="col">成績</th>
                            <th scope="col">取得學分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">國文</th>
                            <td>3</td>
                            <td>4</td>
                            <td>部定</td>
                            <td>72.5</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">英文</th>
                            <td>3</td>
                            <td>4</td>
                            <td>部定</td>
                            <td class="text-danger">59.9</td>
                            <td><i class="material-icons md-24 text-danger">close</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">化學</th>
                            <td>1</td>
                            <td class="table-warning"
                                onmouseover="showTooltip()"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="課程規劃表「105普通科（1類）」設定為1">2</td>
                            <td>部定</td>
                            <td>86.6</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">實習科目</th>
                            <th scope="row">基本電學實習</th>
                            <td>2</td>
                            <td>3</td>
                            <td>部定</td>
                            <td>66</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-elective"
              role="tabpanel"
              aria-labelledby="pills-elective-tab">
            <div class="table-responsive table-hover score mb-3">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">分項類別</th>
                            <th scope="col">科目</th>
                            <th scope="col">級別</th>
                            <th scope="col">學分</th>
                            <th scope="col">校/部</th>
                            <th scope="col">成績</th>
                            <th scope="col">取得學分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">英文寫作</th>
                            <td>1</td>
                            <td>2</td>
                            <td>校訂</td>
                            <td>64(補)</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">物理實驗</th>
                            <td>1</td>
                            <td>2</td>
                            <td>校訂</td>
                            <td>72.5</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">地球</th>
                            <td>1</td>
                            <td>1</td>
                            <td>校訂</td>
                            <td>74.1</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">地球環境</th>
                            <td>1</td>
                            <td>1</td>
                            <td>校訂</td>
                            <td>68.6</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                        <tr class="text-info">
                            <th scope="row">學業</th>
                            <th scope="row">社團</th>
                            <td>3</td>
                            <td>1</td>
                            <td>校訂</td>
                            <td></td>
                            <td>不列入</td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">演化與延續</th>
                            <td>1</td>
                            <td>1</td>
                            <td>校訂</td>
                            <td>72.5</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">環境變遷</th>
                            <td>1</td>
                            <td>3</td>
                            <td>校訂</td>
                            <td>74.1</td>
                            <td><small><i class="material-icons">check</i></small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-compulsoryEdu"
              role="tabpanel"
              aria-labelledby="pills-compulsoryEdu-tab">
            <div class="table-responsive table-hover score mb-3">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">分項類別</th>
                            <th scope="col">科目</th>
                            <th scope="col">級別</th>
                            <th scope="col">學分</th>
                            <th scope="col">成績</th>
                            <th scope="col">取得學分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">國文</th>
                            <td>3</td>
                            <td>4</td>
                            <td>72.5</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">英文</th>
                            <td>3</td>
                            <td>4</td>
                            <td class="text-danger">59.9</td>
                            <td><i class="material-icons md-24 text-danger">close</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">化學</th>
                            <td>1</td>
                            <td class="table-warning"
                                onmouseover="showTooltip()"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="課程規劃表「105普通科（1類）」設定為1">2</td>
                            <td>86.6</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">實習科目</th>
                            <th scope="row">基本電學實習</th>
                            <td>2</td>
                            <td>3</td>
                            <td>66</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-compulsorySchool"
              role="tabpanel"
              aria-labelledby="pills-compulsorySchool-tab">無</div>
        <div class="tab-pane fade"
              id="pills-electiveSchool"
              role="tabpanel"
              aria-labelledby="pills-electiveSchool-tab">
            <div class="table-responsive table-hover score mb-3">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">分項類別</th>
                            <th scope="col">科目</th>
                            <th scope="col">級別</th>
                            <th scope="col">學分</th>
                            <th scope="col">成績</th>
                            <th scope="col">取得學分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">英文寫作</th>
                            <td>1</td>
                            <td>2</td>
                            <td>64(補)</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">物理實驗</th>
                            <td>1</td>
                            <td>2</td>
                            <td>72.5</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">地球</th>
                            <td>1</td>
                            <td>1</td>
                            <td>74.1</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">地球環境</th>
                            <td>1</td>
                            <td>1</td>
                            <td>68.6</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr class="text-info">
                            <th scope="row">學業</th>
                            <th scope="row">社團</th>
                            <td>3</td>
                            <td>1</td>
                            <td></td>
                            <td>不列入</td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">演化與延續</th>
                            <td>1</td>
                            <td>1</td>
                            <td>72.5</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                        <tr>
                            <th scope="row">學業</th>
                            <th scope="row">環境變遷</th>
                            <td>1</td>
                            <td>3</td>
                            <td>74.1</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
              id="pills-practice"
              role="tabpanel"
              aria-labelledby="pills-practice-tab">
            <div class="table-responsive table-hover score mb-3">
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">分項類別</th>
                            <th scope="col">科目</th>
                            <th scope="col">級別</th>
                            <th scope="col">學分</th>
                            <th scope="col">成績</th>
                            <th scope="col">取得學分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">實習科目</th>
                            <th scope="row">基本電學實習</th>
                            <td>2</td>
                            <td>3</td>
                            <td>66</td>
                            <td><i class="material-icons md-24 md-dark">check</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>