<div class="p-3">
  <div style="position: fixed;z-index: 1;top: 8px;right: 8px;">
    <button *ngIf="requireList&&requireList.length"
            class="btn btn-danger ml-1"
            (click)="showRequireList()">
      <span>尚有</span>
      <span class="mx-1">{{requireList.length}}</span>
      <span>個項目未填寫</span>
    </button>
    <button *ngIf="questionSubject&&questionSubject.length"
            class="btn btn-info ml-1"
            (click)="save()"
            [disabled]="isSaving">
      <i class="material-icons">save_alt</i>
      <span *ngIf="!isSaving">儲存</span>
      <span *ngIf="isSaving">儲存中...</span>
    </button>
  </div>
  <ng-container *ngIf="schoolInfo && sectionInfo">
    <ng-container *ngIf="questionSubject">
      <h4>{{schoolInfo.SchoolName || '學校名稱未設定'}} {{sectionInfo.SchoolYear}}學年度 第{{sectionInfo.Semester}}學期 {{sectionInfo.Name}}</h4>
      <h4>{{studentInfo.ClassName}}班 {{studentInfo.SeatNo}}號 {{studentInfo.Name}}</h4>
      <ng-container *ngFor="let subject of questionSubject">
        <div class="card mb-2">
          <h4 class="m-2">{{subject.Subject}}</h4>
          <table class="table table-sm table-bordered">
            <ng-container *ngFor="let group of subject.QuestionGroup">
              <tr>
                <th colspan="2"
                    class=" text-left">{{group.Group}}</th>
              </tr>
              <ng-container *ngFor="let query of group.QuestionQuery">
                <tr>
                  <td class="text-left pl-4 pr-1"
                      style="width: 150px"
                      scope="col">
                    <div class="form-group mb-0">
                      <label class="custom-control-label mt-1 position-relative">
                        <strong class="text-danger position-absolute"
                                style="margin-left: -7px;margin-top: -7px;"
                                *ngIf="query.ShowMark">*</strong>
                        <span>{{query.Query}}</span></label>
                    </div>
                  </td>
                  <td class="text-left"
                      scope="col">
                    <div class="form-group mb-0">
                      <ng-container *ngFor="let questionText of query.QuestionText;let questionTextIndex = index">
                        <label *ngIf="questionTextIndex > 0"
                               class="custom-control-label mx-1">;</label>
                        <label class="custom-control-label position-relative"
                               *ngIf="questionText.Text">
                          <strong class="text-danger position-absolute"
                                  style="margin-left: -7px;margin-top: -7px;"
                                  *ngIf="questionText.ShowMark">*</strong>
                          <span>{{questionText.Text}}</span>
                          <span class="mx-1">:</span>
                        </label>
                        <ng-container *ngFor="let option of questionText.Option;let optionIndex = index">
                          <!-- <span *ngIf="optionIndex > 0">、</span> -->
                          <!-- <span style="word-break: break-all;white-space: pre-wrap;">{{option.AnswerValue}}</span> -->
                          <ng-container *ngIf="questionText.Type=='複選'">
                            <div class="custom-control custom-checkbox custom-control-inline m-1"
                                 [ngClass]="{'mr-3': optionIndex+1 < questionText.Option.length}">
                              <input type="checkbox"
                                     class="custom-control-input"
                                     [attr.id]="option.AnswerID"
                                     [checked]="option.AnswerChecked"
                                     (click)="option.change()" />
                              <label class="custom-control-label"
                                     for="{{option.AnswerID}}">
                                <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                              </label>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="questionText.Type=='單選'">
                            <div class="custom-control custom-radio custom-control-inline m-1"
                                 [ngClass]="{'mr-3': optionIndex+1 < questionText.Option.length}">
                              <input type="radio"
                                     class="custom-control-input"
                                     [attr.name]="subject.Subject+'_'+group.Group+'_'+query.Query+'_'+questionText.Text"
                                     [attr.id]="option.AnswerID"
                                     [checked]="option.AnswerChecked"
                                     (click)="option.change()" />
                              <label class="custom-control-label"
                                     for="{{option.AnswerID}}">
                                <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                              </label>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="questionText.Type=='填答'">
                            <div class="custom-control-inline m-0 mr-1"
                                 [ngClass]="{'w-100': option.IsTextArea }">
                              <label class="custom-control-label"
                                     [ngClass]="{'w-100 d-flex flex-wrap': option.IsTextArea }"
                                     style="padding-top: 3px;">
                                <ng-container *ngTemplateOutlet="optionLayout"></ng-container>
                              </label>
                            </div>
                          </ng-container>

                          <ng-template #optionLayout>
                            <ng-container *ngFor="let optionPart of option.Template;let partIndex = index">
                              <ng-container *ngIf="optionKey[optionPart];else normalPart">
                                <ng-container *ngIf="optionPart=='%TEXTAREA%';else textPart">
                                  <textarea class="sentence-input mx-0"
                                            autosize="autosize"
                                            [ngStyle]="optionKey[optionPart].style"
                                            [(ngModel)]="option.AnswerMatrix[partIndex]"
                                            (ngModelChange)="refreshMark()"></textarea>
                                </ng-container>
                                <ng-template #textPart>
                                  <input type="text"
                                         class="sentence-input mx-0"
                                         [ngStyle]="optionKey[optionPart].style"
                                         [(ngModel)]="option.AnswerMatrix[partIndex]"
                                         (ngModelChange)="refreshMark()" />
                                </ng-template>
                              </ng-container>
                              <ng-template #normalPart>
                                <span [ngStyle]="{'padding-top': option.IsTextArea?'1px':''}">{{optionPart}}</span>
                              </ng-template>
                            </ng-container>
                          </ng-template>

                        </ng-container>
                      </ng-container>
                    </div>
                    <!-- <pre>{{query | json}}</pre> -->
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


<div class="modal fade"
     id="modal-key"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-title"
     aria-hidden="true">
  <div class="modal-dialog modal-sm"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="modal-title">資料填寫</h5>
        <!-- <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="key"
                 class="col-form-label">請輸入填寫代碼</label>
          <input id="key"
                 [(ngModel)]="config.key" />
        </div>
        <div *ngIf="loadingFillInData"
             class="text-muted">
          loading...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-info"
                [ngClass]="{'disabled': loadingFillInData}"
                (click)="setConfig()">確定</button>
      </div>
    </div>
  </div>
</div>