<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="http://web.ischool.com.tw/devlibrary/gadget.js"></script> -->
  <script src="js/gadget.js"></script>
  <script>

    const client_id = 'b88fbfbbaa848c5b5b01ce51853eac7f';
    const secret = '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311';

    var vars = [], hash;
    var p = window.location.href.slice(window.location.href.indexOf('?') + 1);
    if (p.indexOf("#") >= 0)
      p = p.substring(0, p.indexOf("#"));
    var hashes = p.split('&');
    for (var i = 0; i < hashes.length; i++) {
      hash = decodeURIComponent(hashes[i]);
      var key = hash.substring(0, hash.indexOf("="));
      vars.push(key);
      vars[key] = hash.substring(hash.indexOf("=") + 1);
    }

    if (vars.dsns) {
      init({
        application: vars.dsns,
        oAuth: {
          clientID: client_id,
          clientSecret: secret,

        },
        paramValues: {
        }
      });
    }
    else {
      init({
        application: "demo.h.beibei.lai",
        oAuth: {
          clientID: client_id,
          clientSecret: secret,
          account: '',
          password: ''
        },
        paramValues: {
          //  "isShowCheckInTime" : true 
        }
      });
    }
  </script>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/purge.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" />
  <link href="css/defalut.css" rel="stylesheet" />
  <script src="js/jquery-1.8.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body ng-controller="Ctrl1" data-ng-init="init()">
  <div id="gadget" class="my-page">
    <h1 ng-click="getPendingRequests()">
      {{'TITLE'|translate}}
    </h1>
    <div id="mainMsg"></div>
    <table class="dis-h-t table table-striped table-bordered table-hover text-sm mt-6">
      <thead>
        <tr class="text-nowrap">
          <th>{{"APPLYDATE"|translate}}</th>
          <th class="my-sure">{{"APPLICANT"|translate}}</th>
          <th>{{"CLASS"|translate}}</th>
          <th>{{"SEATNO"|translate}}</th>
          <th>{{"STUDENTNUMBER"|translate}}</th>
          <th>{{"NAME"|translate}}</th>
          <th>{{"DATE"|translate}}</th>
          <th>{{"SECTION"|translate}}</th>
          <th>{{"TYPE"|translate}}</th>
          <th>{{"REASON"|translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="l in list">
          <td>{{l.apply_date|myDateFormat:"yyyy/MM/dd"}}</td>
          <td class="my-sure">{{l.applicant_type.toUpperCase()|translate}}</td>
          <td class="text-nowrap">{{l.class_name}}</td>
          <td>{{l.seat_no}}</td>
          <td>{{l.student_number}}</td>
          <td>{{l.name}}</td>
          <td>{{l.att_occur_date|myDateFormat:"yyyy/MM/dd"}}</td>
          <td>{{l.att_period}}</td>
          <td>{{l.att_absence_type}}</td>
          <td>{{l.att_reason}}</td>
          <td>
            <button type="button" class="btn btn-default"
              ng-click="showEditForm(l.uid)">{{"PROCESSING"|translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="accordion2" class="panel-group block sm:hidden text-sm mt-5">
      <div ng-repeat="tt in list" class="panel panel-default" style="margin-bottom: 16px;">
        <div data-toggle="collapse" data-parent="#accordion2" href='#collapse{{tt.uid}}'
          class="bg-gray-100 text-base py-2 px-4 cursor-pointer collapsed">
          <div class="flex justify-between items-center gap-2">
            <div class="flex items-center gap-2" style="word-break: break-all;">
              <div>{{tt.student_number}}</div>
              <div>{{tt.class_name}}</div>
              <div style="word-break: keep-all;">{{tt.seat_no}}</div>
              <div>{{tt.name}}</div>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5 5 1 1 5" />
            </svg>
          </div>
        </div>

        <div id="collapse{{tt.uid}}" class="panel-collapse collapse p-3">
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"APPLYDATE"|translate}}</div>
            <div class="text-nowrap">{{tt.apply_date|myDateFormat:"yyyy/MM/dd"}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"APPLICANT"|translate}}</div>
            <div>{{tt.applicant_type.toUpperCase()|translate}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"CLASS"|translate}}</div>
            <div>{{tt.class_name.toUpperCase()|translate}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"SEATNO"|translate}}</div>
            <div>{{tt.seat_no.toUpperCase()|translate}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"STUDENTNUMBER"|translate}}</div>
            <div>{{tt.student_number.toUpperCase()|translate}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"NAME"|translate}}</div>
            <div>{{tt.name.toUpperCase()|translate}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"DATE"|translate}}</div>
            <div>{{tt.att_occur_date|myDateFormat:"yyyy/MM/dd"}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"SECTION"|translate}}</div>
            <div>{{tt.att_period}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"TYPE"|translate}}</div>
            <div>{{tt.att_absence_type}}</div>
          </div>
          <div class="flex mt-3">
            <div class="w-20 mr-4 text-right shrink-0">{{"REASON"|translate}}</div>
            <div>{{tt.att_reason}}</div>
          </div>
          <div class="text-center my-4">
            <button type="button" class="btn btn-default"
              ng-click="showEditForm(tt.uid)">{{"PROCESSING"|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <div class="modal-title text-base" id="myModalLabel"><i class="glyphicon glyphicon-edit"></i> {{'TITLE'|translate}}</div>
        
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div id="mainMsg2"></div>
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"APPLYDATE"|translate}}</label>
                <div class="col-xs-8 col-sm-3">
                    {{ main.apply_date | myDateFormat:"yyyy/MM/dd"  }}
                </div>
                
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"APPLICANT"|translate}}</label>
                <div class="col-xs-8 col-sm-5">
                    {{main.applicant_type.toUpperCase()|translate}} {{ main.applicant_type === 'parent' ? '(' + main.applicant + ')' : ''}}
                </div>
            </div> 
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"CLASS"|translate}}</label>
                <div class="col-xs-8 col-sm-3">
                    {{main.class_name}}
                </div>
                
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"DATE"|translate}}</label>
                <div class="col-xs-8 col-sm-5">
                    {{main.att_occur_date | myDateFormat:"yyyy/MM/dd" }}
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"SEATNO"|translate}}</label>
                <div class="col-xs-8 col-sm-3">
                    {{main.seat_no}}
                </div>
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"SECTION"|translate}}</label>
                <div class="col-xs-8 col-sm-5">
                    {{main.att_period}}
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"NAME"|translate}}</label>
                <div class="col-xs-8 col-sm-3">
                    {{main.name}}
                </div>
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"TYPE"|translate}}</label>
                <div class="col-xs-8 col-sm-5">
                    {{main.att_absence_type}}
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"STUDENTNUMBER"|translate}}</label>
                <div class="col-xs-8 col-sm-3">
                    {{main.student_number}}
                </div>
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"REASON"|translate}}</label>
                <div class="col-xs-8 col-sm-5">
                    {{main.att_reason}}
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"FORMERTYPE"|translate}}</label>
                <div class="col-xs-8">
                        <span ng-show="attendance.length==0">
                        {{"NONE"|translate}}
                    </span>
                    <span ng-show="attendance.length>0" ng-repeat="a in attendance">
                        {{a.period+'('+a.absencetype+')'}}
                        <span ng-show="!$last">,</span>
                    <span>
                    
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0" ng-show="main.last_message">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"REMARKBYLASTSTAGE"|translate}}</label>
                <div class="col-xs-8">
                    {{main.last_message}}
                </div>
            </div>
            <div class="form-group flex flex-wrap items-baseline mb-0 mt-3">
                <label for="input02" class="col-xs-2 col-sm-2 text-right pr-0">{{"COMMENT"|translate}}</label>
                <div class="col-xs-10 col-sm-8">
                    <input type="text" ng-readonly="comfirm || !form1.uid" class="form-control" id="input02" placeholder="{{'PLEASEENTERCOMMENT'|translate}}" ng-model="form1.message">
                        {{"REMARKMSG"|translate}}
                </div>
            </div>
            <div class="form-group flex flex-wrap mb-0" ng-show="comfirm">
                <label class="col-xs-4 col-sm-2 text-right pr-0">{{"RESULT"|translate}}</label>
                <div class="col-xs-8">
                    <span ng-show="form1.status == '1'">{{"APPROVE"|translate}}</span>
                    <span ng-show="form1.status == '0'">{{"REJECT"|translate}}</span>
                </div>
            </div>
        </form>
    </div>

    <!-- 一開始出現此 DIV ，下方 DIV 隱藏 -->
    <div ng-show="!comfirm" class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="beforeok('1')">{{"APPROVE"|translate}}</button>
        <button type="button" class="btn btn-danger" ng-click="beforeok('0')">{{"REJECT"|translate}}</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">{{"CANCEL"|translate}}</button>
    </div>

    <!-- 當在上面 DIV 按下儲存後，隱藏上面 DIV 顯示此 DIV ， INPUT欄位加上 readonly 變為無法輸入狀態 -->
    <div ng-show="comfirm" class="modal-footer">
        <div class="alert alert-info">
            <strong><i class="fa fa-info-circle"></i> {{"SENDRESULT?"|translate}}</strong>
            <button type="button" class="btn btn-default" ng-click="cancelcomfirm()">{{"CANCEL"|translate}}</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">{{"COMFIRM"|translate}}</button>
        </div>
    </div>
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js"
      type="text/javascript"></script>
    <script type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/default.js"></script>
</body>

</html>