<!-- 學生個人 - 缺曠獎懲 -->
<div class="tab-pane fade-in" id="listThree"
    *ngIf="!isLoading; else tplLoading">
    <div class="d-md-flex align-items-center sub-title mb-3 base-class-header">
        <h4 class="mb-0 mr-auto"><b>缺曠獎懲</b></h4>
    </div>
    <!-- 學年度學期 -->
    <div class="dropdown mb-3">
        <button class="btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">{{curSchoolYear}}學年度 第{{curSemester}}學期</button>
        <div class="dropdown-menu">
            <a *ngFor="let ss of ssList"
                class="dropdown-item"
                href="javascript:void(0);"
                [class.active]="curSchoolYear === ss.SchoolYear && curSemester === ss.Semester"
                (click)="dataReload(ss.SchoolYear, ss.Semester)"
                >{{ss.SchoolYear}}學年度 第{{ss.Semester}}學期</a>
        </div>
    </div>
    <!-- 德行與日常生活資料 -->
    <h5 class="mb-2">德行與日常生活表現</h5>
    <div class="list-group" id="moral">
        <!-- 德行成績 -->
        <div class="expansion-panel list-group-item">
            <a aria-controls="collapseOne"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#collapseOne">
                德行
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div class="collapse"
                  data-parent="#moral"
                  id="collapseOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label>導師評語</label>
                        {{teacherComment || '(無)'}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- 日常生活表現 -->
        <ng-container *ngIf="examList.length">
            <div class="expansion-panel list-group-item" 
                *ngFor="let exam of examList">
                <a class="expansion-panel-toggler collapsed"
                    data-toggle="collapse"
                    [href]="'#' + exam.ExamID"
                    role="button"
                    aria-expanded="false">
                    {{exam.Name}}
                    <div class="expansion-panel-icon ml-3 text-black-secondary">
                        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                    </div>
                </a>
                <div class="collapse" [id]="exam.ExamID">
                    <ul class="list-group list-group-flush">
                        <ng-container *ngIf="exam.HasItems; else tplTextContent">
                            <li class="list-group-item"
                                *ngFor="let item of exam.Items">
                                <label>{{item.Name}}： {{item.Index}}</label>
                                {{getDailyLifeScore(exam, item.Name) || '(無)'}}
                            </li>
                        </ng-container>
                        <ng-template #tplTextContent>
                            <li class="list-group-item">
                                {{getDailyLifeScore(exam, '') || '(無)'}}
                            </li>
                        </ng-template>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- 缺曠資料 -->
    <h5 class="mt-3 mb-2">缺曠紀錄</h5>
    <div class="list-group" id="absence">
        <div class="expansion-panel list-group-item">
            <a aria-controls="absenceTable"
                aria-expanded="false"
                class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                href="#absenceTable"
                id="headingOne">
                <div>
                    <span class="badge mr-2"
                        [class.badge-light]="targetAbsenceType !== 'all'"
                        [class.badge-info]="targetAbsenceType === 'all'"
                        (click)="setTargetAbsenceType($event, 'all')">全部：{{totalAttCount}}</span>
                    <span class="badge badge-light ml-2"
                        [class.badge-light]="targetAbsenceType !== absence"
                        [class.badge-info]="targetAbsenceType === absence"
                        *ngFor="let absence of absenceTypeList"
                        (click)="setTargetAbsenceType($event, absence)">{{absence}}: {{mapAttRecByAbsenceType.get(absence).length}}</span>
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <div aria-labelledby="headingOne"
                  class="collapse"
                  data-parent="#absence"
                  id="absenceTable">
                <div class="table-responsive table-hover table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">日期</th>
                                <th scope="col" *ngFor="let period of periodList">
                                    {{period.Name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let date of getTargetOccurDateList(targetAbsenceType)">
                                <td>{{date}}</td>
                                <td *ngFor="let period of periodList">
                                    {{getAbsence(targetAbsenceType ,date, period.Name)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 非明細sample -->
        <div class="expansion-panel list-group-item"
            *ngFor="let periodType of periodTypeList">
            <a class="expansion-panel-toggler collapsed"
                data-toggle="collapse"
                [href]="'#' + periodType"
                role="button"
                aria-expanded="false">
                <div>
                    <span class="badge badge-warning mr-2">
                        非明細{{periodType}}：{{getStaticAbsenceCount(periodType)}}
                    </span>
                </div>
                <div class="expansion-panel-icon ml-3 text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                </div>
            </a>
            <!-- 僅轉入生與特殊狀況會以非明細記錄 -->
            <div class="collapse" [id]="periodType">
                <div class="expansion-panel-body">
                    <span class="ml-4" *ngFor="let data of mapStaticAbsence.get(periodType)">
                        {{data.Name}}: {{data.Count}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- 獎懲資料 -->
    <h5 class="mt-3 mb-2">獎懲紀錄</h5>
    <ul class="nav nav-pills mb-2 reward"
        id="pills-tab"
        role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
                id="pills-goodB-tab"
                data-toggle="pill"
                href="#pills-goodB"
                role="tab"
                aria-controls="pills-goodB"
                aria-selected="true">大功<span class="badge badge-success mt-1">{{meritACount}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-goodS-tab"
                data-toggle="pill"
                href="#pills-goodS"
                role="tab"
                aria-controls="pills-goodS"
                aria-selected="false">小功<span class="badge badge-success mt-1">{{meritBCount}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-good-tab"
                data-toggle="pill"
                href="#pills-good"
                role="tab"
                aria-controls="pills-good"
                aria-selected="false">嘉獎<span class="badge badge-success mt-1">{{meritCCount}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-badB-tab"
                data-toggle="pill"
                href="#pills-badB"
                role="tab"
                aria-controls="pills-badB"
                aria-selected="true">大過<span class="badge badge-danger mt-1">{{demeritACount}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-badS-tab"
                data-toggle="pill"
                href="#pills-badS"
                role="tab"
                aria-controls="pills-badS"
                aria-selected="false">小過<span class="badge badge-danger mt-1">{{demeritBCount}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                id="pills-bad-tab"
                data-toggle="pill"
                href="#pills-bad"
                role="tab"
                aria-controls="pills-bad"
                aria-selected="false">警告<span class="badge badge-danger mt-1">{{demeritCCount}}</span></a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <!-- 大功 -->
        <div class="tab-pane fade show active"
              id="pills-goodB"
              role="tabpanel"
              aria-labelledby="pills-goodB-tab">
            <ul class="list-group">
                <ng-container *ngIf="meritAList.length; else tplNoData">
                    <li *ngFor="let dis of meritAList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">{{dis.MeritReason}}</span>
                        <span class="text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <!-- 小功 -->
        <div class="tab-pane fade"
              id="pills-goodS"
              role="tabpanel"
              aria-labelledby="pills-goodS-tab">
            <ul class="list-group">
                <ng-container *ngIf="meritBList.length; else tplNoData">
                    <li *ngFor="let dis of meritBList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">{{dis.MeritReason}}</span>
                        <span class="text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <!-- 嘉獎 -->
        <div class="tab-pane fade"
              id="pills-good"
              role="tabpanel"
              aria-labelledby="pills-good-tab">
            <ul class="list-group">
                <ng-container *ngIf="meritCList.length; else tplNoData">
                    <li *ngFor="let dis of meritCList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">{{dis.MeritReason}}</span>
                        <span class="text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <!-- 大過 -->
        <div class="tab-pane fade"
              id="pills-badB"
              role="tabpanel"
              aria-labelledby="pills-badB-tab">
            <ul class="list-group">
                <ng-container *ngIf="demeritAList.length; else tplNoData">
                    <li *ngFor="let dis of demeritAList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">
                            {{dis.MeritReason}}
                            <p *ngIf="dis.DemeritIsClear" class="text-warning font-weight-bold mb-0">
                                {{dis.DemeritClearReason}}
                            </p>
                        </span>
                        <span class="text-danger text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <!-- 小過 -->
        <div class="tab-pane fade"
              id="pills-badS"
              role="tabpanel"
              aria-labelledby="pills-badS-tab">
            <ul class="list-group">
                <ng-container *ngIf="demeritBList.length; else tplNoData">
                    <li *ngFor="let dis of demeritBList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">
                            {{dis.MeritReason}}
                            <p *ngIf="dis.DemeritIsClear" class="text-warning font-weight-bold mb-0">
                                {{dis.DemeritClearReason}}
                            </p>
                        </span>
                        <span class="text-danger text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
        <!-- 警告 -->
        <div class="tab-pane fade"
              id="pills-bad"
              role="tabpanel"
              aria-labelledby="pills-bad-tab">
            <ul class="list-group">
                <ng-container *ngIf="demeritCList.length; else tplNoData">
                    <li *ngFor="let dis of demeritCList"
                        class="list-group-item list-group-item-action d-flex align-items-baseline">
                        <label class="d-inline text-nowrap mb-0 mr-2">{{dis.Occurdate}}</label>
                        <span class="media-body">
                            {{dis.MeritReason}}
                            <p *ngIf="dis.DemeritIsClear" class="text-warning font-weight-bold mb-0">
                                {{dis.DemeritClearReason}}
                            </p>
                        </span>
                        <span class="text-danger text-nowrap ml-auto">{{dis.Detail}}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<ng-template #tplLoading>
    <div class="text-center">Loading...</div>
</ng-template>

<ng-template #tplNoData>
    <li class="list-group-item list-group-item-action d-flex align-items-baseline">
        <span class="media-body">無資料</span>
    </li>
</ng-template>