<div class="container-fluid cbs d-flex justify-content-between flex-column" style ="width: 90%; padding-top :0px ;">
    <div id="index" class="h-100" page>
        <div id ="header" aria-label="breadcrumb text-nowrap text-truncate">
        
                <div class="" aria-current="page"> {{currSchoolYearName}}</div>
         
        </div>
        <ng-container *ngIf="!isLoading; else tplLoading">
            <ng-container *ngIf="classList.length > 0; else tplNoData">
                <div class="d-flex flex-row">
                    <div class="dropdown mb-3">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{curClass.class_name}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0)" *ngFor="let tClass of classList"
                                (click)="setCurClass(tClass)">
                                {{tClass.class_name}}
                            </a>
                        </div>
                    </div>
<div>
    <button type="button" class="btn  ml-3  " aria-haspopup="true" aria-expanded="false"
    (click)="exportData('#ClassSemesterScoreTable')">
    匯出
</button>
</div>
                    <div class="flex-fill ml-5 align-self-end">
                        <p class="text-start">加減分輸入期間：{{startTime}} 至 {{endTime}} </p>
                    </div>

                </div>
                <div class="scrollable mb-3">
                <table  id ="ClassSemesterScoreTable"class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr >
                            <th class="stiky-col-top " >學號</th>
                            <th class="stiky-col-top " >座號</th>
                            <th class="stiky-col-top " >學生</th>
                            <th class="stiky-col-top " >德行加減分
                                <!-- <span (click)="saveAll()"> 儲存</span> -->
                                <span *ngIf="isEditMode" class="material-icons-outlined icon " style ="cursor: pointer;" (click)="saveAll()">
                                    save
                                    </span>
                                    
                                <!-- icon -->
                              <span  *ngIf="!isEditMode" class="material-icons-outlined icon"   style ="cursor: pointer;" (click)="changeToEditMode()">
                                    mode_edit 
                               </span>
                                    
                            </th>
                        </tr>
                    </thead>
                    <tbody class="point">
                        <ng-container *ngIf="studentList.length > 0; else tplNostudent">
                            <!-- <tr *ngFor="let stu of studentList" (click)="openEditForm(stu)"> -->
                                <tr *ngFor="let stu of studentList" >
                                <td>{{stu.StudentNumber}}</td>
                                <td>{{stu.SeatNo}}</td>
                                <td class="col_name" >{{stu.StudentName}}</td>
                                <!-- isEditMode 判斷  -->
                                <ng-container *ngIf="!isEditMode " >
                                    <td>{{stu.SbDiff}}</td>
                                </ng-container>
                                <ng-container  *ngIf="isEditMode ">
                                    <td class ="adjust-th">
                                        <input  [attr.max]="MaxRange" 
                                                [attr.min]="LowRange" 
                                                class="adjust-input" 
                                                [(ngModel)]="stu.SbDiff" 
                                                type="number" 
                                                id="adjustScore" 
                                                name="adjustScore"
                                                (change)="onInputChange(stu)"> 
                                
                                    </td>
                                </ng-container>
                                <!--end isEditMode 判斷  -->
                                
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>







<ng-template #tplLoading>
    <h4>資料載入中...</h4>
</ng-template>

<ng-template #tplNoData>
    <h4>班導師未帶班級。</h4>
</ng-template>

<ng-template #tplNostudent>
    <tr>
        <td colspan="8">此班級無學生</td>
    </tr>
</ng-template>

<ng-template #tplEditForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{curStudent.StudentName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-form-label">
                    請輸入德行加減分
                </label>
                <input #teacher_input class="form-control " rows="1" placeholder="請輸入德行加減分" [(ngModel)]="curStudent.SbDiff"
                   [ngClass]="{'error': !curStudent.validate_ms}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="save()">儲存</button>
            <button type="button" class="btn btn-dark" (click)="modalRef.hide()">取消</button>
        </div>
    </div>
</ng-template>

<ng-template #tplForbid>
    <div class="modal-header">
        <h4 class="modal-title pull-left">提醒</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-danger">
        成績輸入時間已截止。
    </div>
</ng-template>