<div class="container-fluid cbs d-flex justify-content-between flex-column">
  <div id="index" page>
    <nav aria-label="breadcrumb text-nowrap text-truncate">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" routerLink="">缺曠紀錄</li>
        <li class="breadcrumb-item active" aria-current="page"> 學生缺曠統計</li>
      </ol>
    </nav>


    <div class="d-flex flex-column flex-sm-row mb-3">
      <div class="d-flex flex-column flex-sm-row mb-3" aria-label="breadcrumb text-nowrap text-truncate">學生:
        {{this.selectedName}}</div>
        <div class="dropdown ml-auto mt-5 mt-sm-0">
          <a style="cursor: pointer;" (click)="exportFile('xls')">
              <mat-icon> cloud_download</mat-icon>學生明細(Excel)
          </a>
          <a style="cursor: pointer;" (click)="exportFile('html')">
              <mat-icon> cloud_download</mat-icon>學生明細(Html)
          </a>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="table-responsive" *ngFor="let data of this.sortedStudentList;">

        <div class="py-2 px-4 semester">{{ data.semester }}</div>
        <div *ngFor="let item of data.statics"
          class="d-flex flex-row justify-content-between align-items-center py-1 px-4 data-item"
          style="border-bottom: 1px solid lightgray;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0" style="width: 100%;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>{{ item.absenceType }}</div>
              </mat-panel-title>
              <mat-panel-description>
                <div>{{ item.count }} 節</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="border-top: 1px solid lightgray;" class="py-2" *ngFor="let date of item.detail;"
                 class ="d-flex flex-row justify-content-between align-items-center py-1 px-4 data-item">
              <div>
                {{ date.date }}
              </div>
              <div class="ml-4">
                {{ date.period }}
              </div>
            </div>
          </mat-expansion-panel>

          <!-- <div>{{ item.absenceType }}</div>
          <div>{{ item.count }} 節</div>
          <div (click)=""> <button mat-icon-button>
              <span class="material-icons">
                keyboard_arrow_right
              </span></button></div> -->
        </div>
      </div>
    </div>
  </div>
